@using Falcon.App.UI.HtmlHelpers
<div class="mini-container" >
    <div style="overflow: hidden; border-right: 1px solid red; width: 61%; margin-right: 7px;
        float: left;">
        <div class="editor-row">
            Select Tests:
            <span class="info-tip" style="vertical-align: middle;"><img title="Info" alt="Info" src="/App/Images/info-icon.gif"></span>
            <div class="prop-tip-info" style="display: none;">Selected test will not be review by any physician.</div>
            <br />
            @Html.DropDownList("testNotReviewable", DropDownHelper.CorporateReviewableTests(), new { @style = "width:98%;" })
        </div>
    </div>
    <div style="overflow: hidden; width: 36%; float: left; margin-top: 10px;">
        <input type="button" id="addNotReviewableTest" value="Attach" />
    </div>
</div>
