<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=HealthFairProd;User ID=falconuser;Password=Screening!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="MediaLocation" value="F:\dev-media.healthfair.com" />
    <add key="MediaUrl" value="https://dev-media.healthfair.com" />
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthFairProd" />
    <add key="ArchiveMediaUrl" value="https://dev-media.healthfair.com/Archive"/>
    <add key="ArchiveMediaLocation" value="F:\Archive\dev-media.healthfair.com"/>

    <add key="PhysicianPartnerResultPdfDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\Resource\ResultPdfDownloadSettings.xml" />
    <add key="PhysicianPartnerResultPdfDownloadInterval" value="24" />
    <add key="PhysicianPartnerResultPdfDownloadTime" value="01:57:00" />
    <add key="PhysicianPartnerResultPdfDownloadPath" value="F:\SFTP\QA-SFTP\PhysicianPartners\download\pdf" />
    <add key="PhysicianPartnerResultTiffDownloadPath" value="F:\SFTP\QA-SFTP\PhysicianPartners\download\tiff" />

    <add key="PhysicianPartnerAppointmentBookedReportDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\Resource\AppointmentBookedReportDownloadSettings.xml" />
    <add key="PhysicianPartnerAppointmentBookedReportDownloadInterval" value="24" />
    <add key="PhysicianPartnerAppointmentBookedReportDownloadTime" value="03:55:00" />
    <add key="PhysicianPartnerAppointmentBookedReportDownloadPath" value="F:\SFTP\QA-SFTP\PhysicianPartners\download\appointments" />

    <add key="PhysicianPartnerResultReportDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\Resource\ResultReportDownloadSettings.xml" />
    <add key="PhysicianPartnerResultReportDownloadInterval" value="24" />
    <add key="PhysicianPartnerResultReportDownloadTime" value="03:57:00" />
    <add key="PhysicianPartnerResultReportDownloadPath" value="F:\SFTP\QA-SFTP\PhysicianPartners\download\resultsexport" />
    <add key="PhysicianPartnerAccountId" value="929"/>

    <add key="PcpResultPdfDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\Resource\ResultPdfDownloadSettings_{0}.xml"/>
    <add key="PcpResultPdfDownloadPath" value="F:\SFTP\QA-SFTP\{0}\download\pdf"/>
    <add key="PcpResultPdfDownloadAccountIds" value="1038,1077,1122,1125"/>

    <add key="PcpAppointmentBookedReportDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\Resource\AppointmentBookedReportDownloadSettings_{0}.xml"/>
    <add key="PcpAppointmentBookedReportDownloadPath" value="F:\SFTP\QA-SFTP\{0}\download\appointments"/>
    <add key="PcpAppointmentBookedReportDownloadAccountIds" value="1038,1077,1122"/>

    <add key="PcpResultReportDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\Resource\ResultReportDownloadSettings_{0}.xml"/>
    <add key="PcpResultReportDownloadPath" value="F:\SFTP\QA-SFTP\{0}\download\results"/>
    <add key="PcpResultReportDownloadAccountIds" value="1077,1122" />

    <add key="PcpDownloadCutOfDate" value="09/01/2017" />
    <add key="AwvAaaFindingChangeDate" value="07/22/2015"/>

    <add key="WellmedSftpHost" value="69.28.70.124" />
    <add key="WellmedSftpUserName" value="wellmedtest" />
    <add key="WellmedSftpPassword" value="testmywellmed1!" />
    <add key="SendReportToWellmedSftp" value="false"/>

    <add key="WellmedAccountId" value="1003"/>

    <add key="WellmedResultPdfDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\Resource\ResultPdfDownloadSettings_{0}.xml"/>
    <add key="WellmedResultPdfDownloadPath" value="F:\SFTP\QA-SFTP\Wellmed\download\Reports\pdf"/>
    <add key="WellmedSftpResultPdfDownloadPath" value="Inbound\Reports"/>

    <add key="WellmedAppointmentBookedReportDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\Resource\AppointmentBookedReportDownloadSettings_{0}.xml"/>
    <add key="WellmedAppointmentBookedReportDownloadPath" value="F:\SFTP\QA-SFTP\Wellmed\download\Reports\appointments\{0}\Daily"/>
    <add key="WellmedSftpAppointmentBookedReportDownloadPath" value="Inbound\Appointments\{0}\Daily"/>

    <add key="WellmedResultReportDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\Resource\ResultReportDownloadSettings_{0}.xml"/>
    <add key="WellmedResultReportDownloadPath" value="F:\SFTP\QA-SFTP\Wellmed\download\Reports\results"/>
    <add key="WellmedSftpResultReportDownloadPath" value="Inbound\Results"/>

    <add key="HcpCaliforniaAccountId" value="998"/>

    <add key="HcpCaliforniaResultPdfDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\Resource\ResultPdfDownloadSettings_{0}.xml"/>
    <add key="HcpCaliforniaResultPdfDownloadPath" value="F:\SFTP\QA-SFTP\{0}\download"/>

    <add key="MolinaAccountId" value="1013"/>

    <add key="MolinaAppointmentBookedReportDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\Resource\AppointmentBookedReportDownloadSettings_{0}.xml"/>
    <add key="MolinaAppointmentBookedReportDownloadPath" value="F:\SFTP\QA-SFTP\Molina\download\Reports\appointments\{0}"/>

    <add key="MolinaResultPdfDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\Resource\ResultPdfDownloadSettings_{0}.xml"/>
    <add key="MolinaResultPdfDownloadPath" value="F:\SFTP\QA-SFTP\Molina\download\Reports\pdf"/>

    <add key="MolinaResultReportDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\Resource\ResultReportDownloadSettings_{0}.xml"/>
    <add key="MolinaResultReportDownloadPath" value="F:\SFTP\QA-SFTP\Molina\download\Reports\results"/>

    <add key="DeleteFileAfterPgpEcnryption" value="true"/>

    <add key="UnlockCorporateEventsScheduleTime" value="20:00:00"/>
    <add key="UnlockCorporateEventsScheduleInterval" value="24"/>

    <add key="ParseLockedEventFileSchduleInterval" value="1"/>

    <add key="LockCorporateEventScheduleTime" value="08:05:00"/>
    <add key="LockCorporateEventScheduleInterval" value="24"/>

    <add key="MolinaSftpHost" value="69.28.70.124" />
    <add key="MolinaSftpUserName" value="wellmedtest" />
    <add key="MolinaSftpPassword" value="testmywellmed1!" />
    <add key="MolinaLockCorporateEventFolderLocation" value="/Outbound/ScreeningEventReports/Molina"/>

    <add key="WellmedLockCorporateEventFolderLocation" value="/Outbound/ScreeningEventReports/Wellmed"/>

    <add key="HealthPlanIncorrectPhoneExportDownloadPath" value="F:\SFTP\QA-SFTP\{0}\download\IncorrectPhone\{1}"/>
    <add key="HealthPlanHomeVisitRequestExportDownloadPath" value="F:\SFTP\QA-SFTP\{0}\download\HomeVisitRequest\{1}"/>
    <add key="HealthPlanCustomerListExportScheduleInterval" value="24"/>
    <add key="HealthPlanIncorrectPhoneExportScheduleTime" value="07:13:00"/>
    <add key="HealthPlanHomeVisitRequestedExportScheduleTime" value="07:13:00"/>
    <add key="HealthPlanCustomerExportCutoffDate" value="09/01/2017"/>
    <add key="PageSizeHealthPlanExport" value="500"/>
    <add key="HealthPlanCustomerExportIntervalDay" value="4"/>

    <add key="WellmedWeeklyAppointmentBookedReportPath" value="F:\SFTP\QA-SFTP\Wellmed\download\Reports\appointments\{0}\Weekly"/>
    <add key="WellmedSftpWeeklyAppointmentBookedReportPath" value="Inbound\Appointments\{0}\Weekly"/>
    <add key="WellmedWeeklyAppointmentBookedReportIntervalDay" value="4"/>
    <add key="WellmedWeeklyAppointmentBookedReportTime" value="08:40:00"/>

    <add key="NtspAccountIds" value="9988"/>

    <add key="NtspResultPdfDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\Resource\ResultPdfDownloadSettings_{0}.xml"/>
    <add key="NtspResultPdfDownloadPath" value="F:\SFTP\QA-SFTP\{0}\download"/>

    <add key="HcpCaliforniaSftpHost" value="66.220.26.156" />
    <add key="HcpCaliforniaSftpUserName" value="healthfair" />
    <add key="HcpCaliforniaSftpPassword" value="healthfair123" />
    <add key="SendReportToHcpCaliforniaSftp" value="false"/>
    <add key="HcpCaliforniaSftpResultPdfDownloadPath" value=""/>

    <add key="HealthPlanTestNotPerformedExportDownloadPath" value="F:\SFTP\QA-SFTP\{0}\download\TestNotPerformed\{1}"/>
    <add key="HealthPlanTestNotPerformedExportScheduleInterval" value="24"/>
    <add key="HealthPlanTestNotPerformedExportScheduleTime" value="02:57:00"/>
    <add key="HealthPlanTestNotPerformedIntervalDay" value="1"/>
    <add key="HealthPlanTestNotPerformedCutOfDate" value="01/08/2016"/>

    <add key="HealthPlanOutreachReportExportDownloadPath" value="F:\SFTP\QA-SFTP\{0}\download\OutreachReport\{1}"/>
    <add key="HealthPlanOutreachReportExportScheduleInterval" value="24"/>
    <add key="HealthPlanOutreachReportExportScheduleTime" value="09:30:00"/>
    <add key="HealthPlanOutreachReportIntervalDay" value="1"/>
    <add key="HealthPlanOutreachReportCutOfDate" value="01/01/2016"/>
    <add key="HealthPlanOutreachReportAccountIds" value="1038" />

    <add key="MartinPointAccountId" value="1038" />
    <add key="MartinPointAppointmentBookedReportPath" value="F:\SFTP\QA-SFTP\{0}\download\appointments\{1}\Daily"/>
    <add key="MartinPointAppointmentBookedReportScheduleTime" value="09:30:00"/>

    <add key="PatientInputFileAccountIds" value="998" />
    <add key="PatientInputFileReportPath" value="F:\SFTP\QA-SFTP\{0}\download\Reports\{1}"/>
    <add key="PatientInputFileScheduleTime" value="09:30:00"/>
    <add key="PatientInputFileScheduleInterval" value="24"/>

    <add key="ChangeLeadReadingDate" value="10/05/2016"/>

    <add key="BcbsAccountIds" value="998"/>
    <add key="BcbsResultPdfDownloadPath" value="F:\SFTP\QA-SFTP\{0}\download"/>

    <add key="UrineMicroalbuminChangeDate" value="07/22/2016"/>

    <add key="HealthPlanMemberStatusReportAccountId" value="1038"/>
    <add key="HealthPlanMemberStatusReportFileReportPath" value="F:\SFTP\QA-SFTP\{0}\download\MemberStatus\{1}"/>
    <add key="HealthPlanMemberStatusReportScheduleTime" value="08:36:00"/>
    <add key="HealthPlanMemberStatusReportScheduleInterval" value="24"/>
    <add key="BcbsSouthCarolinaCustomTag" value="MartinPoint"/>

    <add key="HcpNvAccountId" value="966"/>
    <add key="HcpNvLockCorporateEventFolderLocation" value="F:\SFTP\QA-SFTP\{0}\download\appointments\{1}"/>

    <add key="FloridaBlueAccountId" value="1040"/>

    <add key="DiabeticRetinopathyParserReportNumberOfDays" value="7"/>
    <add key="DiabeticRetinopathylogExportDownloadPath" value="F:\SFTP\QA-SFTP\IRIS\Reports\DiabeticRetinopathylog\{0}"/>
    <add key="DiabeticRetinopathylogIntervalDay" value="1"/>
    <add key="DiabeticRetinopathylogSchedule" value="03:51:00"/>
    <add key="DiabeticRetinopathylogInterval" value="1"/>

    <add key="HealthNowAccountId" value="1038"/>
    <add key="HealthNowSftpHost" value="66.220.26.156" />
    <add key="HealthNowSftpUserName" value="healthfair" />
    <add key="HealthNowSftpPassword" value="healthfair123" />
    <add key="SendPdfToHealthNowSftp" value="true"/>
    <add key="HealthNowSftpPath" value="inbound\download\pdf"/>

    <add key="WellCareAccountId" value="1037"/>
    <add key="WellCareSftpHost" value="66.220.26.156" />
    <add key="WellCareSftpUserName" value="healthfair" />
    <add key="WellCareSftpPassword" value="healthfair123" />
    <add key="SendPdfToWellCareSftp" value="true"/>
    <add key="WellCareSftpPath" value="inbound\WellCare\download\pdf"/>

    <add key="BasicBiometricCutOfDate" value="03/25/2015"/>

    <add key="NtspSftpHost" value="66.220.26.156" />
    <add key="NtspSftpUserName" value="healthfair" />
    <add key="NtspSftpPassword" value="healthfair123" />
    <add key="SendReportToNtspSftp" value="true"/>
    <add key="NtspSftpResultReportDownloadPath" value="Inbound\{0}\Download"/>

    <add key="BcbsMnAccountId" value="1059" />
    <add key="BcbsMnSftpHost" value="66.220.26.156" />
    <add key="BcbsMnSftpUserName" value="healthfair" />
    <add key="BcbsMnSftpPassword" value="healthfair123" />
    <add key="SendReportToBcbsMn" value="true"/>
    <add key="BcbsMnSftpResultReportDownloadPath" value="Inbound\{0}\Download"/>

    <add key="BloodTestChangeDate" value="02/09/2015"/>
    <add key="ShowHideRepeatStudyDate" value="02/02/2015" />
    <add key="BasicBiometricCutOfDate" value="03/02/2015"/>
    <add key="HemoglobinChangeDate" value="05/07/2015"/>
    <add key="AwvAaaFindingChangeDate" value="07/02/2015"/>
    <add key="QualityMeasuresChangeDate" value="11/10/2015"/>
    <add key="Phq9ChangeDate" value="11/10/2015"/>
    <add key="AwvEchoFindingChangeDate" value="11/02/2015"/>
    <add key="MammogramChangeDate" value="06/02/2016"/>

    <add key="IFobtChangeDate" value="07/02/2016"/>
    <add key="UrineMicroalbuminChangeDate" value="07/02/2016"/>
    <add key="FluShotChangeDate" value="10/04/2016"/>
    <add key="AwvFluShotChangeDate" value="10/04/2016"/>
    <add key="PneumococcalChangeDate" value="10/04/2016"/>

    <add key="ChangeLeadReadingDate" value="10/07/2016"/>

    <add key="ChlamydiaChangeDate" value="11/02/2014" />
    <add key="DpnChangeDate" value="07/13/2017"  />

    <add  key="HcpNvSftpHost" value="localhost" />
    <add  key="HcpNvSftpUserName" value="TestHealthFair" />
    <add  key="HcpNvSftpPassword" value="abc@1234" />
    <add  key="SendReportToHcpNv" value="true"/>
    <add key="HcpNvSftpResultReportDownloadPath" value="ToHcpNv"/>

    <add key="MonarchAccountId" value="1060"/>
    <add key="SftpResouceFilePath" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\sftpCridentials\"/>

    <add key="OptumHomeVisitRequesedAccountIds" value="1014,1060" />
    <add key="OptumHomeVisitRequesedDownloadPath" value="F:\SFTP\QA-SFTP\Taazaa\Download\{0}\HomeVisitRequesed" />

    <add key="OptumIncorrectPhoneNumberAccountIds" value="1014,1060" />
    <add key="OptumIncorrectPhoneNumberDownloadPath" value="F:\SFTP\QA-SFTP\Taazaa\Download\{0}\IncorrectPhoneNumber" />

    <add key="DoNotSendHomeVistIncorrectPhoneNumberAccountIds" value="1069" />

    <add key="MartinsPointExclusiveAccountId" value="1065"/>

    <add key="StartYear" value="2015"/>

    <add key="ExcellusAccountId" value="1043"/>
    <add key="ExcellusCustomTags" value="19august 17,BCBS MI 18august 17"/>
    <add key="ExcellusExportResultReportDayOfWeek" value="2"/>

    <add key="HealthNowCustomTags" value="HealthNow_NENY_Assessment_2017_List-1,HealthNow_WNY_Assessment_2017_List-1"/>
    <add key="ResultPostedToPlanPath" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\ResultPostedXML\"/>
    <add key="HealthPlanDownloadPath" value="F:\SFTP\QA-SFTP\{0}\download"/>

    <add key="MedMutualAccountId" value="1077"/>
    <add key="MedMutualExportDay" value="5"/>

    <add key="FloridaBlueReportsDayOfWeek" value="5"/>

    <add key="AppleCareAccountId" value="1078"/>
    <add key="AppleCareAppointmentBookedReportDayOfWeek" value="5"/>
    <add key="PdfLogFilePath" value="F:\SFTP\QA-SFTP\{0}\" />

    <add key="ConnecticareAccountId" value="1063"/>
    <add key="BcbsAlAccountId" value="1079"/>
    <add key="BcbsAlSftpDownloadPath" value="Inbox\From HealthFair\"/>
    <add key="ConnecticareMaAccountId" value="1075"/>
    <add key="ResultNotPostedToPlanPath" value="D:\Jobs\dev-hip.healthfair.com\PPExport.Job\ResultNotPostedCSV\"/>

    <add key="WellmedWellCareAccountId" value="1080" />

    <add key="WellmedWellCareAccountId" value="1080" />
    <add key="WellCareToWellMedCustomTags" value="WellCare-FL_Assessments_2017_List-2"/>
    <add key="WellCareToWellmedAccountId" value="1048,1080"/>
    <add key="WellmedReportAccountIds" value="1003,1048,1080"/>

    <add key="OptumAccountIds" value="1014,1047,1061,1111" />

    <add key="HealthPlanMemberStatusReportAccountIds" value="1044,1114"/>
    <add key="HealthPlanExportRootPath" value="F:\SFTP\QA-SFTP\{0}"/>

    <add key="WellmedResultPdfCatalystDownloadPath" value="F:\SFTP\QA-SFTP\Wellmed\download\Catalyst\pdf"/>
    <add key="WellmedSftpResultPdfCatalystDownloadPath" value="Inbound\Catalyst\pdf"/>
    <add key="WellmedCustomerGroupName" value="Catalyst Senior Health Network,CATALYST SENIOR NETWORK,Hampton Clinic PA,JAMES ZODROW MD PA,NORTH HILLS FAMILY MEDICINE,QUESTCARE MEDICAL CLINICS PLLC,RICHARD GRANDJEAN MD PA,SHIVA MEDICAL CARE CENTER LLC,SUJATHA SUBRAMANIAN MD,VILLAGE HEALTH PARTNERS"/>

    <add key="BcbsScAccountId" value="1044" />
    <add key="BcbsScAssessmentAccountId" value="1114" />

    <add key="ResultFlowChangeDate" value="07/08/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="https://dev-hra.healthfair.com"/>
    <add key="MedicareApiUrl" value="api"/>

    <add key="FloridaBlueFepAccountId" value="1115"/>
    <add key="FloridaBlueFepExportDayOfWeek" value="0"/>

    <add key="FloridaBlueSftpHost" value="localhost"/>
    <add key="FloridaBlueSftpUserName" value="test"/>
    <add key="FloridaBlueSftpPassword" value="pass@123"/>
    <add key="SendReportToFloridaBlueSftp" value="false"/>
    <add key="FloridaBlueSftpPath" value="\gw14bcxp1\inbox"/>

    <add key="CumulativeResultExportsPath" value="D:\Jobs\dev-hip.healthfair.com\OptumResultExport.Job\CumulativeResultExports"/>
    <add key="IncrementalResultExportsPath" value="D:\Jobs\dev-hip.healthfair.com\OptumResultExport.Job\IncrementalResultExports"/>
    <add key="PPAccountId" value="1125"/>
    <add key="PPEventCutOfDate" value="01/01/2018"/>

    <add key="NammAccountId" value="1122" />
    <add key="SyncWithHra" value="true" />
    
    <add key="StopSendingPdftoHealthPlanDate" value="01/01/2019" />
    
    <add key="WellmedTxAccountId" value="1003" />
    <add key="WellmedFlLockCorporateEventFolderLocation" value="E:\SFTP\WellmedFlLockCorporateEventFolderLocation"/>
    <add key="WellmedTxLockCorporateEventFolderLocation" value="E:\SFTP\WellmedTxLockCorporateEventFolderLocation"/>
    <add key="WellmedParseLockedEventScheduleTime" value="00:01:00"/>
    <add key="WellmedParseLockedEventIntervalHours" value="24"/>

    <add key="WellmedTxCatalystAppointmentReportPath" value="E:\SFTP\Wellmed\WellmedTXCatalyst\Appointments\"/>
    <add key="WellmedTXCatalystGroupName" value="Catalyst ACO"/>

    <add key="HcpNvIncorrectPhoneNumberDownloadPath" value="E:\SFTP\HCPNV\IncorrectPhone\" />
    <add key="HcpNvIncorrectPhoneNumberDayOfWeek" value="5" />
    <add key="BCBSSCHomeVisitRequestDownloadPath" value="E:\SFTP\HCPNV\HomeVisitRequest\" />
    <add key="BCBSSCAppointmentsBookedReportRequestDownloadPath" value="E:\SFTP\HCPNV\Appointments\" />

    <add key="WellmedTXIncorrectPhoneNumberDownloadPath" value="E:\SFTP\HIP_Report_Outtake\WellmedTX\IncorrectPhone\" />
    <add key="WellmedFLIncorrectPhoneNumberDownloadPath" value="E:\SFTP\HIP_Report_Outtake\WellmedFL\IncorrectPhone\" />

    <add key="WellmedTXAppointmentBookedReportDownloadPath" value="E:\SFTP\HIP_Report_Outtake\WellmedTX\Appointments\" />

    <add key="OutTakeReportPath" value="E:\SFTP\HIP_Report_Outtake\{0}\" />
    <add key="WellmedTxFolder" value="WellmedTx"/>
    <add key="WellmedFlFolder" value="WellmedFl"/>
    <add key="BcbsScFolder" value="BcbsSc"/>
    <add key="HcpNvFolder" value="HcpNvFolder"/>

    <add key="WellmedGiftCertificateDayOfWeek" value="1" />
    <add key="WellmedGiftCertificateScheduleTime" value="01:00:00" />
    <add key="WellmedGiftCertificateIntervalHours" value="24" />
    <add key="WellmedTxAccountId" value="1123" />
    <add key="WellmedAccountId" value="1003" />

    <add key="LockCorporateEventFolderLocation" value="F:\SFTP\LockCorporateEventFolderLocation"/>
    
    <!--Mail Basic info-->
    <add key="CompanySupportEmailDomain" value="matrixmedicalnetwork.com"/>
    <add key="CompanySupportEmailAddress" value="info"/>
    <add key="EmailNotificationIssuedFromDomain" value="healthfairmail.com"/>
    <add key="EmailNotificationIssuedFromAddress" value="support"/>
    <add key="NameNotificationissuedFrom" value="Matrix Medical Network Team"/>
    <add key="PhoneTollFree" value="855-305-8378"/>
    <add key="BusinessName" value="Matrix Medical Network"/>
    <add key="FullBusinessName" value="Matrix Medical Network"/>
    <add key="ProductName" value="HIP"/>
    <add key="Address1" value="9201 E. Mountain View Road"/>
    <add key="Address2" value="Suite 220"/>
    <add key="City" value="Scottsdale"/>
    <add key="State" value="Arizona"/>
    <add key="ZipCode" value="85258"/>
    <add key="SiteUrl" value="http://www.HealthFair.com"/>
    <add key="AppUrl" value="https://dev-hip.HealthFair.com"/>
    <add key="LoginUrl" value="https://dev-hip.healthfair.com/login"/>
    <add key="PrivacyStatement" value="http://www.healthfair.com/PrivacyPolicy.aspx"/>
    <add key="TermsAndConditions" value="http://www.healthfair.com/PrivacyPolicy.aspx"/>
    <add key="TestPreparationURL" value="http://www.healthfair.com/TestPreparation.aspx"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>