<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=172.25.0.60;Initial Catalog=HealthfairProd;User ID=falconuser;Password=Screening!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="MediaLocation" value="\\hqmediacifs\hqmediashare\media.healthfair.com" />
    <add key="MediaUrl" value="http://media2.healthfair.com" />
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthfairProd" />

    <add key="PhysicianPartnerResultPdfDownloadSettings" value="B:\Jobs\hip.healthfair.com\PPExport.Job\Resource\ResultPdfDownloadSettings.xml" />
    <add key="PhysicianPartnerResultPdfDownloadInterval" value="24" />
    <add key="PhysicianPartnerResultPdfDownloadTime" value="23:30:00" />
    <add key="PhysicianPartnerResultPdfDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\PhysicianPartners\download\pdf" />
    <add key="PhysicianPartnerResultTiffDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\PhysicianPartners\download\tiff" />

    <add key="PhysicianPartnerAppointmentBookedReportDownloadSettings" value="B:\Jobs\hip.healthfair.com\PPExport.Job\Resource\AppointmentBookedReportDownloadSettings.xml" />
    <add key="PhysicianPartnerAppointmentBookedReportDownloadInterval" value="24" />
    <add key="PhysicianPartnerAppointmentBookedReportDownloadTime" value="23:50:00" />
    <add key="PhysicianPartnerAppointmentBookedReportDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\PhysicianPartners\download\appointments" />

    <add key="PhysicianPartnerResultReportDownloadSettings" value="B:\Jobs\hip.healthfair.com\PPExport.Job\Resource\ResultReportDownloadSettings.xml" />
    <add key="PhysicianPartnerResultReportDownloadInterval" value="24" />
    <add key="PhysicianPartnerResultReportDownloadTime" value="23:55:00" />
    <add key="PhysicianPartnerResultReportDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\PhysicianPartners\download\resultsexport" />
    <add key="PhysicianPartnerAccountId" value="929"/>

    <add key="PcpResultPdfDownloadSettings" value="B:\Jobs\hip.healthfair.com\PPExport.Job\Resource\ResultPdfDownloadSettings_{0}.xml"/>
    <add key="PcpResultPdfDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download\pdf"/>
    <add key="PcpResultPdfDownloadAccountIds" value="966,999,1037,1069,1038,1066,1077,1078,1122,1125"/>

    <add key="PcpAppointmentBookedReportDownloadSettings" value="B:\Jobs\hip.healthfair.com\PPExport.Job\Resource\AppointmentBookedReportDownloadSettings_{0}.xml"/>
    <add key="PcpAppointmentBookedReportDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download\appointments\{1}"/>
    <add key="PcpAppointmentBookedReportDownloadAccountIds" value="966,999,1035,1037,1038,1040,1044,1046,1060,1062,1063,1066,1077,1078,1122"/>

    <add key="PcpResultReportDownloadSettings" value="B:\Jobs\hip.healthfair.com\PPExport.Job\Resource\ResultReportDownloadSettings_{0}.xml"/>
    <add key="PcpResultReportDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download\results"/>
    <add key="PcpResultReportDownloadAccountIds" value="966,998,999,1035,1038,1044,1046,1060,1066,1122" />

    <add key="PcpDownloadCutOfDate" value="07/01/2015" />
    <add key="AwvAaaFindingChangeDate" value="07/22/2015"/>

    <add key="WellmedSftpHost" value="sftp2.wellmed.net" />
    <add key="WellmedSftpUserName" value="HF_User01" />
    <add key="WellmedSftpPassword" value="p9qTp3Kb" />
    <add key="SendReportToWellmedSftp" value="true"/>

    <add key="WellmedAccountId" value="1003"/>

    <add key="WellmedResultPdfDownloadSettings" value="B:\Jobs\hip.healthfair.com\PPExport.Job\Resource\ResultPdfDownloadSettings_{0}.xml"/>
    <add key="WellmedResultPdfDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\Wellmed\download\Reports\pdf"/>
    <add key="WellmedSftpResultPdfDownloadPath" value="Inbound\Reports\pdf"/>

    <add key="WellmedAppointmentBookedReportDownloadSettings" value="B:\Jobs\hip.healthfair.com\PPExport.Job\Resource\AppointmentBookedReportDownloadSettings_{0}.xml"/>
    <add key="WellmedAppointmentBookedReportDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\Wellmed\download\Reports\appointments\{0}\Daily"/>
    <add key="WellmedSftpAppointmentBookedReportDownloadPath" value="Inbound\Reports\appointments\{0}\Daily"/>

    <add key="WellmedResultReportDownloadSettings" value="B:\Jobs\hip.healthfair.com\PPExport.Job\Resource\ResultReportDownloadSettings_{0}.xml"/>
    <add key="WellmedResultReportDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\Wellmed\download\Reports\results"/>
    <add key="WellmedSftpResultReportDownloadPath" value="Inbound\Reports\results"/>

    <add key="HcpCaliforniaAccountId" value="998"/>

    <add key="HcpCaliforniaResultPdfDownloadSettings" value="B:\Jobs\hip.healthfair.com\PPExport.Job\Resource\ResultPdfDownloadSettings_{0}.xml"/>
    <add key="HcpCaliforniaResultPdfDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download"/>

    <add key="ArchiveMediaUrl" value="https://media2.healthfair.com/Archive"/>
    <add key="ArchiveMediaLocation" value="B:\Archive\media.healthfair.com"/>

    <add key="MolinaAccountId" value="1013"/>

    <add key="MolinaAppointmentBookedReportDownloadSettings" value="B:\Jobs\hip.healthfair.com\PPExport.Job\Resource\AppointmentBookedReportDownloadSettings_{0}.xml"/>
    <add key="MolinaAppointmentBookedReportDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\Molina\download\Reports\appointments\{0}"/>

    <add key="MolinaResultPdfDownloadSettings" value="B:\Jobs\hip.healthfair.com\PPExport.Job\Resource\ResultPdfDownloadSettings_{0}.xml"/>
    <add key="MolinaResultPdfDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\Molina\download\Reports\pdf"/>

    <add key="MolinaResultReportDownloadSettings" value="B:\Jobs\hip.healthfair.com\PPExport.Job\Resource\ResultReportDownloadSettings_{0}.xml"/>
    <add key="MolinaResultReportDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\Molina\download\Reports\results"/>

    <add key="DeleteFileAfterPgpEcnryption" value="true"/>

    <add key="UnlockCorporateEventsScheduleTime" value="00:05:00"/>
    <add key="UnlockCorporateEventsScheduleInterval" value="24"/>

    <add key="ParseLockedEventFileSchduleInterval" value="1"/>

    <add key="LockCorporateEventScheduleTime" value="00:01:00"/>
    <add key="LockCorporateEventScheduleInterval" value="24"/>

    <add key="MolinaSftpHost" value="" />
    <add key="MolinaSftpUserName" value="" />
    <add key="MolinaSftpPassword" value="" />
    <add key="MolinaLockCorporateEventFolderLocation" value=""/>

    <add key="WellmedLockCorporateEventFolderLocation" value="/Outbound/ScreeningEventReports"/>

    <add key="HealthPlanIncorrectPhoneExportDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download\IncorrectPhone\{1}"/>
    <add key="HealthPlanHomeVisitRequestExportDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download\HomeVisitRequest\{1}"/>
    <add key="HealthPlanCustomerListExportScheduleInterval" value="24"/>
    <add key="HealthPlanIncorrectPhoneExportScheduleTime" value="10:15:00"/>
    <add key="HealthPlanHomeVisitRequestedExportScheduleTime" value="10:20:00"/>
    <add key="HealthPlanCustomerExportCutoffDate" value="01/01/2016"/>
    <add key="PageSizeHealthPlanExport" value="500"/>
    <add key="HealthPlanCustomerExportIntervalDay" value="0"/>

    <add key="WellmedWeeklyAppointmentBookedReportPath" value="\\172.25.0.30\sftp\Prod-SFTP\Wellmed\download\Reports\appointments\{0}\Weekly"/>
    <add key="WellmedSftpWeeklyAppointmentBookedReportPath" value="Inbound\Reports\appointments\{0}\Weekly"/>
    <add key="WellmedWeeklyAppointmentBookedReportIntervalDay" value="0"/>
    <add key="WellmedWeeklyAppointmentBookedReportTime" value="23:58:00"/>

    <add key="NtspAccountIds" value="1035,1046"/>

    <add key="NtspResultPdfDownloadSettings" value="B:\Jobs\hip.healthfair.com\PPExport.Job\Resource\ResultPdfDownloadSettings_{0}.xml"/>
    <add key="NtspResultPdfDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download\pdf"/>

    <add key="HcpCaliforniaSftpHost" value="66.161.120.70" />
    <add key="HcpCaliforniaSftpUserName" value="healthfair" />
    <add key="HcpCaliforniaSftpPassword" value="H3@LthF#!r" />
    <add key="SendReportToHcpCaliforniaSftp" value="true"/>
    <add key="HcpCaliforniaSftpResultPdfDownloadPath" value=""/>

    <add key="HealthPlanTestNotPerformedExportDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download\TestNotPerformed\{1}"/>
    <add key="HealthPlanTestNotPerformedExportScheduleInterval" value="24"/>
    <add key="HealthPlanTestNotPerformedExportScheduleTime" value="23:00:00"/>
    <add key="HealthPlanTestNotPerformedIntervalDay" value="0"/>
    <add key="HealthPlanTestNotPerformedCutOfDate" value="01/08/2016"/>

    <add key="HealthPlanOutreachReportExportDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download\OutreachReport\{1}"/>
    <add key="HealthPlanOutreachReportExportScheduleInterval" value="24"/>
    <add key="HealthPlanOutreachReportExportScheduleTime" value="23:10:00"/>
    <add key="HealthPlanOutreachReportIntervalDay" value="0"/>
    <add key="HealthPlanOutreachReportCutOfDate" value="01/01/2016"/>
    <add key="HealthPlanOutreachReportAccountIds" value="1037" />

    <add key="MartinPointAccountId" value="1037" />
    <add key="MartinPointAppointmentBookedReportPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download\appointments\{1}\Daily"/>
    <add key="MartinPointAppointmentBookedReportScheduleTime" value="23:55:00"/>

    <add key="PatientInputFileAccountIds" value="1043" />
    <add key="PatientInputFileReportPath" value="\\172.25.0.30\sftp\Prod-SFTP\HomeAccess\{0}\{1}"/>
    <add key="PatientInputFileScheduleTime" value="11:00:00"/>
    <add key="PatientInputFileScheduleInterval" value="24"/>

    <add key="ChangeLeadReadingDate" value="10/07/2016"/>

    <add key="BcbsAccountIds" value="1043"/>
    <add key="BcbsResultPdfDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download"/>

    <add key="UrineMicroalbuminChangeDate" value="07/28/2016"/>

    <add key="HealthPlanMemberStatusReportAccountId" value="1044"/>
    <add key="HealthPlanMemberStatusReportFileReportPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download\MemberStatus\{1}"/>
    <add key="HealthPlanMemberStatusReportScheduleTime" value="23:30:00"/>
    <add key="HealthPlanMemberStatusReportScheduleInterval" value="24"/>
    <add key="BcbsSouthCarolinaCustomTag" value="Gaps/KYN-BCBS_South_Carolina-Q3/Q4-2016"/>

    <add key="HcpNvAccountId" value="966"/>
    <add key="HcpNvLockCorporateEventFolderLocation" value="/HealthFair"/>

    <add key="FloridaBlueAccountId" value="1040,1062"/>

    <add key="DiabeticRetinopathyParserReportNumberOfDays" value="7"/>
    <add key="DiabeticRetinopathylogExportDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\IRIS\Reports\DiabeticRetinopathylog\{0}"/>
    <add key="DiabeticRetinopathylogIntervalDay" value="0"/>
    <add key="DiabeticRetinopathylogSchedule" value="23:00:00"/>
    <add key="DiabeticRetinopathylogInterval" value="24"/>

    <add key="HealthNowAccountId" value="1038"/>
    <add key="HealthNowSftpHost" value="trading.nyhplans.org" />
    <add key="HealthNowSftpUserName" value="healthfair" />
    <add key="HealthNowSftpPassword" value="Login222$" />
    <add key="SendPdfToHealthNowSftp" value="true"/>
    <add key="HealthNowSftpPath" value="outbound\download\pdf"/>

    <add key="WellCareAccountIds" value="1048,1050,1051,1052,1053,1054,1056,1057,1058"/>
    <add key="WellCareSftpHost" value="edi.wellcare.com" />
    <add key="WellCareSftpUserName" value="Healthfair" />
    <add key="WellCareSftpPassword" value="sanrya@1" />
    <add key="SendPdfToWellCareSftp" value="true"/>
    <add key="WellCareSftpPath" value="To_WellCare"/>

    <add key="BasicBiometricCutOfDate" value="03/25/2015"/>

    <add  key="NtspSftpHost" value="ftps.ntsp.com" />
    <add  key="NtspSftpUserName" value="healthfair1" />
    <add  key="NtspSftpPassword" value="Health1701$$" />
    <add  key="SendReportToNtspSftp" value="true"/>
    <add key="NtspSftpResultReportDownloadPath" value="Inbound\{0}\Download"/>

    <add  key="BcbsMnAccountId" value="1059" />
    <add  key="BcbsMnSftpHost" value="move.bluecrossmn.com" />
    <add  key="BcbsMnSftpUserName" value="BC000108" />
    <add  key="BcbsMnSftpPassword" value="C01nY1hhRI&amp;a" />
    <add  key="SendReportToBcbsMn" value="true"/>
    <add key="BcbsMnSftpResultReportDownloadPath" value="in"/>

    <add key="BloodTestChangeDate" value="02/09/2015"/>
    <add key="ShowHideRepeatStudyDate" value="02/24/2015" />
    <add key="BasicBiometricCutOfDate" value="03/25/2015"/>
    <add key="HemoglobinChangeDate" value="05/07/2015"/>
    
    <add key="QualityMeasuresChangeDate" value="11/10/2015"/>
    <add key="Phq9ChangeDate" value="11/10/2015"/>
    <add key="AwvEchoFindingChangeDate" value="11/20/2015"/>
    <add key="MammogramChangeDate" value="06/01/2016"/>

    <add key="IFobtChangeDate" value="07/28/2016"/>
   
    <add key="FluShotChangeDate" value="10/04/2016"/>
    <add key="AwvFluShotChangeDate" value="10/04/2016"/>
    <add key="PneumococcalChangeDate" value="10/04/2016"/>

    <add key="ChlamydiaChangeDate" value="11/23/2014" />
    <add key="DpnChangeDate" value="07/19/2017"  />


    <add  key="HcpNvSftpHost" value="66.161.120.70" />
    <add  key="HcpNvSftpUserName" value="sdelia" />
    <add  key="HcpNvSftpPassword" value="W3lcome2sFTP!" />
    <add  key="SendReportToHcpNv" value="true"/>
    <add key="HcpNvSftpResultReportDownloadPath" value="/HealthFair"/>

    <add key="MonarchAccountId" value="1060"/>
    <add key="SftpResouceFilePath" value="B:\Jobs\hip.healthfair.com\ResultExport.Job\sftpCridentials\"/>

    <add key="OptumHomeVisitRequesedAccountIds" value="1014,1047,1061,1060,1065" />
    <add key="OptumHomeVisitRequesedDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\Taazaa\Optum\Download\{0}\HomeVisitRequesed" />

    <add key="OptumIncorrectPhoneNumberAccountIds" value="1014,1047,1061,1060,1065" />
    <add key="OptumIncorrectPhoneNumberDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\Taazaa\Optum\Download\{0}\IncorrectPhoneNumber" />

    <add key="DoNotSendHomeVistIncorrectPhoneNumberAccountIds" value="1043" />

    <add key="MartinsPointExclusiveAccountId" value="1069"/>

    <add key="StartYear" value="2015"/>
    
    <add key="ExcellusAccountId" value="1066"/>
    <add key="ExcellusCustomTags" value="Excellus_GAPS_2017_List-1"/>
    <add key="ExcellusExportResultReportDayOfWeek" value="1"/>

    <add key="AnthemAccountId" value="1034"/>
    <add key="AnthemCustomTags" value="Anthem_CA_Assessments_2017_List-1, Anthem_CT_Assessments_2017_List-1, Anthem_GA_Assessments_2017_List-1, Anthem_OH_Assessments_2017_List-1, Anthem_NV_Assessments_2017_List-1, Anthem_VA_Assessments_2017_List-1, Anthem_ME_Assessments_2017_List-1"/>

    <add key="HealthNowCustomTags" value="HealthNow_NENY_Assessment_2017_List-1, HealthNow_WNY_Assessment_2017_List-1"/>

    <add key="ResultPostedToPlanPath" value="B:\Jobs\hip.healthfair.com\FloridaBlue.Job\ResultPostedXML\"/>
    <add key="HealthPlanDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download"/>

    <add key="MedMutualAccountId" value="1077"/>
    <add key="MedMutualExportDay" value="2"/>

    <add key="FloridaBlueReportsDayOfWeek" value="2"/>

    <add key="AppleCareAccountId" value="1078"/>
    <add key="AppleCareAppointmentBookedReportDayOfWeek" value="5"/>
    <add key="PdfLogFilePath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\" />

    <add key="ConnecticareAccountId" value="1063"/>
    <add key="BcbsAlAccountId" value="1079"/>
    <add key="BcbsAlSftpDownloadPath" value="Inbox\From HealthFair\"/>
    <add key="ConnecticareMaAccountId" value="1075"/>
    <add key="ResultNotPostedToPlanPath" value="B:\Jobs\hip.healthfair.com\PPExport.Job\ResultNotPostedCSV\"/>

    <add key="WellmedWellCareAccountId" value="1080" />
    <add key="WellCareToWellMedCustomTags" value="WellCare-FL_Assessments_2017_List-2"/>
    <add key="WellCareToWellmedAccountId" value="1048,1080"/>
    <add key="WellmedReportAccountIds" value="1003,1048,1080"/>

    <add key="OptumAccountIds" value="1014,1047,1061,1111" />

    <add key="HealthPlanMemberStatusReportAccountIds" value="1044,1114"/>
    <add key="HealthPlanExportRootPath" value="\\172.25.0.30\SFTP\Prod-SFTP\{0}"/>

    <add key="WellmedResultPdfCatalystDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\Wellmed\download\Catalyst\pdf"/>
    <add key="WellmedSftpResultPdfCatalystDownloadPath" value="Inbound\Catalyst\pdf"/>
    <add key="WellmedCustomerGroupName" value="Catalyst Senior Health Network,CATALYST SENIOR NETWORK,Hampton Clinic PA,JAMES ZODROW MD PA,NORTH HILLS FAMILY MEDICINE,QUESTCARE MEDICAL CLINICS PLLC,RICHARD GRANDJEAN MD PA,SHIVA MEDICAL CARE CENTER LLC,SUJATHA SUBRAMANIAN MD,VILLAGE HEALTH PARTNERS"/>

    <add key="BcbsScAccountId" value="1044" />
    <add key="BcbsScAssessmentAccountId" value="1114" />

    <add key="ResultFlowChangeDate" value="10/30/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="https://hra2.healthfair.com"/>
    <add key="MedicareApiUrl" value="api"/>

    <add key="FloridaBlueFepAccountId" value="1115"/>
    <add key="FloridaBlueFepExportDayOfWeek" value="0"/>

    <add key="FloridaBlueSftpHost" value="securefile.guidewellconnect.com"/>
    <add key="FloridaBlueSftpUserName" value="gw16exp008"/>
    <add key="FloridaBlueSftpPassword" value="1e7OlJgn3SGzCiHzYUA6"/>
    <add key="SendReportToFloridaBlueSftp" value="false"/>
    <add key="FloridaBlueSftpPath" value="\gw14bcxp1\inbox"/>
    <add key="PPAccountId" value="1125"/>
    <add key="PPEventCutOfDate" value="01/01/2018"/>

    <add key="NammAccountId" value="1122" />
    
    <add key="StopSendingPdftoHealthPlanDate" value="01/01/2019" />
    <add key="SyncWithHra" value="true" />

    <add key="WellmedTxAccountId" value="1003" />
    <add key="WellmedFlLockCorporateEventFolderLocation" value="E:\SFTP\WellmedFlLockCorporateEventFolderLocation"/>
    <add key="WellmedTxLockCorporateEventFolderLocation" value="E:\SFTP\WellmedTxLockCorporateEventFolderLocation"/>
    <add key="WellmedParseLockedEventScheduleTime" value="00:01:00"/>
    <add key="WellmedParseLockedEventIntervalHours" value="24"/>
    
    <add key="LockCorporateEventFolderLocation" value="\\jobs.corphealthfair.com\HIP_PDF_Intake"/>
    <add key="HcpNvIncorrectPhoneNumberDayOfWeek" value="5" />
    <!--Mail Basic info-->
    <add key="CompanySupportEmailDomain" value="matrixmedicalnetwork.com"/>
    <add key="CompanySupportEmailAddress" value="info"/>
    <add key="EmailNotificationIssuedFromDomain" value="healthfairmail.com"/>
    <add key="EmailNotificationIssuedFromAddress" value="support"/>
    <add key="NameNotificationissuedFrom" value="Matrix Medical Network Team"/>
    <add key="PhoneTollFree" value="855-755-8378"/>
    <add key="BusinessName" value="Matrix Medical Network"/>
    <add key="FullBusinessName" value="Matrix Medical Network"/>
    <add key="ProductName" value="HIP"/>
    <add key="Address1" value="9201 E. Mountain View Road"/>
    <add key="Address2" value="Suite 220"/>
    <add key="City" value="Scottsdale"/>
    <add key="State" value="Arizona"/>
    <add key="ZipCode" value="85258"/>
    <add key="SiteUrl" value="http://www.HealthFair.com"/>
    <add key="AppUrl" value="https://hip.HealthFair.com"/>
    <add key="LoginUrl" value="https://hip.healthfair.com/login"/>
    <add key="PrivacyStatement" value="http://www.healthfair.com/PrivacyPolicy.aspx"/>
    <add key="TermsAndConditions" value="http://www.healthfair.com/PrivacyPolicy.aspx"/>
    <add key="TestPreparationURL" value="http://www.healthfair.com/TestPreparation.aspx"/>


  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>