<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=HealthfairProd;User ID=falconuser;Password=Screening!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MediaLocation" value="F:\dev-media.healthfair.com" />
    <add key="MediaUrl" value="https://dev-media.healthfair.com" />
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthfairProd" />
    <add key="ArchiveMediaUrl" value="https://dev-media.healthfair.com/Archive"/>
    <add key="ArchiveMediaLocation" value="F:\Archive\dev-media.healthfair.com"/>

    <add key="PcpResultPdfDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\OptumResultExport.Job\Resource\ResultPdfDownloadSettings_{0}.xml" />
    <add key="PhysicianPartnerResultPdfDownloadTime" value="04:38:00" />
    <add key="PhysicianPartnerResultPdfDownloadInterval" value="24" />
    <add key="PcpDownloadCutOfDate" value="02/01/2015" />

    <add key="PcpAppointmentBookedReportDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\OptumResultExport.Job\Resource\AppointmentBookedReportDownloadSettings_{0}.xml"/>
    <add key="PhysicianPartnerAppointmentBookedReportDownloadInterval" value="24"/>
    <add key="PhysicianPartnerAppointmentBookedReportDownloadTime" value="09:56:00"/>

    <add key="PcpResultReportDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\OptumResultExport.Job\Resource\ResultReportDownloadSettings_{0}.xml"/>
    <add key="PhysicianPartnerResultReportDownloadInterval" value="24"/>
    <add key="PhysicianPartnerResultReportDownloadTime" value="09:56:00"/>

    <add key="OptumResultPdfDownloadAccountIds" value="1043,1063,1003" />
    <add key="OptumResultPdfDownloadPath" value="F:\SFTP\QA-SFTP\Taazaa\Optum\Download\{0}\pdfs" />

    <add key="OptumResultReportDownloadAccountIds" value="1043,1063" />
    <add key="OptumResultReportDownloadPath" value="F:\SFTP\QA-SFTP\Taazaa\Optum\Download\{0}\ResultReport" />

    <add key="OptumAppointmentBookedReportDownloadAccountIds" value="1043,1063" />
    <add key="OptumAppointmentBookedReportDownloadPath" value="F:\SFTP\QA-SFTP\Taazaa\Optum\Download\{0}\AppointmentBooked\{1}" />

    <add key="OptumZipFolderDownloadAccountIds" value="1043,1063" />
    <add key="OptumZipScheduledTime" value="14:59:00" />
    <add key="OptumZipScheduledInterval" value="24" />
    <add key="OptumZipFolderDownloadFromPath" value="F:\SFTP\QA-SFTP\Taazaa\Optum\Download\{0}" />
    <add key="OptumZipFolderPostToPath" value="F:\SFTP\QA-SFTP\Optum\Download\{0}" />

    <add key="MonarchZipFolderPostToPath" value="F:\SFTP\QA-SFTP\{0}\Download\" />
    <add key="MonarchAccountIds" value="1043,1063"/>
    <add key="SftpResouceFilePath" value="D:\Jobs\dev-hip.healthfair.com\ResultExport.Job\sftpCridentials\"/>
    <add key="MonarchResultPdfArchive" value="F:\SFTP\QA-SFTP\{0}\Archive"/>

    <add key="BloodTestChangeDate" value="07/07/2017"/>
    <add key="ShowHideRepeatStudyDate" value="07/07/2017" />
    <add key="BasicBiometricCutOfDate" value="07/07/2017"/>
    <add key="HemoglobinChangeDate" value="07/07/2017"/>
    <add key="AwvAaaFindingChangeDate" value="07/07/2017"/>
    <add key="QualityMeasuresChangeDate" value="07/07/2017"/>
    <add key="Phq9ChangeDate" value="07/07/2017"/>
    <add key="AwvEchoFindingChangeDate" value="07/07/2017"/>
    <add key="MammogramChangeDate" value="07/07/2017"/>

    <add key="IFobtChangeDate" value="07/07/2017"/>
    <add key="UrineMicroalbuminChangeDate" value="07/07/2017"/>
    <add key="FluShotChangeDate" value="07/07/2017"/>
    <add key="AwvFluShotChangeDate" value="07/07/2017"/>
    <add key="PneumococcalChangeDate" value="07/07/2017"/>

    <add key="ChangeLeadReadingDate" value="07/07/2017"/>

    <add key="ChlamydiaChangeDate" value="07/07/2017" />
    <add key="DpnChangeDate" value="07/07/2017"  />
    
    <add key="ResultPostedToPlanPath" value="D:\Jobs\dev-hip.healthfair.com\OptumResultExport.Job\ResultPostedXML\"/>
    <add key="PdfLogFilePath" value="F:\SFTP\QA-SFTP\{0}\" />
    <add key="OptumNvAccountId" value="1061"/>
    <add key="OptumNvResultPdfNamingChangeDate" value="01/01/2018"/>
    <add key="CustomerWithNoMrnPath" value="D:\Jobs\dev-hip.healthfair.com\OptumResultExport.Job\Resource"/>
    <add key="ResultNotPostedToPlanPath" value="D:\Jobs\dev-hip.healthfair.com\OptumResultExport.Job\ResultNotPostedCSV\"/>

    <add key="AppointmentEncounterReportPath" value="F:\SFTP\QA-SFTP\Taazaa\Optum\Download\{0}\EcounterHeader"/>
    <add key="AppointmentEncounterScheduleTime" value="11:11:00"/>
    <add key="AppointmentEncounterIntervalHours" value="24"/>
    <add key="AppointmentEncounterReportAccountIds" value="1061"/>

    <add key="OptumAccountIds" value="1014,1047,1061" />

    <add key="GiftCerificateOptumAccountIds" value="1061,1111,1078" />
    <add key="GiftCerificateOptumScheduledTime" value="23:30:00" />
    <add key="GiftCerificateOptumScheduledInterval" value="24" />
    <add key="GiftCerificateOptumDayServiceRun" value="2" />
    <add key="GiftCerificateOptumDownloadPath" value="F:\SFTP\QA-SFTP\Taazaa\Optum\Download\{0}\GiftCertificate" />

    <add key="OptumNvMedicareAccountId" value="1111" />

    <add key="CumulativeResultExportsPath" value="D:\Jobs\dev-hip.healthfair.com\OptumResultExport.Job\CumulativeResultExports"/>
    <add key="IncrementalResultExportsPath" value="D:\Jobs\dev-hip.healthfair.com\OptumResultExport.Job\IncrementalResultExports"/>

    <add key="AppleCareGiftCertificateDayOfWeek" value="0"/>
    <add key="AppleCareAccountId" value="1078"/>
    <add key="GiftCertificateReportDownloadPath" value="F:\SFTP\QA-SFTP\{0}\Download\GiftCertificate"/>
    
    <add key="ResultFlowChangeDate" value="07/08/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="https://dev-hra.healthfair.com"/>
    <add key="MedicareApiUrl" value="api"/>
    
    <add key="StopSendingPdftoHealthPlanDate" value="01/01/2019" />
    <add key="SyncWithHra" value="true" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>