<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=phx01-hf001.corphealthfair.com;Initial Catalog=HealthfairProd;User ID=falconuser;Password=Screening!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MediaLocation" value="\\sdl02-file01.matrixhealth.net\media.healthfair.com" />
    <add key="MediaUrl" value="http://media.healthfair.com" />
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthFairProd" />
    <add key="ArchiveMediaUrl" value="https://media.healthfair.com/Archive"/>
    <add key="ArchiveMediaLocation" value="G:\Archive\media.healthfair.com"/>

    <add key="PcpResultPdfDownloadSettings" value="B:\Jobs\hip.healthfair.com\OptumResultExport.Job\Resource\ResultPdfDownloadSettings_{0}.xml" />
    <add key="PhysicianPartnerResultPdfDownloadTime" value="23:00:00" />
    <add key="PhysicianPartnerResultPdfDownloadInterval" value="24" />
    <add key="PcpDownloadCutOfDate" value="02/01/2018" />

    <add key="PcpAppointmentBookedReportDownloadSettings" value="B:\Jobs\hip.healthfair.com\OptumResultExport.Job\Resource\AppointmentBookedReportDownloadSettings_{0}.xml"/>
    <add key="PhysicianPartnerAppointmentBookedReportDownloadInterval" value="24"/>
    <add key="PhysicianPartnerAppointmentBookedReportDownloadTime" value="23:20:00"/>

    <add key="PcpResultReportDownloadSettings" value="B:\Jobs\hip.healthfair.com\OptumResultExport.Job\Resource\ResultReportDownloadSettings_{0}.xml"/>
    <add key="PhysicianPartnerResultReportDownloadInterval" value="24"/>
    <add key="PhysicianPartnerResultReportDownloadTime" value="22:40:00"/>

    <add key="OptumResultPdfDownloadAccountIds" value="1014,1047,1061,1060,1065,1111" />
    <add key="OptumResultPdfDownloadPath" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\Taazaa\Optum\Download\{0}\pdfs" />

    <add key="OptumResultReportDownloadAccountIds" value="1014,1047,1061,1060,1065,1111" />
    <add key="OptumResultReportDownloadPath" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\Taazaa\Optum\Download\{0}\ResultReport" />

    <add key="OptumAppointmentBookedReportDownloadAccountIds" value="1014,1047,1060,1065" />
    <add key="OptumAppointmentBookedReportDownloadPath" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\Taazaa\Optum\Download\{0}\AppointmentBooked\{1}" />

    <add key="OptumZipFolderDownloadAccountIds" value="1014,1047,1061,1060,1065,1111" />
    <add key="OptumZipScheduledTime" value="05:00:00" />
    <add key="OptumZipScheduledInterval" value="24" />
    <add key="OptumZipFolderDownloadFromPath" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\Taazaa\Optum\Download\{0}" />
    <add key="OptumZipFolderPostToPath" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\Optum\Download\{0}" />

    <add key="MonarchZipFolderPostToPath" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\{0}\Download\" />
    <add key="MonarchAccountIds" value="1060,1065"/>
    <add key="SftpResouceFilePath" value="B:\Jobs\hip.healthfair.com\OptumResultExport.Job\sftpCridentials\"/>
    <add key="MonarchResultPdfArchive" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\{0}\Archive"/>

    <add key="BloodTestChangeDate" value="02/09/2015"/>
    <add key="ShowHideRepeatStudyDate" value="02/24/2015" />
    <add key="BasicBiometricCutOfDate" value="03/25/2015"/>
    <add key="HemoglobinChangeDate" value="05/07/2015"/>
    <add key="AwvAaaFindingChangeDate" value="07/22/2015"/>
    <add key="QualityMeasuresChangeDate" value="11/10/2015"/>
    <add key="Phq9ChangeDate" value="11/10/2015"/>
    <add key="AwvEchoFindingChangeDate" value="11/20/2015"/>
    <add key="MammogramChangeDate" value="06/01/2016"/>

    <add key="IFobtChangeDate" value="07/28/2016"/>
    <add key="UrineMicroalbuminChangeDate" value="07/28/2016"/>
    <add key="FluShotChangeDate" value="10/04/2016"/>
    <add key="AwvFluShotChangeDate" value="10/04/2016"/>
    <add key="PneumococcalChangeDate" value="10/04/2016"/>

    <add key="ChangeLeadReadingDate" value="10/07/2016"/>

    <add key="ChlamydiaChangeDate" value="11/23/2014" />
    <add key="DpnChangeDate" value="07/19/2017"  />

    <add key="ResultPostedToPlanPath" value="B:\Jobs\ResultPostedXML\OptumResultExport.Job\"/>

    <add key="PdfLogFilePath" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\Taazaa\Optum\Download\{0}\" />
    <add key="OptumNvAccountId" value="1061"/>
    <add key="OptumNvResultPdfNamingChangeDate" value="01/01/2018"/>
    <add key="CustomerWithNoMrnPath" value="B:\Jobs\hip.healthfair.com\OptumResultExport.Job\Resource"/>

    <add key="ResultNotPostedToPlanPath" value="B:\Jobs\hip.healthfair.com\OptumResultExport.Job\ResultNotPosted\"/>

    <add key="AppointmentEncounterReportPath" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\Taazaa\Optum\Download\{0}\EncounterHeader"/>
    <add key="AppointmentEncounterScheduleTime" value="03:58:00"/>
    <add key="AppointmentEncounterIntervalHours" value="24"/>
    <add key="AppointmentEncounterReportAccountIds" value="1061,1111"/>

    <add key="OptumAccountIds" value="1014,1047,1061,1111" />

    <add key="GiftCerificateOptumAccountIds" value="1014,1061,1111,1078" />
    <add key="GiftCerificateOptumScheduledTime" value="01:00:00" />
    <add key="GiftCerificateOptumScheduledInterval" value="24" />
    <add key="GiftCerificateOptumDayServiceRun" value="5" />
    <add key="GiftCerificateOptumDownloadPath" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\Taazaa\Optum\Download\{0}\GiftCard" />
    
    <add key="OptumNvMedicareAccountId" value="1111" />
    <add key="OptumNVSettingAccountIds" value="1061,1111" />
    <add key="ResultFlowChangeDate" value="10/30/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="https://hra.healthfair.com"/>
    <add key="MedicareApiUrl" value="api"/>

    <add key="CumulativeResultExportsPath" value="B:\Jobs\hip.healthfair.com\OptumResultExport.Job\CumulativeResultExports"/>
    <add key="IncrementalResultExportsPath" value="B:\Jobs\hip.healthfair.com\OptumResultExport.Job\IncrementalResultExports"/>

    <add key="AppleCareGiftCertificateDayOfWeek" value="0"/>
    <add key="AppleCareAccountId" value="1078"/>
    <add key="GiftCertificateReportDownloadPath" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\{0}\Download\GiftCertificate"/>
   
    <add key="StopSendingPdftoHealthPlanDate" value="01/01/2019" />
<add key="SyncWithHra" value="true" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>