<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.25.72;Initial Catalog=HF;User ID=sa;Password=Pass@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MediaLocation" value="D:\Projects\tags\Prod_HF_20171114\src\UI\media.falcon.com" />
    <add key="MediaUrl" value="http://localhost/Media.falcon.com" />
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthFairProd" />
    <add key="ArchiveMediaUrl" value="http://localhost/Media.falcon.com/Archive"/>
    <add key="ArchiveMediaLocation" value="D:\Archive\media.healthfair.com"/>

    <add key="PcpResultPdfDownloadSettings" value="D:\Projects\tags\Prod_HF_20171114\src\Jobs.OptumExportResultService\bin\Debug\Resource\ResultPdfDownloadSettings_{0}.xml" />
    <add key="PhysicianPartnerResultPdfDownloadTime" value="16:10:00" />
    <add key="PhysicianPartnerResultPdfDownloadInterval" value="24" />
    <add key="PcpDownloadCutOfDate" value="02/01/2015" />

    <add key="PcpAppointmentBookedReportDownloadSettings" value="D:\Projects\tags\Prod_HF_20171114\src\Jobs.OptumExportResultService\bin\Debug\Resource\AppointmentBookedReportDownloadSettings_{0}.xml"/>
    <add key="PhysicianPartnerAppointmentBookedReportDownloadInterval" value="24"/>
    <add key="PhysicianPartnerAppointmentBookedReportDownloadTime" value="16:20:00"/>

    <add key="PcpResultReportDownloadSettings" value="D:\Projects\tags\Prod_HF_20171114\src\Jobs.OptumExportResultService\bin\Debug\Resource\ResultReportDownloadSettings_{0}.xml"/>
    <add key="PhysicianPartnerResultReportDownloadInterval" value="24"/>
    <add key="PhysicianPartnerResultReportDownloadTime" value="16:15:00"/>

    <add key="OptumResultPdfDownloadAccountIds" value="1111,1061" />
    <add key="OptumResultPdfDownloadPath" value="D:\Download\Optum" />

    <add key="OptumResultReportDownloadAccountIds" value="1111,1061" />
    <add key="OptumResultReportDownloadPath" value="D:\Download\Optum" />



    <add key="OptumAppointmentBookedReportDownloadAccountIds" value="1060" />
    <add key="OptumAppointmentBookedReportDownloadPath" value="D:\Download\Optum" />

    <add key="OptumZipFolderDownloadAccountIds" value="1014,1060" />
    <add key="OptumZipScheduledTime" value="15:34:00" />
    <add key="OptumZipScheduledInterval" value="24" />
    <add key="OptumZipFolderDownloadFromPath" value="D:\Download\Optum" />
    <add key="OptumZipFolderPostToPath" value="D:\Download\Optum" />

    <add key="MonarchZipFolderPostToPath" value="D:\SFTP\Prod-SFTP\{0}\Download\" />
    <add key="MonarchAccountIds" value="1060,1065"/>
    <add key="SftpResouceFilePath" value="D:\Projects\tags\Prod_HF_20171114\src\Jobs.OptumExportResultService\bin\Debug\sftpCridentials\"/>
    <add key="MonarchResultPdfArchive" value="D:\SFTP\Prod-SFTP\{0}\Archive"/>
    <add key="BloodTestChangeDate" value="02/09/2015"/>
    <add key="ShowHideRepeatStudyDate" value="02/02/2015" />
    <add key="BasicBiometricCutOfDate" value="03/02/2015"/>
    <add key="HemoglobinChangeDate" value="05/07/2015"/>
    <add key="AwvAaaFindingChangeDate" value="07/02/2015"/>
    <add key="QualityMeasuresChangeDate" value="11/10/2015"/>
    <add key="Phq9ChangeDate" value="11/10/2015"/>
    <add key="AwvEchoFindingChangeDate" value="11/02/2015"/>
    <add key="MammogramChangeDate" value="06/02/2016"/>

    <add key="IFobtChangeDate" value="07/02/2016"/>
    <add key="UrineMicroalbuminChangeDate" value="07/02/2016"/>
    <add key="FluShotChangeDate" value="10/04/2016"/>
    <add key="AwvFluShotChangeDate" value="10/04/2016"/>
    <add key="PneumococcalChangeDate" value="10/04/2016"/>

    <add key="ChangeLeadReadingDate" value="10/07/2016"/>

    <add key="ChlamydiaChangeDate" value="11/02/2014" />
    <add key="DpnChangeDate" value="07/19/2017"  />

    <add key="ResultPostedToPlanPath" value="D:\Projects\tags\Prod_HF_20171114\src\Jobs.OptumExportResultService\bin\Debug\ResultPostedXML\"/>
    <add key="PdfLogFilePath" value="D:\SFTP\QA-SFTP\{0}\" />

    <add key="OptumNvAccountId" value="1061"/>
    <add key="OptumNvResultPdfNamingChangeDate" value="01/01/2018"/>
    <add key="CustomerWithNoMrnPath" value="F:\Projects\Falcon\branches\QA\src\Jobs.OptumExportResultService\bin\Debug\Resource"/>
    <add key="ResultNotPostedToPlanPath" value="D:\Projects\tags\Prod_HF_20171114\src\Jobs.OptumExportResultService\bin\Debug\ResultNotPostedCSV\"/>

    <add key="AppointmentEncounterReportPath" value="D:\SFTP\QA-SFTP\{0}\EcounterHeader"/>
    <add key="AppointmentEncounterScheduleTime" value="11:11:00"/>
    <add key="AppointmentEncounterIntervalHours" value="24"/>
    <add key="AppointmentEncounterReportAccountIds" value="1061"/>

    <add key="OptumAccountIds" value="1111" />

    <add key="GiftCerificateOptumAccountIds" value="1047,1061" />
    <add key="GiftCerificateOptumScheduledTime" value="23:30:00" />
    <add key="GiftCerificateOptumScheduledInterval" value="24" />
    <add key="GiftCerificateOptumDayServiceRun" value="4" />
    <add key="GiftCerificateOptumDownloadPath" value="D:\Download\Optum" />

    <add key="OptumNVSettingAccountIds" value="1111" />

    <add key="CumulativeResultExportsPath" value="D:\Jobs\CumulativeResultExports"/>
    <add key="IncrementalResultExportsPath" value="D:\Jobs\IncrementalResultExports"/>

    <add key="ResultFlowChangeDate" value="07/08/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="http://localhost:7060"/>
    <add key="MedicareApiUrl" value="api"/>

    <add key="StopSendingPdftoHealthPlanDate" value="01/01/2019" />
    <add key="SyncWithHra" value="true" />

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>