<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=192.168.25.44;Initial Catalog=HF;User ID=sa;Password=sa@123" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Prod_Hf_0611;User ID=sa;Password=Pass@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="Prod_Hf_0611" />
    
    <add key="PcpResultReportDownloadSettings" value="F:\Jobs\hip.healthfair.com\PPExport.Job\Resource\ResultReportDownloadSettings_{0}.xml"/>
    <add key="PhysicianPartnerResultReportDownloadInterval" value="24" />
    <add key="PhysicianPartnerResultReportDownloadTime" value="23:55:00" />
    
    <add key="BcbsMiAccountId" value="1043" />
    <add key="BcbsMiResultReportDownloadPath" value="F:\SFTP\{0}\download" />
    <add key="BcbsMiRiskPatientTags" value="BCBS-MI_Florida_2017_List-1,BCBS-MI_Indiana_2017_List-1,BCBS-MI_Arizona_2017_List-1" />
    <add key="BcbsMiGapPatinetTags" value="BCBS-MI_Michigan_GAPS_2017_List-1" />
    <add key="PcpDownloadCutOfDate" value="02/01/2015" />

    <add key="AwvAaaFindingChangeDate" value="07/22/2015"/>
    <add key="ChangeLeadReadingDate" value="10/07/2016"/>
    <add key="UrineMicroalbuminChangeDate" value="07/28/2016"/>

    <add key="BloodTestChangeDate" value="02/09/2015"/>
    <add key="ShowHideRepeatStudyDate" value="02/24/2015" />
    <add key="BasicBiometricCutOfDate" value="03/25/2015"/>
    <add key="HemoglobinChangeDate" value="05/07/2015"/>

    <add key="QualityMeasuresChangeDate" value="11/10/2015"/>
    <add key="Phq9ChangeDate" value="11/10/2015"/>
    <add key="AwvEchoFindingChangeDate" value="11/20/2015"/>
    <add key="MammogramChangeDate" value="06/01/2016"/>

    <add key="IFobtChangeDate" value="07/28/2016"/>

    <add key="FluShotChangeDate" value="10/04/2016"/>
    <add key="AwvFluShotChangeDate" value="10/04/2016"/>
    <add key="PneumococcalChangeDate" value="10/04/2016"/>

    <add key="ChlamydiaChangeDate" value="11/23/2014" />
    <add key="DpnChangeDate" value="07/19/2017"  />

    <add key="AnthemCustomTags" value="Anthem-CA_Assessments_2017_List-1,Anthem-CT_Assessments_2017_List-1,Anthem_GA_Assessments_2017_List-1,Anthem-OH_Assessments_2017_List-1,Anthem_NV_Assessments_2017_List-1,Anthem_VA_Assessments_2017_List-1,Anthem-ME_Assessments_2017_List-1"/>
    <add key="AnthemDownloadPath" value="G:\SFTP\Anthem\upload\{0}"/>
    <add key="AnthemCustomTagStates" value="Anthem-CA,Anthem-CT,Anthem_GA,Anthem-OH,Anthem_NV,Anthem_VA,Anthem-ME"/>

    <add key="FromDateForGapPatient" value="09/01/2017"/>
    <add key="BcbsMiGapResultExportIntervalDay" value="1"/>

    <add key="ResultFlowChangeDate" value="07/08/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="http://localhost:7060"/>
    <add key="MedicareApiUrl" value="api"/>

    <add key="CumulativeResultExportsPath" value="D:\Jobs\CumulativeResultExports"/>
    <add key="IncrementalResultExportsPath" value="D:\Jobs\IncrementalResultExports"/>
    <add key="AnthemAdditionalFieldValues" value="MBR_KEY"/>
    <add key="AnthemAccountId" value="1034"/>

    <add key="StopSendingPdftoHealthPlanDate" value="01/01/2019" />
    <add key="SyncWithHra" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>