@{
    ViewBag.Title = "Unauthorized Access";
}

<h2>Unauthorized Access</h2>
<br />
<br />
You are not authorized to access that part. <a href="/Users/Dashboard">Click Here </a> to return to your dashboard or <a href="/App/Logoff.aspx">Click to Logout</a>.

