<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <add name="ConnectionString" connectionString="Data Source=TZIN-D-TZC002\MSSQLSERVER2017;Initial Catalog=HealthFairProd;User ID=sa;Password=Pass@123" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <!--Media Location-->

    <add key="MediaLocation" value="D:\Projects\Falcon\branches\dev\src\UI\media.falcon.com"/>

    <add key="MediaUrl" value="http://localhost/Media.falcon.com"/>
    <add key="CatalogNameUsageSetting" value="2"/>
    <add key="CatalogNameToUse" value="HealthfairProd"/>
    <add key="SiteConfigurableContentPath" value="E:\Projects\Falcon\branches\dev\src\UI\Config\Content"/>
    <add key="SiteUrl" value="http://localhost/"/>
    <add key="Address1" value="9201 E. Mountain View Road"/>
    <add key="Address2" value="Suite 220"/>
    <add key="City" value="Scottsdale"/>
    <add key="State" value="Arizona"/>
    <add key="ZipCode" value="85258"/>
    <add key="FullBusinessName" value="ABC Screening Company Inc."/>
    <add key="PhoneTollFree" value="1-800-111-5555"/>
    <add key="HealthAssesmentFormUrl" value="http://localhost/Medical/Results/HealthAssessment"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    <add key="AwvPcpImportInterval" value="24"/>
    <add key="AwvPcpImportScheduleTime" value="13:38:00"/>
    <add key="AwvPcpImportSourcePath" value="D:\SFTP\Awv\upload\pcp"/>
    <add key="AwvPcpImportArchivePath" value="D:\SFTP\Awv\upload\pcp\Archive\"/>
  
    <add key="MaximumDataRowCountLimitForCsvParser" value="100000"/>

    <add key="ArchiveResultDataSettingsPath" value="E:\Projects\Falcon\branches\dev\src\Jobs.ImportService\bin\Debug\Resource\ResultArchive.xml"/>
    <add key="ArchiveResultDataForOlderThanDays" value="20"/>
    <add key="ArchiveResultDataIntervalHrs" value="24"/>
    <add key="ArchiveResultDataScheduleTime" value="13:38:00"/>
    <add key="ArchiveMediaUrl" value="http://localhost/Media.falcon.com/Archive"/>
    <add key="ArchiveMediaLocation" value="D:\Archive\media.falcon.com"/>
    
    <add key="WellmedAccountId" value="1003"/>
    <add key="MolinaAccountId" value="1031"/>
    <add key="StopMediaArchiveService" value="false"/>

    <add key="HcpNvAccountId" value="966"/>

    <add key="CorporateTagIntervalHrs" value="1"/>
    <add key="CorporateTagSchedulingTime" value="20:35:00"/>
    
    <add key="AcePdfSourceLocation" value="D:\SFTP\{0}\{1}"/>
    
    <add key="LastLoggedInBeforeDays" value="30"/>
    <add key="UserDeactivationScheduleTime" value="5:00:00"/>

    <add key="MonarchAccountId" value="1060"/>
    <add key="MonarchAccountIds" value="1060,1065"/>
    <add key="MonarchAttestationScheduleTime" value="5:00:00"/>
    <add key="MonarchAttestationIntervalHours" value="24"/>
  
    <add key="AccountIdsForEventFileImport" value="966"/>
    <add key="EventFileImportScheduleTime" value="03:00:00"/>
    <add key="EventFileImportIntervalHours" value="24"/>
    
    <add key="HcpNvSftpHost" value="localhost" />
    <add key="HcpNvSftpUserName" value="TestHealthFair" />
    <add key="HcpNvSftpPassword" value="abc@1234" />
    <add key="HcpNvLockCorporateEventFolderLocation" value="ToHcpNv"/>

    <add key="AttestionFormParseAccountIds" value="1060,1065,1078"/>
    
    <add key="AppleCareAccountId" value="1078"/>
    <add key="AppleCareAttestationFormsPath" value="D:\SFTP\{0}\upload\Green Forms"/>
    <add key="WellmedWellCareAccountId" value="1080" />

    <add key="StaffEventScheduleParseIntervalMinutes" value="5"/>

    <add key="RedisDatabaseKey" value="0" />
    <add key="RedisServerHost" value="localhost"/>
    <add key="RedisChannelQueuePrefix" value="local" />
    
    <add key="NumberOfMaximumPrintInProgress" value="8"/>
    
    <add key="ParsePatientDataSftpPath" value="D:\SFTP\AcesFiles"/>
    <add key="ParsePatientDataScheduleTime" value="01:00:00"/>
    <add key="ParsePatientDataIntervalHours" value="24"/>
    <add key="ChecklistChangeDate" value="12/31/2022" />

    <add key="ConsentHeaderFormUrl" value="http://localhost/Medical/Results/StandingOrderHeader"/>
    <add key="ResultFlowChangeDate" value="08/10/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="http://localhost:7060"/>
    <add key="MedicareApiUrl" value="api"/>

    <add key="NammAccountId" value="1003" />
    <add key="NammAttestationFormsPath" value="D:\SFTP\NAMM"/>
    <add key="NammSourceDirectory" value="D:\SFTP\NAMM"/>
    <add key="NammSftpHost" value=""/>
    <add key="NammSftpUserName" value=""/>
    <add key="NammSftpPassword" value=""/>
    <add key="IsSftpEnableforNaamAccount" value="false"/>
    <add key="SyncWithHra" value="true" />

    <add key="WellmedTxAccountId" value="1118,1003,1094" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
