<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=phx01-hf001.corphealthfair.com;Initial Catalog=HealthfairProd;User ID=falconuser;Password=Screening!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Media Location-->
    <add key="MediaLocation" value="\\sdl02-file01.matrixhealth.net\media.healthfair.com" />
    <add key="MediaUrl" value="http://media.healthfair.com" />
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthFairProd" />
    <add key="SiteConfigurableContentPath" value="B:\Websites\hip.healthfair.com\www\Config\Content" />
    <add key="SiteUrl" value="http://hip.HealthFair.com"/>
    <add key="Address1" value="9201 E. Mountain View Road"/>
    <add key="Address2" value="Suite 220"/>
    <add key="City" value="Scottsdale"/>
    <add key="State" value="Arizona"/>
    <add key="ZipCode" value="85258"/>
    <add key="FullBusinessName" value="Matrix Medical Network"/>
    <add key="PhoneTollFree" value="855-305-8378"/>
    <add key="HealthAssesmentFormUrl" value="https://hip.healthfair.com/Medical/Results/HealthAssessment"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="AwvPcpImportInterval" value="24" />
    <add key="AwvPcpImportScheduleTime" value="03:20:00" />
    <add key="AwvPcpImportSourcePath" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\Awv\upload\pcp" />
    <add key="AwvPcpImportArchivePath" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\Awv\upload\pcp\Archive\" />
    <add key="MaximumDataRowCountLimitForCsvParser" value="100000"/>

    <add key="ArchiveResultDataSettingsPath" value="B:\Jobs\hip.healthfair.com\Import.Job\Resource\ResultArchive.xml"/>
    <add key="ArchiveResultDataForOlderThanDays" value="656"/>
    <add key="ArchiveResultDataIntervalHrs" value="24"/>
    <add key="ArchiveResultDataScheduleTime" value="04:20:00"/>
    <add key="ArchiveMediaUrl" value="https://media.healthfair.com/Archive"/>
    <add key="ArchiveMediaLocation" value="G:\Archive\media.healthfair.com"/>

    <add key="WellmedAccountId" value="1003"/>
    <add key="MolinaAccountId" value="1013"/>
    <add key="StopMediaArchiveService" value="true"/>

    <add key="HcpNvAccountId" value="966"/>

    <add key="CorporateTagIntervalHrs" value="24"/>
    <add key="CorporateTagSchedulingTime" value="00:05:00"/>

    <add key="LastLoggedInBeforeDays" value="30"/>
    <add key="UserDeactivationScheduleTime" value="05:00:00"/>

    <add key="MonarchAccountId" value="1060"/>
    <add key="MonarchAccountIds" value="1060,1065"/>
    <add key="MonarchAttestationScheduleTime" value="03:20:00"/>
    <add key="MonarchAttestationIntervalHours" value="24"/>

    <add key="AccountIdsForEventFileImport" value="966"/>
    <add key="EventFileImportScheduleTime" value="03:20:00"/>
    <add key="EventFileImportIntervalHours" value="24"/>

    <add key="HcpNvSftpHost" value="66.161.120.70" />
    <add key="HcpNvSftpUserName" value="sdelia" />
    <add key="HcpNvSftpPassword" value="W3lcome2sFTP!" />
    <add key="HcpNvLockCorporateEventFolderLocation" value="/HealthFair"/>

    <add key="AttestionFormParseAccountIds" value="1060,1065,1078"/>

    <add key="AppleCareAccountId" value="1078"/>
    <add key="AppleCareAttestationFormsPath" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\{0}\upload\Green Forms"/>

    <add key="WellmedWellCareAccountId" value="1080" />

    <add key="StaffEventScheduleParseIntervalMinutes" value="5"/>

    <add key="RedisDatabaseKey" value="1" />
    <add key="RedisServerHost" value="live-auth.corphealthfair.com"/>
    <add key="RedisChannelQueuePrefix" value="prod" />
    
    <add key="NumberOfMaximumPrintInProgress" value="4"/>

    <add key="ParsePatientDataSftpPath" value="\\sdl01-vm10.matrixhealth.net\ShareRoot\Collab\HealthFair\BPA\HLTHFAIRC\Inbound\"/>
    <add key="ParsePatientDataScheduleTime" value="04:00:00"/>
    <add key="ParsePatientDataIntervalHours" value="24"/>
    <add key="ChecklistChangeDate" value="12/31/2022" />

    <add key="ConsentHeaderFormUrl" value="https://hip.healthfair.com/Medical/Results/StandingOrderHeader"/>
    <add key="ResultFlowChangeDate" value="10/30/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="https://hra.healthfair.com"/>
    <add key="MedicareApiUrl" value="api"/>

    <add key="NammAccountId" value="1122" />
    <add key="NammAttestationFormsPath" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\NAMM"/>
    <add key="NammSourceDirectory" value="/"/>
    <add key="NammSftpHost" value=""/>
    <add key="NammSftpUserName" value=""/>
    <add key="NammSftpPassword" value=""/>
    <add key="IsSftpEnableforNaamAccount" value="false"/>
    <add key="SyncWithHra" value="true" />

    <add key="WellmedTxAccountId" value="1118" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>