@model Falcon.App.Core.Medical.ViewModels.HealthAssessmentHeaderEditModel
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div style="padding-top: 40px;">
    <div style="float: left; width: 97%;">
        <div style="float: left; width: 97%; text-align: center; ">
            <b>Informed Consent to Participate in Health Screening Session</b>
            <p>(“Informed Consent”)</p>
        </div>
        <div style="text-align:justify; ">
            <div style=" float: left;">
                1.
                <b><u>Background and Purpose</u></b>. Community Care Health Network, LLC d/b/a Matrix Medical Network, through its mobile clinic subsidiary, DPN, USA, LLC and its affiliated professional corporations and other entities (collectively, <u>“Matrix”</u>), perform health tests and screenings to the undersigned individual (<u>“I”</u> or <u>“me”</u> in order to increase my knowledge of my personal health and wellness and to assist me with establishing and achieving health goals.
            </div>

            <div style="float: left;">
                <br />
                2. <b><u>Explanation of the Tests, Screenings, and Session</u></b>. A health care screening session (each, a <u>“Session”</u> and collectively, <u>“Sessions”</u> will include one or more of the following tests or screenings: (a) blood pressure reading; (b) lipid panel; (c) hemoglobin A1c; (d) echocardiogram; (e) electrocardiogram; (f) spirometry; (g) mammogram; (h) prostate specific antigen; (i) urine microalbumin; and/or (j) fecal immunochemical test. In addition, each Session may include the completion of a wellness questionnaire and the calculation of my body mass index (BMI). I acknowledge that this Informed Consent informs me about the tests, screenings and a Session; documents my consent, and assumption of all risks of injury or death, to participate in the tests, screenings, and a Session; and releases Matrix and the Matrix Parties of any liability in connection with these tests, screens, and Sessions as set forth in this Informed Consent.
            </div>

            <div style="float: left;">
                <br />
                3. <b><u>Participant’s Acknowledgements.</u></b> By signing this Informed Consent, I understand, acknowledge, and agree that: (a) Sessions, tests, and screenings are (1) solely for the purposes of education, and the data and information obtained during a Session will not be medically evaluated by Matrix or the Matrix Parties, (2) not a replacement of a consultation, physical examination, or evaluation from a physician or other appropriate healthcare provider, (3) helpful tools but have limitations and may not find any or all abnormalities and should not be considered absolute proof of the presence or absence of an abnormality, and (4) generally non-invasive and painless but may result in some discomfort including, but not limited to, a finger prick and limited disrobement; and (b) NEITHER MATRIX NOR THE MATRIX PARTIES ARE (1) ASSUMING, OR ARE RESPONSIBLE FOR PROVIDING ME WITH, ANY MEDICAL OR SIMILAR PROFESSIONAL STANDARD OF CARE, OR DUTY OR RESPONSIBILITY, WITH RESPECT TO OPERATING A SESSION AND PERFORMING ANY TESTS AND SCREENS, (2) ASSUMING ANY DUTY TO PROVIDE, AND WILL NOT PROVIDE, ANY MEDICAL CARE OR ADVICE, (3) a medical practice or medical firm, and (4) providing medical services or medical advice or recommendations; and (c) I am (1) in good health and am able to participate in a Session, tests, and screenings, (2) not entering into a patient relationship with Matrix or any of the Matrix Parties, and (3) not protected from disease by participating in a Session, test, or screening. I further agree that all of my questions regarding the subject matter in this Informed Consent were answered to my satisfaction and I have been advised of the information contained in this Informed Consent and understand it.
            </div>

            <div style="float: left;">
                <br />
                4. <b><u>Participant Responsibilities.</u></b> By signing this Informed Consent, I understand, acknowledge, and agree that I am solely responsible for: (a) asking questions of the staff if I do not understand the risks or the screenings and tests being performed; (b) seeking more comprehensive and extensive testing to determine whether I have any medical conditions; (c) arranging for any additional follow-up care or necessary actions; (d) informing the staff of any unusual symptoms or medical conditions before, during, and/or after the Session or administration of a test or screening; and (e) discussing my test or screening results with a physician or other appropriate healthcare provider.
            </div>

            <div style="float: left;">
                <br />
                5. <b><u>Confidentiality.</u></b> I understand, acknowledge, and agree that certain personal data and information captured during a Session may be: (a) disclosed to certain third parties to help me understand my health; (b) disclosed to my employer in an aggregate form without personally identifying me; (c) disclosed to my primary care physician or any other person who I approve; and (d) used by Matrix to develop, evaluate, and improve the Session and tests and screenings. I further acknowledge that if the Session is part of my employer’s sponsored health plan, I agree that Matrix may use and disclose my personal data and information, including Protected Health Information, in accordance with any applicable Business Associate Agreement, as required by the Health Insurance Portability and Accountability Act and its amendments (<u>“HIPAA”</u>); the Health Information Technology for Economic and Clinical Health Act and its amendments (<u>“HITECH”</u>); and the regulations issued pursuant to each.
            </div>

            <div style="float: left;">
                <br />
                6.<b><u>Warranty Disclaimer.</u></b> I UNDERSTAND, ACKNOWLEDGE, AND AGREE THAT NEITHER MATRIX NOR THE MATRIX PARTIES MAKE ANY REPRESENTATIONS OR WARRANTIES REGARDING THE TESTS, SCREENS, AND SESSIONS AND EXPRESSLY DISCLAIM ANY AND ALL IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND EXPRESS WARRANTIES REGARDING THE TESTS, SCREENS, AND SESSIONS.
            </div>

            <div style="float: left;">
                <br />
                7. <b><u>Waiver and Release of Liability.</u></b> I, on behalf of myself and my assignees, heirs, next of kin, spouse and legal representatives (the <u>“Releasing Parties”</u> do hereby assume full responsibility for any injuries or damages arising from the testS, screens, and Sessions, and absolutely, fully, and forever release, relieve, waive, relinquish and discharge Matrix and any and all of its respective affiliates, subsidiaries, directors, officers, employees, agents, contractors, owners, shareholders, and representatives (each, a <u>“Matrix party”</u> and collectively, the <u>“Matrix Parties”</u> of and from any and all injuries, damages, actions or causes of action, actual or alleged claims, of any kind or undiscovered, accrued or un-accrued, suspected or unsuspected, which any Releasing Party may now have claim to, or which may at any time hereafter accrue, arising out of, in connection with, in consequence of, in any way involving, or related to the performance of the tests and screens and participation in a Session, including, but not limited, the negligence of any of the Matrix Parties, or otherwise. I also agree that the Releasing Parties will not make a claim against, sue, or bring any action in connection with any of the matters covered by this Informed Consent.
            </div>

            <div style="float: left;">
                <br />
                8. <b><u>Emergency Care. </u></b>If I am physically injured or otherwise require emergency care, I give permission to Matrix and the Matrix Parties to secure any treatment considered necessary for my immediate care. I agree to be solely responsible for payment of any and all medical services rendered.
            </div>

            <div style="float: left;">
                <br />
                9. <b><u>Miscellaneous.</u></b> If any provision of this Informed Consent is invalid or unenforceable, such provision shall be deemed modified to the extent necessary to be valid and enforceable.
            </div>
            <div style="float: left;">
                <br />
                I confirm that I have read this Informed Consent in its entirety and I am signing this Informed Consent voluntarily and both individually and on behalf of the Releasing Parties.  I fully understand the contents of this Informed Consent and the ramifications for signing it.
                <br />
                <br />
                <br />
                <br />

            </div>


        </div>


        <table border="0" style="float: left; border-collapse: collapse; width: 100%; text-align: left; ">
            <tr style="height: 50px;">
                <td style="width: 40%; text-align: left"><b>&nbsp;&nbsp;Signature:</b></td>
                <td style="width: 30%; text-align: center"><b>&nbsp;&nbsp;Printed Name:&nbsp;&nbsp; @Model.CustomerName.FullName</b></td>
                <td style="width: 30%; text-align: center"><b>&nbsp;&nbsp;Date:&nbsp;&nbsp; @Model.EventDate.ToShortDateString()</b></td>
            </tr>
            

        </table>


    </div>
</div>