  <div class="sequence-block alternate-color">
        <div class="front-radio-block">
            <span>
                <input type="radio" ctrl_answer="Yes" name="question-115" onclick="EnableBreastProblem(true);" />
                Yes
            </span>
            <span>
                <input type="radio" ctrl_answer="No" name="question-115" onclick="EnableBreastProblem(false);" />
                No
            </span>
        </div>
        <div class="question-label-block">
            Are you having any problems with your breasts?
        </div>
        <input type="text" style="display: none" class="questionid" value="115" />
        <input type="text" style="display: none" class="default-answer" />
        <input type="text" style="display: none" class="control-type" value="" />
    </div>
    <div style="float: left; ">
        <div class="sequence-block validate-child-radio" style="padding: 0px; margin-bottom: 10px; width: 99%; margin-left: 17%;">
            <div class="question-label-block">
                <span style="float: left;">If yes, please explain:</span>
                <br />
                <span>
                    <input type="radio" ctrl_answer="PainDuringMensurationCycle" name="question-135" />
                    Pain during menstrual cycle
                </span>
                <span>
                    <input type="radio" ctrl_answer="DischargeRipping" name="question-135" />
                    Discharge Ripping
                </span>
                <span>
                    <input type="radio" ctrl_answer="Burning" name="question-135" />
                    Burning
                </span>
                <span>
                    <input type="radio" ctrl_answer="ColorChange" name="question-135" />
                    Color Change
                </span>
                <span>
                    <input type="radio" ctrl_answer="Hardening" name="question-135" />
                    Hardening
                </span>
            </div>
            <input type="text" style="display: none" class="questionid" value="135" />
            <input type="text" style="display: none" class="default-answer" />
            <input type="text" style="display: none" class="control-type" value="" />
        </div>
    </div>
    <div class="sequence-block alternate-color">
        <div class="front-radio-block">
            <span>
                <input type="radio" ctrl_answer="Yes" name="question-116" onclick="EnablePrevoiusMammogram(true);" />
                Yes
            </span>
            <span>
                <input type="radio" ctrl_answer="No" name="question-116" onclick="EnablePrevoiusMammogram(false);" />
                No
            </span>
        </div>
        <div class="question-label-block">
            Previous Mammogram
        </div>
        <input type="text" style="display: none" class="questionid" value="116" />
        <input type="text" style="display: none" class="default-answer" />
        <input type="text" style="display: none" class="control-type" value="" />
    </div>
    <div style="float: left; width: 100%;" class="alternate-color validate-child-text">
        <div class="sequence-block" style="padding: 0px; margin-bottom: 10px; width: 20%; margin-left: 17%;">
            <div class="question-label-block" style="width: 95%;">
                <span>Date:</span>
                <span>
                    <input type="text" style="width: 85px;" class="text-question" />
                </span>
            </div>
            <input type="text" style="display: none" class="questionid" value="117" />
            <input type="text" style="display: none" class="default-answer" />
            <input type="text" style="display: none" class="control-type" value="" />
        </div>
        <div class="sequence-block" style="padding: 0px; margin-bottom: 10px; width: 60%;">
            <div class="question-label-block">
                <span style="float: left;">Location</span>
                <span style="float: left;">
                    <input type="text" style="width: 200px;" class="text-question" />
                </span>
            </div>
            <input type="text" style="display: none" class="questionid" value="118" />
            <input type="text" style="display: none" class="default-answer" />
            <input type="text" style="display: none" class="control-type" value="" />
        </div>
    </div>
    <div class="sequence-block alternate-color">
        <div class="front-radio-block">
            <span>
                <input type="radio" ctrl_answer="Yes" name="question-119" onclick="EnableBreastCancer(true);" />
                Yes
            </span>
            <span>
                <input type="radio" ctrl_answer="No" name="question-119" onclick="EnableBreastCancer(false);" />
                No
            </span>
        </div>
        <div class="question-label-block">
            Have you had breast cancer?
        </div>
        <input type="text" style="display: none" class="questionid" value="119" />
        <input type="text" style="display: none" class="default-answer" />
        <input type="text" style="display: none" class="control-type" value="" />
    </div>
    <div style="float: left; width: 100%;" class="alternate-color">
        <div class="sequence-block validate-child-text-nowidth" style="padding: 0px; margin-bottom: 10px; width: 20%; margin-left: 17%;">
            <div class="question-label-block" style="width: 95%;">
                <span>Date:</span>
                <span>
                    <input type="text" style="width: 85px;" class="text-question" />
                </span>
            </div>
            <input type="text" style="display: none" class="questionid" value="120" />
            <input type="text" style="display: none" class="default-answer" />
            <input type="text" style="display: none" class="control-type" value="" />
        </div>
        <div class="sequence-block validate-child-radio-nowidth" style="padding: 0px; margin-bottom: 10px; width: 60%;">
            <div class="question-label-block">
                <span style="float: left;">Which breast</span>
                <span>
                    <input type="radio" ctrl_answer="Right" name="question-121" />
                    Right
                </span>
                <span>
                    <input type="radio" ctrl_answer="Left" name="question-121" />
                    Left
                </span>
                <span>
                    <input type="radio" ctrl_answer="Both" name="question-121" />
                    Both
                </span>
            </div>
            <input type="text" style="display: none" class="questionid" value="121" />
            <input type="text" style="display: none" class="default-answer" />
            <input type="text" style="display: none" class="control-type" value="" />
        </div>
    </div>
    <div style="float: left; width: 100%;" class="alternate-color">
        <div class="sequence-block" style="padding: 0px; margin-bottom: 10px; width: 36%;">
            <div class="front-radio-block" style="width: 45%;">
                <span>
                    <input type="radio" ctrl_answer="Yes" name="question-122" onclick="EnableBreastMass(true);" />
                    Yes
                </span>
                <span>
                    <input type="radio" ctrl_answer="No" name="question-122" onclick="EnableBreastMass(false);" />
                    No
                </span>
            </div>
            <div class="question-label-block" style="width: 51%;">
                Previous breast mass
            </div>
            <input type="text" style="display: none" class="questionid" value="122" />
            <input type="text" style="display: none" class="default-answer" />
            <input type="text" style="display: none" class="control-type" value="" />
        </div>
        <div class="sequence-block" style="padding: 0px; margin-bottom: 10px; width: 30%;">
            <div class="question-label-block">
                <span style="float: left;">Type:</span>
                <span>
                    <input type="radio" ctrl_answer="Cystic" name="question-123" />
                    Cystic
                </span>
                <span>
                    <input type="radio" ctrl_answer="Solid" name="question-123" />
                    Solid
                </span>
            </div>
            <input type="text" style="display: none" class="questionid" value="123" />
            <input type="text" style="display: none" class="default-answer" />
            <input type="text" style="display: none" class="control-type" value="" />
        </div>
        <div class="sequence-block" style="padding: 0px; margin-bottom: 10px; width: 30%;">
            <div class="question-label-block" style="width: 95%;">
                <span>When:</span>
                <span>
                    <input type="text" style="width: 85px;" class="text-question" />
                </span>
            </div>
            <input type="text" style="display: none" class="questionid" value="136" />
            <input type="text" style="display: none" class="default-answer" />
            <input type="text" style="display: none" class="control-type" value="" />
        </div>
    </div>
    <div style="float: left; width: 100%;" class="alternate-color">
        <div class="sequence-block" style="padding: 0px; margin-bottom: 10px; width: 48%;">
            <div class="front-radio-block" style="width: 33%;">
                <span>
                    <input type="radio" ctrl_answer="Yes" name="question-124" onclick="EnableBiopsy(true);" />
                    Yes
                </span>
                <span>
                    <input type="radio" ctrl_answer="No" name="question-124" onclick="EnableBiopsy(false);" />
                    No
                </span>
            </div>
            <div class="question-label-block" style="width: 51%;">
                Have you ever had Biopsy?
            </div>
            <input type="text" style="display: none" class="questionid" value="124" />
            <input type="text" style="display: none" class="default-answer" />
            <input type="text" style="display: none" class="control-type" value="" />
        </div>
    </div>
    <div style="float: left; width: 100%;" class="">
        <div class="sequence-block validate-child-radio-nowidth" style="padding: 0px; margin-bottom: 10px; width: 49%; margin-left: 17%;">
            <div class="question-label-block" style="width: 99%;">
                <span style="float: left;">Type:</span>
                <span>
                    <input type="radio" ctrl_answer="NeedleAspiration" name="question-125" />
                    Needle Aspiration
                </span>
                <span>
                    <input type="radio" ctrl_answer="Mastectomy" name="question-125" />
                    Mastectomy
                </span>
                <span>
                    <input type="radio" ctrl_answer="Other" name="question-125" />
                    Other
                </span>
            </div>
            <input type="text" style="display: none" class="questionid" value="125" />
            <input type="text" style="display: none" class="default-answer" />
            <input type="text" style="display: none" class="control-type" value="" />
        </div>
        <div class="sequence-block validate-child-text-nowidth" style="padding: 0px; margin-bottom: 10px; width: 20%;">
            <div class="question-label-block" style="width: 95%;">
                <span>When:</span>
                <span>
                    <input type="text" style="width: 85px;" class="text-question" />
                </span>
            </div>
            <input type="text" style="display: none" class="questionid" value="137" />
            <input type="text" style="display: none" class="default-answer" />
            <input type="text" style="display: none" class="control-type" value="" />
        </div>
    </div>
    <div style="float: left; width: 100%;" class="alternate-color">
        <div class="sequence-block" style="padding: 0px; margin-bottom: 10px; width: 49%;">
            <div class="front-radio-block" style="width: 33%;">
                <span>
                    <input type="radio" ctrl_answer="Yes" name="question-126" onclick="EnableImplants(true);" />
                    Yes
                </span>
                <span>
                    <input type="radio" ctrl_answer="No" name="question-126" onclick="EnableImplants(false);" />
                    No
                </span>
            </div>
            <div class="question-label-block" style="width: 51%;">
                Have you ever had Implants?
            </div>
            <input type="text" style="display: none" class="questionid" value="126" />
            <input type="text" style="display: none" class="default-answer" />
            <input type="text" style="display: none" class="control-type" value="" />
        </div>
        <div class="sequence-block" style="padding: 0px; margin-bottom: 10px; width: 40%;">
            <div class="question-label-block validate-child-radio-nowidth">
                <span>
                    <input type="radio" ctrl_answer="Both" name="question-127" />
                    Both
                </span>
                <span>
                    <input type="radio" ctrl_answer="Left" name="question-127" />
                    Left
                </span>
                <span>
                    <input type="radio" ctrl_answer="Right" name="question-127" />
                    Right
                </span>
            </div>
            <input type="text" style="display: none" class="questionid" value="127" />
            <input type="text" style="display: none" class="default-answer" />
            <input type="text" style="display: none" class="control-type" value="" />
        </div>
    </div>
    <div class="sequence-block alternate-color">
        <div class="front-radio-block">
            <span>
                <input type="radio" ctrl_answer="Yes" name="question-128" onclick="EnableHysterectomy(true);" />
                Yes
            </span>
            <span>
                <input type="radio" ctrl_answer="No" name="question-128" onclick="EnableHysterectomy(false);" />
                No
            </span>
        </div>
        <div class="question-label-block">
            Have you had a hysterectomy?
        </div>
        <input type="text" style="display: none" class="questionid" value="128" />
        <input type="text" style="display: none" class="default-answer" />
        <input type="text" style="display: none" class="control-type" value="" />
    </div>
    <div style="float: left; width: 100%;" class="alternate-color validate-child-text">
        <div class="sequence-block" style="padding: 0px; margin-bottom: 10px; width: 50%; margin-left: 17%;">
            <div class="question-label-block" style="width: 95%;">
                <span>If yes, date of hysterectomy:</span>
                <span>
                    <input type="text" style="width: 85px;" class="text-question" />
                </span>
            </div>
            <input type="text" style="display: none" class="questionid" value="129" />
            <input type="text" style="display: none" class="default-answer" />
            <input type="text" style="display: none" class="control-type" value="" />
        </div>
    </div>
    <div class="sequence-block alternate-color">
        <div class="front-radio-block">
            <span>
                <input type="radio" ctrl_answer="Yes" name="question-130" />
                Yes
            </span>
            <span>
                <input type="radio" ctrl_answer="No" name="question-130" />
                No
            </span>
        </div>
        <div class="question-label-block">
            Were your ovaries removed at that time?
        </div>
        <input type="text" style="display: none" class="questionid" value="130" />
        <input type="text" style="display: none" class="default-answer" />
        <input type="text" style="display: none" class="control-type" value="" />
    </div>
    <div class="sequence-block alternate-color" style="padding: 0px; margin-bottom: 10px;">
        <div class="front-radio-block">
            &nbsp;
        </div>
        <div class="question-label-block">
            <span>When was your last menstrual period?</span>
            <span>
                <input type="text" style="width: 85px;" class="text-question" />
            </span>
        </div>
        <input type="text" style="display: none" class="questionid" value="131" />
        <input type="text" style="display: none" class="default-answer" />
        <input type="text" style="display: none" class="control-type" value="" />
    </div>
    <div class="sequence-block alternate-color">
        <div class="front-radio-block">
            <span>
                <input type="radio" ctrl_answer="Yes" name="question-132" onclick="EnableMenopause(true);" />
                Yes
            </span>
            <span>
                <input type="radio" ctrl_answer="No" name="question-132" onclick="EnableMenopause(false);" />
                No
            </span>
        </div>
        <div class="question-label-block">
            Has your mother or sister (s) had breast cancer?
        </div>
        <input type="text" style="display: none" class="questionid" value="132" />
        <input type="text" style="display: none" class="default-answer" />
        <input type="text" style="display: none" class="control-type" value="" />
    </div>
    <div style="float: left; width: 100%;" class="alternate-color validate-child-radio">
        <div class="sequence-block" style="padding: 0px; margin-bottom: 10px; width: 80%; margin-left: 17%;">
            <div class="question-label-block">
                <span style="float: left;">If yes</span>
                <span>
                    <input type="radio" ctrl_answer="Before" name="question-133" />
                    Before menopause
                </span>
                <span>
                    <input type="radio" ctrl_answer="After" name="question-133" />
                    After menopause
                </span>
            </div>
            <input type="text" style="display: none" class="questionid" value="133" />
            <input type="text" style="display: none" class="default-answer" />
            <input type="text" style="display: none" class="control-type" value="" />
        </div>
    </div>
    <div class="sequence-block alternate-color">
        <div class="front-radio-block">
            <span>
                <input type="radio" ctrl_answer="Yes" name="question-134" />
                Yes
            </span>
            <span>
                <input type="radio" ctrl_answer="No" name="question-134" />
                No
            </span>
        </div>
        <div class="question-label-block">
            Are you taking hormone medication?
        </div>
        <input type="text" style="display: none" class="questionid" value="134" />
        <input type="text" style="display: none" class="default-answer" />
        <input type="text" style="display: none" class="control-type" value="" />
    </div>

    