
<div class="popup_wrapper" style="width: 530px; margin: 0 auto;">
    <p class="tm-header">
        Terms and conditions for Matrix Medical Network
    </p>
    <p class="tm-content">
        Matrix Medical Network expressly disclaims all warranties and responsibilities of any kind, whether express or implied, for the accuracy or reliability of the content 
        of any information contained in this Web Site. While we have made a concerted effort to provide you with the best possible information, this website is not 
        a substitute for a visit with your healthcare professional, and any reliance upon or use of this information by you is at your own independent discretion and 
        risk. By using this site you agree to these terms.
    </p>
    <p class="tm-header">
       Payment Policy
    </p>
    <p class="tm-content">
        If payment is due, you may pay by electronic check, credit or debit card when scheduling your appointment and all payments will be processed at the time the appointment is scheduled.
        <br />
        <br />
        To redeem a gift certificate, please provide the gift certificate number when scheduling your appointment and bring it with you on the day of your appointment.
    </p>
    <p class="tm-header">
        Cancellation Policy
    </p>
    <p class="tm-content">
        All screening fees are due at the time of appointment scheduling.  For paid appointments, if you cancel your appointment with more than 5 days notice of your scheduled appointment, 
        you will be charged a $25 cancellation fee and receive a refund of the remaining balance. If 5 days or less notice is given or you miss your scheduled appointment time, no refund 
        will be issued. A Matrix Medical Network gift certificate will be issued for the amount of the prepayment. Gift certificates are valid for 1 year from the date of issue, are transferable, and 
        can be used at any Matrix Medical Network location. Gift certificates are non-refundable and have no cash value. Cancellation fees do not apply for screening events sponsored by your employer.
    </p>
</div>
