@{
    var settings = Falcon.App.DependencyResolution.IoC.Resolve<Falcon.App.Core.Application.ISettings>();
}

<h3 class="title_green mt15">
    <strong>Share your experience </strong>
</h3>
<div style="margin-top:5px;">
    <span style="float: left; width: 90px; text-align: center;">
        <a href="http://facebook.com/healthfairusa" target="_blank">
            <span style="float: left;">
                <img src="/config/content/images/facebook_button.png" alt="facebook" width="80px;" height="60px;" />
            </span> 
            <span style="float: left; padding:10px;">Facebook </span>
        </a>
    </span>
    <span style="float: left; width: 90px; text-align: center;">
        <a href="http://twitter.com/healthfairusa" target="_blank">
            <span style="float: left;">
                <img src="/config/content/images/twitter_button.png" alt="twitter" width="80px;" height="60px;" />
            </span>
            <span style="float: left; padding:10px;">Twitter </span>
        </a>
    </span>
    <span style="float: left; width: 90px; text-align: center;">
        <a href="mailto:@settings.SupportEmail" target="_blank">
            <span style="float: left;">
                <img src="/config/content/images/email_button.png" alt="Mail To Matrix" width="80px;" height="60px;" />
            </span>
            <span style="float: left; padding:10px;">Email</span>
        </a>
    </span>
</div>
