@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
    <body>
        <div style="margin-top: 100px;margin-bottom: 200px;text-align: center;">
            <h2>
                Sorry, an error occurred while processing your request.
            </h2>
            <a href="/Users/Dashboard">Click Here </a> to return to your dashboard or <a href="/App/Logoff.aspx">Click to Logout</a>.
        </div>
    </body>
</html>