<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=172.25.0.60;Initial Catalog=HealthfairProd;User ID=falconuser;Password=Screening!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Media Location-->
    <add key="MediaLocation" value="\\hqmediacifs\hqmediashare\media.healthfair.com" />
    <add key="MediaUrl" value="http://media2.healthfair.com" />
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthFairProd" />
    <add key="SiteConfigurableContentPath" value="B:\Websites\hip.healthfair.com\www\Config\Content" />
    <add key="SiteUrl" value="http://hip.HealthFair.com"/>
    <add key="Address1" value="9201 E. Mountain View Road"/>
    <add key="Address2" value="Suite 220"/>
    <add key="City" value="Scottsdale"/>
    <add key="State" value="Arizona"/>
    <add key="ZipCode" value="85258"/>
    <add key="FullBusinessName" value="Matrix Medical Network"/>
    <add key="PhoneTollFree" value="855-305-8378"/>
    <add key="HealthAssesmentFormUrl" value="https://hip2.healthfair.com/Medical/Results/HealthAssessment"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <add key="RedisDatabaseKey" value="1" />
    <add key="RedisServerHost" value="live-auth.corphealthfair.com"/>
    <add key="RedisChannelQueuePrefix" value="prod" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>