@model Falcon.App.Core.Medical.ViewModels.FluVaccinationConsentViewModel
@{
    Layout = "LayoutPrintableHealthAssessment.cshtml";
}

@if (File.Exists(Server.MapPath("/Config/Content/Views/Shared/FluPneumoniaConsent.cshtml")))
{
    <div style="width: 900px">
        @Html.Partial("/Config/Content/Views/Shared/FluPneumoniaConsent.cshtml", Model)
    </div>
}
