<div class="menu-container">
    <ul id="topnav">
        <li><a href="/App/CallCenter/CallCenterManagerDashBoard.aspx" class="no-arrow">Home</a></li>
        <li>
            <a href="#" class="home">Scheduling</a>
            <div class="sub">
                <ul>
                    <li>
                        <h2>
                            <a href="#">Manage</a>
                        </h2>
                    </li>
                    <li><a href="/Scheduling/Event/Index?showUpcoming=true">Events</a></li>                   
                </ul>
                <ul>
                    <li>f
                        <h2>
                            <a href="#">Reports</a>
                        </h2>
                    </li>                    
                    <li><a href="/Scheduling/Reports/AppointmentsBooked">Appointments Booked</a></li>                    
                    <li><a href="/Scheduling/Reports/PublicEventVolume">Event Volume (Retail)</a></li>
                    <li><a href="/Scheduling/Reports/CorporateEventVolume">Event Volume (Corporate)</a></li>
                    <li><a href="/Scheduling/Reports/ClientEventVolume">Event Volume (Health Plan)</a></li>
                    <li><a href="/Scheduling/Reports/NoShowCustomer">No Show Customers</a></li>
                    <li><a href="/Scheduling/Reports/CancelledCustomer">Canceled Customers</a></li>
                    <li><a href="/Scheduling/Reports/CustomerExport">Customer Export</a></li>
                    <li><a href="/Scheduling/Reports/RescheduleAppointment">Reschedule Appointment</a></li>
                    <li><a href="/Scheduling/Reports/EventCancelation">Event Cancelation</a></li>
                    <li><a href="/Scheduling/Reports/TestsBooked">Test Booked</a></li>
                    <li><a href="/Scheduling/Reports/PcpAppointment">PCP Appointment Disposition Report</a></li>
                    <li><a href="/Scheduling/Reports/MemberStatusReport">Health Plan Member Status Report</a></li>
                    <li><a href="/Scheduling/Reports/CustomerLeftWithoutScreening">Customer Left Without Screening</a></li>
                    <li><a href="/Scheduling/Reports/VoiceMailReminder">Voice Mail Reminder</a></li>                    
                    <li><a href="/Scheduling/Reports/TextReminder">SMS Reminder</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="home">Employee</a>
            <div class="sub">
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Create</a>
                        </h2>
                    </li>
                    <li><a href="/App/CallCenter/AddCallCenterRep.aspx">New Call Centre Agent</a></li>
                    <li><a href="/CallCenter/CallUpload/Upload">Activity Upload</a></li>

                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Manage</a>
                        </h2>
                    </li>
                    <li><a href="/App/CallCenter/ViewCallCenterRep.aspx">Call Centre Agents</a></li>
                    <li><a href="/CallCenter/CallUpload/CallUploadDetail">Activity Upload Details</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Reports</a>
                        </h2>
                    </li>
                    <li><a href="/CallCenter/Reports/CallQueueReport">Call Queue</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="home">Call Center</a>
            <div class="sub">
                <ul>
                    <li>
                        <h2><a href="#" class="home">Create</a></h2>
                    </li>
                    <li><a href="/CallCenter/HealthPlanCallQueueCriteria/Create">New Call Queue Assignment</a></li>
                    <li><a href="/CallCenter/HealthPlanCallQueueCriteria/CreateTeam">New Team</a></li>
                </ul>
                <ul>
                    <li>
                        <h2><a href="#" class="home">Manage</a></h2>
                    </li>
                    <li><a href="/CallCenter/HealthPlanCallQueueCriteria/ManageCriteria">Call Queue Assignment</a></li>
                    <li><a href="/CallCenter/HealthPlanCallQueueCriteria/ManageCallCenterTeam">Manage Team</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Reports</a>
                        </h2>
                    </li>                    
                    <li><a href="/CallCenter/Reports/OutreachCallReport">Outreach Call</a></li>
                    <li><a href="/CallCenter/Reports/UncontactedCustomersReport">Uncontacted Customers</a></li>
                    <li><a href="/CallCenter/Reports/CallQueueSchedulingReport">Call Queue Scheduling</a></li>
                    <li><a href="/callcenter/Reports/CallQueueCriteriaReports">Call Queue Criteria</a></li>
                    <li><a href="/CallCenter/Reports/CallQueueExcludedCustomerReport">Call Queue Excluded Customers</a></li>
                    <li><a href="/CallCenter/Reports/AgentConversionReport?showPreviousDayData=true">Agent Conversion Report</a></li>
                    <li><a href="/CallCenter/Reports/CustomerWithNoEventsInAreaReport">Customer With No Events In Area Report</a></li>
                    <li><a href="/CallCenter/Reports/CallQueueEstimatedCustomerReport">Call Queue Estimated Customer Report</a></li>
                    <li><a href="/CallCenter/Reports/CallCenterCallReport">Call Center Call Report</a></li>
                    <li><a href="/CallCenter/Reports/ConfirmationReport">Confirmation Report</a></li>
                    <li><a href="/CallCenter/Reports/PreAssessmentReport">PreAssessment Report</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="home">Finance</a>
            <div class="sub">
                <ul>
                    <li>
                        <h2>
                            <a href="#">Manage</a>
                        </h2>
                    </li>
                    <li><a href="/Finance/RefundRequest">Process Refunds </a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Reports</a>
                        </h2>
                    </li>
                    <li><a href="/Finance/Reports/CallCenterBonus">Call Center Bonus(Expected)</a></li>
                    <li><a href="/Finance/Reports/AppointmentsShowed">Call Center Bonus(Actual)</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="home">Admin</a>
            <div class="sub">
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Manage</a>
                        </h2>
                    </li>
                    <li><a href="/Operations/Download/Index">Download Reports</a></li>
                </ul>
            </div>

        </li>
    </ul>
</div>
