
<div class="container">
    <ul id="topnav">
        <li><a href="/App/Customer/HomePage.aspx" class="home">Home</a></li>
        <li>
            <a href="#" class="home">Employee</a>
            <div class="sub">
                <ul>
                    <li><h2><a href="#" class="home">Manage</a></h2></li>
                    <li><a href="#" class="home">My Health</a></li>
                </ul>                
            </div>
        </li>
    </ul>
</div>

