<div class="menu-container">
    <ul id="topnav">
        <li><a href="/App/Franchisor/Dashboard.aspx" class="no-arrow">Home</a></li>
        <li>
            <a href="#" class="home">Scheduling</a>
            <div class="sub">
                <ul>
                    <li>
                        <h2>
                            <a href="#">Create</a>
                        </h2>
                    </li>
                    <li><a href="/App/Common/ScheduleTemplate.aspx">New Schedule Template</a></li>
                    <!--<li><a href="/App/Common/Calendar.aspx">Events Calendar</a></li>-->
                    <li><a href="/Scheduling/MassRegistration/Upload">Mass Registration (Upload) </a></li>
                    <li><a href="/Scheduling/Event/AddEventNotes">Add Event Notes</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#">Manage</a>
                        </h2>
                    </li>
                    <li><a href="/Scheduling/Event/Index?showUpcoming=true">Events</a></li>
                    <!--<li><a href="/App/Franchisor/FranchisorViewEvent.aspx">Events</a></li>*-->
                    <li><a href="/App/Common/ViewTemplate.aspx">Schedule Templates</a></li>
                    <li><a href="/Scheduling/Event/ManageEventNotes">Manage Event Notes</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#">Reports</a>
                        </h2>
                    </li>
                    <li><a href="/Scheduling/Reports/AppointmentsBooked">Appointments Booked</a></li>
                    <li><a href="/Scheduling/Reports/CustomerSchedule">Customer Schedule</a></li>
                    <li><a href="/Scheduling/Reports/PublicEventVolume?showThisYear=true">Event Volume (Retail)</a></li>
                    <li><a href="/Scheduling/Reports/CorporateEventVolume?showThisYear=true">Event Volume (Corporate)</a></li>
                    <li><a href="/Scheduling/Reports/ClientEventVolume?showThisYear=true">Event Volume (Health Plan)</a></li>
                    <li><a href="/Scheduling/Reports/NoShowCustomer">No Show Customers</a></li>
                    <li><a href="/Scheduling/Reports/CancelledCustomer">Canceled Customers</a></li>
                    <li><a href="/Scheduling/Reports/CustomerExport">Customer Export</a></li>
                    <li><a href="/Scheduling/Reports/RescheduleAppointment">Reschedule Appointment</a></li>
                    <li><a href="/Scheduling/Reports/EventCancelation">Event Cancelation</a></li>
                    <li><a href="/Scheduling/Reports/TestsBooked">Test Booked</a></li>
                    <li><a href="/Scheduling/Reports/PcpAppointment">PCP Appointment Disposition Report</a></li>
                    <li><a href="/Scheduling/Reports/MemberStatusReport">Health Plan Member Status Report</a></li>
                    <li><a href="/Scheduling/Reports/CustomerLeftWithoutScreening">Customer Left Without Screening</a></li>
                    <li><a href="/Scheduling/Reports/VoiceMailReminder">Voice Mail Reminder</a></li>
                    <li><a href="/Scheduling/Reports/DailyVolume">Daily Volume</a></li>
                    <li><a href="/Scheduling/Reports/TextReminder">SMS Reminder</a></li>
                    <li><a href="/Scheduling/Reports/PcpTrackingReport">PCP Change Tracking</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="home">Marketing</a>
            <div class="sub">
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Create</a>
                        </h2>
                    </li>
                    <li><a href="/Marketing/SourceCode/Create">New Source Code</a></li>
                    <li><a href="/Marketing/Package/Create">New Package</a></li>
                    <li><a href="/Marketing/MarketingSource/Create">New Marketing Sources</a></li>
                    <li><a href="/CallCenter/CallUpload/Upload">Activity Upload</a></li>
                    <li><a href="/CallCenter/Campaign/Create">New Campaign</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Manage</a>
                        </h2>
                    </li>
                    <li><a href="/Marketing/SourceCode">Source Code</a></li>
                    <li><a href="/Marketing/Package">Packages</a></li>
                    <li><a href="/Marketing/MarketingSource/Index">Marketing Sources</a></li>
                    <li><a href="/Marketing/Reports/ProspectCustomerAbandonedReport">Customer Prospects</a></li>
                    <li><a href="/CallCenter/CallUpload/CallUploadDetail">Activity Upload Details</a></li>
                    <li><a href="/CallCenter/Campaign/ManageCampaign">Campaigns</a></li>

                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Reports</a>
                        </h2>
                    </li>
                    <li><a href="/App/Order/ViewOrders.aspx">View Customer Order Details</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="home">Sales</a>
            <div class="sub">
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Create</a>
                        </h2>
                    </li>
                    <li><a href="/Users/CorporateAccount/Create">New Corporate Account</a></li>
                    <li><a href="/App/Common/AddNewProspect.aspx">New Host Prospect</a></li>
                    <li><a href="/Sales/Content/Create">New Content</a></li>
                    <li><a href="/App/Common/AddNewProspect.aspx">New Customer Prospect</a></li>
                    <li><a href="/App/Common/AddNewHost.aspx">New Hosts</a></li>
                    <li><a href="/Scheduling/MassRegistration/CorporateUpload">Corporate Upload </a></li>
                    <li><a href="/Sales/PhoneNumberUpload">Phone Number Upload</a></li>
                    <li><a href="/Operations/MergeCustomer/Upload">Merge Customer Upload</a></li>
                    <li><a href="/Scheduling/MassRegistration/EligibilityUpload">Eligibility Upload</a></li>
                    <li><a href="/Scheduling/MassRegistration/CustomerActivityTypeUpload">Customer Activity Type Upload</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Manage</a>
                        </h2>
                    </li>
                    <li><a href="/Users/CorporateAccount/Index">Corporate Account</a></li>
                    <li><a href="/App/Franchisor/ManageHost.aspx">Hosts</a></li>
                    <li><a href="/App/Franchisor/ManageProspect.aspx">Host Prospects</a></li>
                    <li><a href="/App/Franchisor/ViewContact.aspx">Contacts</a></li>
                    <li><a href="/App/Franchisor/Masters/HostType.aspx">Host Type</a></li>
                    <!--<li><a href="/App/Franchisor/FranchisorCustomerList.aspx">Customers</a></li>-->
                    <li><a href="/Sales/Content/Index">Content</a></li>
                    <li><a href="/Sales/CorporateAccount/ManageCustomTag">Manage Custom Tag</a></li>
                    <li><a href="/Sales/PhoneNumberUpload/ManagePhoneNumber">Phone Number Upload Details</a></li>
                    <li><a href="/Operations/MergeCustomer/UploadDetail">Merge Customer Upload Details</a></li>
                    <li><a href="/Scheduling/MassRegistration/EligibilityUploadDetails">Eligibility Upload Details</a></li>
                    <li><a href="/Scheduling/MassRegistration/CustomerActivityTypeUploadDetails">Customer Activity Type Upload Details</a></li>
                    <li><a href="/Scheduling/MassRegistration/MemberUploadDetails">Member Upload Details</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#">Activity</a>
                        </h2>
                    </li>
                    <li><a href="/App/Franchisor/ViewCall.aspx">View Calls</a></li>
                    <li><a href="/App/Franchisor/ViewMeetings.aspx">View Meetings</a></li>
                    <li><a href="/App/Franchisor/ViewTask.aspx">View Tasks</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="home">Call Center</a>
            <div class="sub">
                <ul>
                    <li>
                        <h2>
                            <a href="#">Create</a>
                        </h2>
                    </li>
                    <li><a href="/App/Franchisor/AddCallCenterManager.aspx">Call Center Manager</a></li>
                    <li><a href="/App/Franchisor/AddCallCentre.aspx">Call Center Vendor</a></li>
                    <!--<li><a href="/CallCenter/CallQueue/Create">Call Queue</a></li>-->
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Manage</a>
                        </h2>
                    </li>
                    <li><a href="/App/CallCenter/ScriptDetails.aspx">Scripts</a></li>
                    <li><a href="/App/CallCenter/ScriptType.aspx">Script Types</a></li>
                    <li><a href="/App/Franchisor/ViewCallCenterManager.aspx">Call Center Managers</a></li>
                    <li><a href="/App/Franchisor/ViewCallCentre.aspx">Call Center Vendors</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Reports</a>
                        </h2>
                    </li>
                    <!--<li><a href="/App/Franchisor/Reports/Metrics.aspx">Call Center Metrics</a></li>-->
                    <li><a href="/App/Franchisor/Reports/MetricDetail.aspx">Agent Performance</a></li>
                    <li><a href="/CallCenter/Reports/CallQueueReport">Call Queue</a></li>
                    <li><a href="/CallCenter/Reports/OutreachCallReport">Outreach Call</a></li>
                    <li><a href="/CallCenter/Reports/UncontactedCustomersReport">Uncontacted Customers</a></li>
                    <li><a href="/CallCenter/Reports/CallQueueSchedulingReport">Call Queue Scheduling</a></li>
                    <li><a href="/callcenter/Reports/CallQueueCriteriaReports">Call Queue Criteria</a></li>
                    <li><a href="/CallCenter/Reports/CallQueueExcludedCustomerReport">Call Queue Excluded Customers</a></li>
                    <li><a href="/CallCenter/Reports/AgentConversionReport?showPreviousDayData=true">Agent Conversion Report</a></li>
                    <li><a href="/CallCenter/Reports/CustomerWithNoEventsInAreaReport">Customer With No Events In Area Report</a></li>
                    <li><a href="/CallCenter/Reports/CallQueueEstimatedCustomerReport">Call Queue Estimated Customer Report</a></li>
                    <li><a href="/CallCenter/Reports/CallCenterCallReport">Call Center Call Report</a></li>
                    <li><a href="/CallCenter/Reports/ConfirmationReport">Confirmation Report</a></li>
                    <li><a href="/CallCenter/Reports/PreAssessmentReport">Pre-Assessment Report</a></li>
                    <li><a href="/CallCenter/Reports/CallSkippedReport">Call Skipped Report</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="home">Operations</a>
            <div class="sub">
                <ul>
                    <li>
                        <h2>
                            <a href="#">Create</a>
                        </h2>
                    </li>
                    <li><a href="/Operations/Pod/Create">New Pods/Hubs</a></li>
                    <li><a href="/Operations/Van/Create">New Vehicle</a></li>
                    <li><a href="/Operations/Schedule/ScheduleUpload">Staff Schedule Upload</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Manage</a>
                        </h2>
                    </li>
                    <li><a href="/App/Customer/Reports/TrackShippingDetail.aspx">Shipping</a></li>
                    <li><a href="/Operations/Schedule">Staff Schedule</a></li>
                    <li><a href="/Operations/StaffEventRole/Index">Staff Event Role</a></li>
                    <li><a href="/Operations/Pod/Index">Pods/Hubs</a></li>
                    <li><a href="/App/Common/VanDetails.aspx">Vehicles</a></li>
                    <li><a href="/App/Franchisor/Masters/Item.aspx">Inventory Items</a></li>
                    <!--<li><a href="/App/Franchisor/Masters/ItemType.aspx">Inventory Item Types</a></li>-->
                    <li><a href="/Operations/Schedule/ScheduleUploadDetails">Staff Schedule Upload Details</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Reports</a>
                        </h2>
                    </li>
                    <li><a href="/Operations/Reports/CdImageStatus">Product Shipping Status</a></li>
                    <li><a href="/Operations/Reports/CustomerLabels">Customer Labels</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#" class="home">Medical</a>
            <div class="sub">
                <ul>
                    <li>
                        <h2><a href="#" class="home">Create</a></h2>
                    </li>
                    <li><a href="/Medical/ResultArchive/Upload">New Result Archive</a></li>
                    <li><a href="/Users/MedicalVendor/Create">New Medical Vendor</a></li>
                    <li><a href="/Medical/HealthAssessment/Create">New Health Assessment Template</a></li>
                    <li><a href="/Users/HospitalFacility/Create">New Hospital Facility</a></li>
                    <li><a href="/Medical/ClinicalQuestion/Create">New Clinical Question Template</a></li>
                    <li><a href="/Medical/Raps/Upload">Upload RAPS</a></li>
                    <li><a href="/Medical/CheckList/Create">New Checklist Template</a></li>
                    <li><a href="/Medical/FluConsent/Create">New Flu Consent Template</a></li>
                    <li><a href="/Medical/Medication/Upload">Upload Medication</a></li>
                    <li><a href="/Medical/SuspectCondition/Upload">Upload Suspect Condition</a></li>
                    <li><a href="/Medical/PreQualifiedQuestion/Create">New PreQualified Question Template</a></li>
                    <li><a href="/Medical/Survey/Create">New Survey Template</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Manage</a>
                        </h2>
                    </li>
                    <!--
                    <li><a href="/App/MedicalVendor/ViewMedicalVendorUser.aspx" class="home">Existing Physicians</a></li> -->
                    <li><a href="/Medical/Results/ResultStatusList">Customer Results</a></li>
                    <li><a href="/Medical/ResultArchive/">Result Archives</a></li>
                    <li><a href="/Medical/Raps/Log">RAPS Archives</a></li>
                    <li><a href="/Medical/Test/Index">Manage Tests</a></li>
                    <li><a href="/Users/MedicalVendor/Index">Existing Medical Vendors</a></li>
                    <li><a href="/Medical/CustomerEventCriticalData/GetCustomerEventCriticalData">Critical/Urgent Management</a></li>
                    <li><a href="/Medical/HealthAssessment/Index">Health Assessment Template</a></li>
                    <li><a href="/Users/HospitalFacility/Index">Existing Hospital Facilities</a></li>
                    <li><a href="/Medical/ClinicalQuestion/Index">Clinical Question Template</a></li>
                    <li><a href="/Medical/CheckList/Index">Checklist Template</a></li>
                    <li><a href="/Medical/FluConsent/Index">Flu Consent Template</a></li>
                    <li><a href="/Medical/Medication/Log">Medication Archives</a></li>
                    <li><a href="/Medical/SuspectCondition/Log">Suspect Condition Archives</a></li>
                    <li><a href="/Medical/PreQualifiedQuestion/Index">PreQualified Question Template</a></li>
                    <li><a href="/Medical/Survey/Index">Survey Template</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Reports</a>
                        </h2>
                    </li>
                    <li><a href="/Medical/Reports/EventResultsStatus">Event Results Status</a></li>
                    <li>
                        <a href="/Medical/Results/TechnicalLimitedScreening">
                            Technical Limited Screening
                            Records
                        </a>
                    </li>
                    <li><a href="/Medical/Reports/PhysicianReviewSummary">Physician Review Summary</a></li>
                    <li>
                        <a href="/Sales/HospitalPartner/CustomerAggregateResultSummary">
                            Customer Aggregate
                            Result Summary
                        </a>
                    </li>
                    <li><a href="/Medical/Reports/TestPerformed">Test Performed</a> </li>
                    <li><a href="/Medical/Reports/KynCustomerReport">Customer KYN\HAF Report</a> </li>
                    <li><a href="/Medical/Reports/TestNotPerformed">Test Not Performed</a> </li>
                    <li><a href="/Medical/Reports/GapClosure">Gaps Closure</a></li>
                    <li><a href="/Medical/Reports/EventArchiveStats">Event Archive Stats</a></li>
                    <li><a href="/Medical/Reports/DisqualifiedTestReport">Disqualified Test Report</a></li>
                </ul>
                <!--<ul>
                    <li><h2><a href="#" class="home">Hospital</a></h2></li>
                    <li><a href="/App/Franchisor/HospitalPartner/AddHospitalFacility.aspx" class="home">New Hospital Partner Facility</a></li>
                    <li><a href="/App/Franchisor/HospitalPartner/ManageHospitalPartnerFacility.aspx" class="home">Manage Hospital Partner Facility</a></li>
                </ul>
                 <ul>
                    <li><h2><a href="#">Results</a></h2></li>
                    <li><a href="/App/Franchisor/EventCustomerResult.aspx">View Customer Results</a></li>
                    <li><a href="/App/Franchisor/EventResultsList.aspx">View Event Results List</a></li>
                </ul> -->
            </div>
        </li>
        <li>
            <a href="#" class="home">Finance</a>
            <div class="sub">
                <!--<ul>
                    <li><h2><a href="#">Marketing</a></h2></li>
                    <li><a href="/App/MarketingPartner/MarketingBreakUps/CategoryCustomerReport.aspx">Marketing Report</a></li>
                </ul>-->
                <ul>
                    <li>
                        <h2>
                            <a href="#">Manage</a>
                        </h2>
                    </li>
                    <li>
                        <a href="/App/Franchisor/Reports/MedicalVendorPaymentsByPod.aspx">
                            Medical Vendor
                            Payment By Pod
                        </a>
                    </li>
                    <li><a href="/App/Franchisee/Reports/TrackHostPaymentDetail.aspx">Host/Venue Payment</a></li>
                    <li><a href="/Finance/RefundRequest">Process Refunds </a></li>
                    <li><a href="/Finance/HealthPlanRevenue/Index">Health Plan Revenue</a></li>
                    <li><a href="/Finance/PayPeriod/Index">Pay Period</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Reports</a>
                        </h2>
                    </li>
                    <li><a href="/Finance/Reports/DetailOpenOrder">Open Orders</a></li>
                    <li><a href="/Finance/Reports/Upsell">Upsell Report</a></li>
                    <li><a href="/Finance/Reports/ItemizedReceipt">Customer Itemized Report</a></li>
                    <li><a href="/Finance/Reports/DailyRecap">Daily Recap (Event)</a></li>
                    <li><a href="/Finance/Reports/DailyPatientRecap">Daily Recap (Customer)</a></li>
                    <li><a href="/Finance/Reports/CreditCardReconcilation">Credit Card Reconcilation</a></li>
                    <li><a href="/Finance/Reports/DeferredRevenue">Deferred Revenue</a></li>
                    <li><a href="/Finance/Reports/ShippingRevenueSummary">Shipping Revenue Summary</a></li>
                    <li><a href="/Finance/Reports/CorporateInvoice">Corporate Invoice</a></li>
                    <li><a href="/Finance/Reports/GiftCertificate">Gift Certificate Tracking</a></li>
                    <li><a href="/Finance/Reports/CallCenterBonus">Call Center Bonus(Expected)</a></li>
                    <li><a href="/Finance/Reports/AppointmentsShowed">Call Center Bonus(Actual)</a></li>
                </ul>
                <!--<ul>
                    <li><h2><a href="#">Results</a></h2></li>
                    <li><a href="/App/Common/MissingResultReport.aspx">Missing Result Report</a></li>
                </ul>-->
            </div>
        </li>
        <li>
            <a href="#" class="home">Admin</a>
            <div class="sub">
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Create</a>
                        </h2>
                    </li>
                    <li><a href="/Users/User/Create">New User</a></li>
                    <li><a href="/App/Franchisor/Territory/Edit.aspx">New Territory</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Manage</a>
                        </h2>
                    </li>
                    <li><a href="/Users/User/">All Users</a></li>
                    <li><a href="/App/Franchisor/Territory/Manage.aspx">Territories</a></li>
                    <li><a href="/App/Franchisor/FranchisorGlobalAttribute.aspx">Global Settings</a></li>
                    <li><a href="/App/Franchisor/Masters/SecurityQuestions.aspx">Security Questions</a></li>
                    <li><a href="/App/Franchisor/Masters/ContractDetails.aspx">Legal Contracts</a></li>
                    <!--<li><a href="/App/Franchisor/FranchisorAdminUser.aspx">Manage Franchisor Admin User</a></li>-->
                    <li><a href="/App/Franchisor/Admin/ManageEmailTemplate.aspx">Email / SMS Templates</a></li>
                    <li><a href="/App/Franchisor/ViewFranchisee.aspx">Franchisees</a></li>
                    <li><a href="/Communication/Notification">Notifications</a></li>
                    <li><a href="/AccessControl/Roles">Access Control</a></li>
                    <li><a href="/Audit/Index">Audit Log</a></li>
                    <li><a href="/Operations/Download/Index">Download Reports</a></li>
                </ul>
                <!--<ul>
                        <li><h2><a href="#" class="home">Notification</a></h2></li>
                        <li><a href="/App/Franchisor/Admin/ManageNotificationServices.aspx" class="home">Manage Notification Services</a></li>
                        <li><a href="/App/Franchisor/Admin/NotificationCenter.aspx" class="home">Notification Center</a></li>
                    </ul>-->
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Geolocation</a>
                        </h2>
                    </li>
                    <li><a href="/App/Franchisor/Masters/Country.aspx">Manage Countries</a></li>
                    <li><a href="/App/Franchisor/Masters/State.aspx">Manage States</a></li>
                    <li><a href="/App/Franchisor/Masters/City.aspx">Manage Cities</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
