<div class="menu-container">
    <ul id="topnav">
        <li><a href="/App/Franchisee/Dashboard.aspx" class="no-arrow">Home</a></li>
        <li>
            <a href="#" class="home">Scheduling</a>
            <div class="sub">
                <ul>
                    <li><h2><a href="#">Manage</a></h2></li>
                    <!--<li><a href="/App/Franchisee/FranchiseeViewEvent.aspx">Events</a></li> -->
                    <li><a href="/Scheduling/Event/Index?showUpcoming=true">Events</a></li> 
                    <li><a href="/App/Common/ViewTemplate.aspx">Event Schedule Template</a></li>
                    <li><a href="/App/Common/Calendar.aspx">Events Calendar</a></li>
                </ul>
            </div>
        </li>    
        
            
        <li>
            <a href="#" class="home">Sales</a>
            <div class="sub">
                <ul>
                    <li><h2><a href="#" class="home">Manage</a></h2></li>
                    <li><a href="/App/Franchisor/ManageProspect.aspx">Existing Prospects</a></li>
                    <li><a href="/App/Franchisor/ManageHost.aspx">Existing Hosts</a></li>                    
                </ul>
                  
                 <ul>
                    <li><h2><a href="#">Activity</a></h2></li>
                    <li><a href="/App/Franchisor/ViewCall.aspx">View Calls</a></li> 
                    <li><a href="/App/Franchisor/ViewMeetings.aspx">View Meetings</a></li>
                    <li><a href="/App/Franchisor/ViewTask.aspx">View Tasks</a></li>  
                    <!-- <li><a href="/App/Franchisor/ViewCoupons.aspx">Manage Source Code</a></li> -->
                </ul>              
            </div>
        </li>


        <li>
            <a href="#" class="home">Medical</a>
            <div class="sub">
                <ul>
                    <li><h2><a href="#" class="home">Manage</a></h2></li>
                    <li><a href="/Medical/Results/ResultStatusList">Customer Results</a></li>
                </ul>                
            </div>
        </li>

        <li>
    	    <a href="#" class="home">Operations</a>
            <div class="sub">
                <ul>
                    <li><h2><a href="#">Manage</a></h2></li>                    
                    <li><a href="/Operations/Pod/Index">Manage Pods</a></li>
                    <li><a href="/App/Franchisor/Masters/Item.aspx">Inventory Items</a></li>                    
                    <li><a href="/Operations/StaffEventRole/Index">Staff Event Role</a></li>
                    <li><a href="/App/Franchisee/Reports/TrackHostPaymentDetail.aspx">Track Host Payment Detail</a></li> 
                    <li><a href="/App/Customer/Reports/TrackShippingDetail.aspx">Track Shipping</a></li>
                </ul>
                <ul>
                    <li><h2><a href="#">Customer</a></h2></li>
                    <li><a href="/App/Franchisee/FranchiseeCustomerList.aspx">Customer List</a></li>                  
                </ul>
                 <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Reports</a></h2>
                    </li>
                    <li><a href="/Operations/Reports/CdImageStatus">Product Shipping Status</a></li>
                    <li><a href="/Operations/Reports/CustomerLabels">Customer Label</a></li>
                </ul>
                <!--<ul>
                    <li><h2><a href="#">Results</a></h2></li>                   
                    <li><a href="/App/Common/MissingResultReport.aspx">Missing Result Report</a></li>
                </ul>-->
            </div>
        </li> 
                
        <li>
            <a href="#" class="home">Admin</a>
            <div class="sub">
                <ul>
                    <li><h2><a href="#" class="home">Manage</a></h2></li>
                    <li><a href="/App/Franchisee/Territory/Manage.aspx">View Territory</a></li>
                    <li><a href="/App/Franchisee/Territory/SalesRepAssignments.aspx"> Territory Assignments</a></li>
                </ul>                

            </div>
        </li>
                                         
    </ul>
</div>
