<div class="menu-container">
    <ul id="topnav">
        <li><a href="/Users/Dashboard/HospitalFacilityCoordinator" class="no-arrow">Home</a></li>
        <li><a href="#" class="home">Report</a>
             <div class="sub">
                <ul>
                    <li><a href="/Sales/HospitalPartner/SearchCustomers" class="no-arrow">Search Customer</a></li>
                    <li><a href="/Sales/HospitalPartner/SearchHospitalFacilityEvents" class="no-arrow">Search Event</a></li>
                </ul>
             </div>
        </li>
    </ul>
</div>