<div class="menu-container">
    <ul id="topnav">
        <li><a href="/App/CallCenter/CallCenterAdminDasBoard.aspx" class="no-arrow">Home</a></li>
         <li><a href="#" class="home">Operations</a>
            <div class="sub">
                <ul>
                    <li>
                        <h2>
                            <a href="#">Create</a></h2>
                    </li>
                    <li><a href="/Operations/Pod/Create">New Pods/Hubs</a></li>
                    <li><a href="/Operations/Van/Create">New Vehicle</a></li>
                    <li><a href="/Operations/Schedule/ScheduleUpload">Staff Schedule Upload</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Manage</a></h2>
                    </li>
                    <li><a href="/App/Customer/Reports/TrackShippingDetail.aspx">Shipping</a></li>
                    <li><a href="/Operations/Schedule">Staff Schedule</a></li>
                    <li><a href="/Operations/StaffEventRole/Index">Staff Event Role</a></li>
                    <li><a href="/Operations/Pod/Index">Pods/Hubs</a></li>
                    <li><a href="/App/Common/VanDetails.aspx">Vehicles</a></li>
                    <li><a href="/App/Franchisor/Masters/Item.aspx">Inventory Items</a></li>
                    <li><a href="/App/Franchisor/Masters/ItemType.aspx">Inventory Item Types</a></li>
                    <li><a href="/Operations/Schedule/ScheduleUploadDetails">Staff Schedule Upload Details</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Reports</a></h2>
                    </li>
                    <li><a href="/Operations/Reports/CdImageStatus">Product Shipping Status</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

