<div class="menu-container">
    <ul id="topnav">
        <li><a href="/App/Franchisee/SalesRep/Dashboard.aspx" class="no-arrow">Home</a></li>
        <li><a href="#" class="home">Scheduling</a>
            <div class="sub">
                <ul>
                    <li>
                        <h2>
                            <a href="#">Create</a></h2>
                    </li>
                    <li><a href="/App/Common/CreateEventWizard/Step1.aspx?Type=Create">New Event</a></li>
                    <!--<li><a href="/App/Common/UploadProspect.aspx" class="home">Upload Prospect List</a></li>-->
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#">Manage</a></h2>
                    </li>
                    <li><a href="/Scheduling/Event/Index?showUpcoming=true">Events </a></li>
                    <!--<li><a href="/App/Franchisee/SalesRep/SalesRepViewEvent.aspx">Events</a></li>  -->
                    <li><a href="/App/Common/Calendar.aspx">Events Calendar</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#">Reports</a></h2>
                    </li>
                    <li><a href="/Scheduling/Reports/AppointmentsBooked">Appointments Booked</a></li>
                    <li><a href="/Scheduling/Reports/CustomerSchedule">Customer Schedule</a></li>
                    <li><a href="/Scheduling/Reports/PublicEventVolume">Event Volume (Public)</a></li>
                    <li><a href="/Scheduling/Reports/CorporateEventVolume">Event Volume (Corporate)</a></li>
                    <li><a href="/Scheduling/Reports/NoShowCustomer">No Show Customers</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#" class="home">Sales</a>
            <div class="sub">
                <ul>
                    <li>
                        <h2>
                            <a href="#">Create</a></h2>
                    </li>
                    <li><a href="/App/Common/AddNewProspect.aspx">New Prospect</a></li>
                    <li><a href="/App/Common/AddNewHost.aspx" class="home">New Host</a></li>
                    <li><a href="/App/Franchisor/AddNewContact.aspx">New Contact</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#">Manage</a></h2>
                    </li>
                    <li><a href="/App/Franchisee/SalesRep/SalesRepManageProspects.aspx">Prospects</a></li>
                    <li><a href="/App/Franchisee/SalesRep/SalesRepManageHost.aspx" class="home">Hosts</a></li>
                    <li><a href="/App/Franchisor/ViewContact.aspx">Contacts</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#">Activity</a></h2>
                    </li>
                    <li><a href="/App/Franchisee/SalesRep/MyActivities.aspx">My Activities</a></li>
                    <li><a href="/App/Franchisor/ViewCall.aspx">Calls</a></li>
                    <li><a href="/App/Franchisor/ViewMeetings.aspx">Meetings</a></li>
                    <li><a href="/App/Franchisor/ViewTask.aspx">Tasks</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#" class="home">Marketing</a>
            <div class="sub">
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Create</a></h2>
                    </li>
                    <li><a href="/Marketing/SourceCode/Create">New Source Code</a></li>
                    <li><a href="/Marketing/MarketingSource/Create">New Marketing Sources</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>
                            <a href="#" class="home">Manage</a></h2>
                    </li>
                    <li><a href="/Marketing/SourceCode">Source Code</a></li>
                    <li><a href="/Marketing/MarketingSource/Index">Marketing Sources</a></li>
                </ul>
            </div>
        </li>

        <!--                          
        <li>
           <a href="#" class="home">Marketing</a>
           <div class="sub">
        
            <ul>
                <li><h2><a href="#" class="home">Campaigns</a></h2></li>
                <li><a href="/App/MarketingPartner/AddNewAffiliate.aspx" class="home">New Advocate</a></li>                   
                <li><a href="/App/MarketingPartner/ViewAffiliate.aspx" class="home">Existing Advocates</a></li>                
                <li><a href="/App/MarketingPartner/CreateNewCampaign.aspx" class="home">Add New Campaign</a></li>   
                <li><a href="/App/MarketingPartner/ViewCampaigns.aspx" class="home">Manage Existing Campaigns</a></li>                   
            </ul>
        
            <ul>
                <li><h2><a href="#" class="home">Manage</a></h2></li>                                
                <li><a href="/App/MarketingPartner/MarketingMaterial.aspx" class="home">New Marketing Material</a></li>                                   
            </ul>
           </div>
        </li>          
        <li>
    	    <a href="#" class="home">Reports</a>
            <div class="sub">                
                <ul>
                    <li><h2><a href="#">Operations</a></h2></li>
                    <li><a href="/App/MarketingPartner/AdvocateSalesManager/AdvocateSalesRepDetails.aspx" class="home">Campaign Overview</a></li>   
                    <li><a href="/App/Franchisee/SalesRep/HSCReport.aspx">Workshop Prospect Status Report</a></li>
                    <li><a href="/App/Common/Reports/TrackPrintOrder.aspx">Track Print Order</a></li>
                </ul>
            </div>
        </li>
        -->
    </ul>
</div>
