<div class="menu-container">
    <ul id="topnav">
        <li><a href="/Scheduling/Event/Index?showUpcoming=true" class="no-arrow">Home</a></li>
        <li><a href="/Operations/Schedule" class="no-arrow">My Schedule</a></li>
        <li>
            <a href="#" class="home">Scheduling</a>
            <div class="sub">
                <ul>
                    <li><h2><a href="#">Create</a></h2></li>
                    <li><a href="/App/Common/SearchCustomer.aspx">Walk In Registgration</a></li>
                </ul>                

                <ul>
                    <li><h2><a href="#" class="home">Manage</a></h2></li>
                    <!--<li><a href="/App/Franchisee/Technician/SearchEvents.aspx">Events</a></li>-->
                    <li><a href="/Scheduling/Event/Index?showUpcoming=true">Events</a></li>
                    <li><a href="/App/Franchisee/Technician/TechnicianCustomerList.aspx">Customers</a></li>                   
                </ul>
                
            </div>
        </li>
            <li><a href="#" class="home">Operations</a>
                <div class="sub">
                    <ul>
                        <li>
                            <h2>
                               <a href="#" class="home">Manage</a></h2>
                        </li>
                        <li><a href="/Operations/Schedule">Staff Schedule</a></li>
                        <li><a href="/Operations/StaffEventRole/Index">Staff Event Role</a></li>
                    </ul>
                </div>
            </li>
        <li>
            <a href="#" class="home">Medical</a>
            <div class="sub">
                <ul>
                    <li><h2><a href="#" >Create</a></h2></li>
                    <li><a href="/Medical/ResultArchive/Upload">New Result Archive</a></li>
                    <!--<li><a href="/App/Franchisee/Technician/UploadResults.aspx">Upload Results</a></li>-->
                </ul>

                <ul>
                    <li><h2><a href="#" class="home">Manage</a></h2></li>           
                    <li><a href="/Medical/Results/ResultStatusList">Customer Results</a></li>
                    <li><a href="/Medical/ResultArchive/">Result Archives</a></li>
                </ul> 
                
                <ul>
                    <li><h2><a href="#" class="home">Report</a></h2></li>
                    <li><a href="#" onclick="alert('Results integration pending.');">Missing Results</a></li>
                    <!--<li><a href="/App/Franchisee/Technician/TechnicianEventCustomerResult.aspx">Missing Results</a></li>-->
                </ul>                                             
            </div>
        </li>
    </ul>
</div>