<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Prod_Hf_0611;User ID=sa;Password=Pass@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Media Location-->
    <add key="MediaLocation" value="D:\Projects\tags\Prod_HF_20180131\src\UI\media.falcon.com"/>
    <add key="MediaUrl" value="http://localhost/Media.falcon.com"/>
    <add key="CatalogNameUsageSetting" value="2"/>
    <add key="CatalogNameToUse" value="HealthFairProd"/>
    <!-- Configurable Part for Result Packet Generation -->
    <add key="SiteConfigurableContentPath" value="D:\Projects\tags\Prod_HF_20180131\src\UI\Config\Content"/>
    <add key="TemplatePremiumVersionFileName" value="Template_PremiumVersion.htm"/>
    <add key="TemplateClinicalFormFileName" value="Template_ClinicalForm.htm"/>
    <add key="TemplateIndexPageFileName" value="Template_IndexPage.htm"/>
    <add key="TemplateCoverLetterLocation" value="CoverLetter.htm"/>
    <add key="TemplatePaperBackPremiumVersionLocation" value=""/>
    <add key="TemplatePremiumVersionWithImagesLocation" value=""/>
    <add key="TemplateBloodLetterLocation" value="BloodLetter.pdf"/>
    <add key="DoctorLetter" value="DoctorLetter.pdf"/>
    <add key="TemplateCorporateCoverLetterLocation" value="Template_CorporateCoverLetter.htm"/>

    <add key="CompanyCustomizedLetter" value="CompanyCustomizedLetter.Pdf"/>
    <add key="ContentPages" value=""/>
    <add key="AppUrl" value="http://localhost"/>
    <add key="SiteUrl" value="http://localhost/"/>
    <add key="Address1" value="123 Crystal Ave"/>
    <add key="Address2" value="#123"/>
    <add key="City" value="Austin"/>
    <add key="State" value="Texas"/>
    <add key="ZipCode" value="78605"/>
    <add key="FullBusinessName" value="ABC Screening Company Inc."/>
    <add key="PhoneTollFree" value="1-800-111-5555"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="IntervalinMinutesforPdfGeneration" value="2"/>
    <add key="CopyOverMediainPremiumResultReport" value="true"/>
    <add key="IncludeHealthAssesmentForm" value="false"/>
    <add key="IncludeCustomerSectioninPremiumResultReport" value="true"/>
    <add key="HealthAssesmentFormUrl" value="http://localhost/Medical/Results/HealthAssessment"/>
    <add key="ResultArchiveWaitDays" value="0"/>
    <add key="ResultArchiveSharedDrivePath" value=""/>
    <add key="IsStrokeInferenceForPHS" value="false"/>
    <add key="EKGParserFolderRepresentation" value="schiller"/>
    <add key="EKGParsertoUse" value="EkgFileParser"/>
    <add key="AaaParsertoUse" value="BioSoundAaaParser"/>
    <add key="CleanUpHtmlFiles" value="false"/>
    <add key="HideEkgSection" value="true"/>
    <add key="StrokeFindingChangeDate" value="03/25/2013"/>
    <add key="CheckShippingPurchase" value="false"/>
    <add key="IsEccEnabled" value="false"/>
    <add key="kynData" value="kynData.xml"/>
    <add key="GenerateKynXmlInterval" value="15"/>
    
    <add key="FaxResultNotificationQueueTime" value="23:00:00"/><!--should be same in job/app.config-->
    <add key="TemplatePPCoverLetterLocation" value="PPCoverLetter.htm"/>
  
    <add key="KynXmlIntervalInMinutes" value="0"/>
    <add key="KynXmlIntervalInHours" value="24"/>
    <add key="PhysicianPartnerAccountId" value="929"/>

    <add key="TemplatePcpCoverLetterLocation" value="PCPCoverLetter.htm"/>
    <add key="BusinessName" value="ABC Screenings"/>

    <add key="CaptureBloodTest" value="true"/>
    <add key="BloodTestFolderLocation" value="D:\SFTP\BloodTests\"/>
    <add key="BloodTestArchiveFolderLocation" value="D:\SFTP\BloodTests\BloodTestArchived\"/>
    <add key="BloodTestResultParserInterval" value="60"/> <!--Blood Test Result parser interval in min-->
    <add key="BloodTestChangeDate" value="02/09/2015"/>
    <add key="ShowHideRepeatStudyDate" value="02/20/2015" />
    <add key="HemoglobinChangeDate" value="05/07/2015"/>
  
    <add key="BloodLabFolderLocation" value="F:\SFTP\BloodLab\"/>
    <add key="BloodLabArchiveFolderLocation" value="F:\SFTP\BloodLab\Archive\"/>

    <add key="SMSSystemIdentification" value="ACbb35f48c4fd9a136e09537e1bfe5ab3d"/>
    <add key="SMSAuthorizationToken" value="c3a7eff4bbfff16f90909033cc0ede24"/>
    <add key="SMSFromNumber" value="+17203991343"/>

    <add key="ArchiveResultDataSettingsPath" value="D:\Projects\Falcon\branches\QA\src\Jobs.ImportService\bin\Debug\Resource\ResultArchive.xml"/>
    <add key="ArchiveResultDataPath" value="D:\Archive\"/>
    <add key="ArchiveResultDataForOlderThanDays" value="20"/>
    <add key="ArchiveResultDataIntervalHrs" value="24"/>
    <add key="ArchiveResultDataScheduleTime" value="13:38:00"/>
    <add key="ArchiveMediaUrl" value="http://localhost/Media.falcon.com/Archive"/>
    <add key="ArchiveMediaLocation" value="D:\Archive\media.falcon.com"/>

    <add  key="BcbsMnAccountId" value="1059" />
    <add  key="BcbsMnSftpHost" value="move.bluecrossmn.com" />
    <add  key="BcbsMnSftpUserName" value="BC000108" />
    <add  key="BcbsMnSftpPassword" value="C01nY1hhRI&amp;a" />
    <add  key="SendReportToBcbsMn" value="true"/>
    <add key="BcbsMnSftpResultReportDownloadPath" value="in"/>


    <add key="HealthPlanIncorrectPhoneExportDownloadPath" value="C:\Mydata\Temp"/>
    <add key="HealthPlanHomeVisitRequestExportDownloadPath" value="C:\Mydata\Temp"/>
    <add key="HealthPlanCustomerListExportScheduleInterval" value="24"/>
    <add key="HealthPlanCustomerListExportScheduleTime" value="22:01:00"/>

    <add key="DailyPatientRecapReportDownloadAccountIds" value="1003"/>
    <add key="DailyPatientRecapReportDestinationPath" value="D:\SFTP\{0}\download\DailyPatientRecap\{1}"/>
    <add key="DaysOfWeekToRunDailyPatientRecapReport" value="0,2" />
    <add key="DailyPatientRecapReportScheduleTime" value="17:10:00" />
    <add key="DailyPatientRecapReportInterval" value="24" />

    <add key="HcpNvSftpHost" value="66.161.120.70" />
    <add key="HcpNvSftpUserName" value="sdelia" />
    <add key="HcpNvSftpPassword" value="W3lcome2sFTP!" />
    <add key="HcpNvLockCorporateEventFolderLocation" value=""/>
    
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="SqlServerDQE" value="4"/>
      <!-- set to 4 for verbose -->
      <add name="ORMGeneral" value="0"/>
      <add name="ORMStateManagement" value="0"/>
      <add name="ORMPersistenceExecution" value="0"/>
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <!--<remove name="Default"/>
        <add name="EventLogListener"
         type="System.Diagnostics.EventLogTraceListener"
         initializeData="LLBLGen" />-->
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
