<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=HF;User ID=sa;Password=sa@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HF" />

    <add key="PcpAppointmentBookedReportDownloadSettings" value="G:\NewProjects\falcon\branches\QA\src\Jobs.PPExportService\bin\Debug\Resource\AppointmentBookedReportDownloadSettings_{0}.xml" />

    <add key="PhysicianPartnerAppointmentBookedReportDownloadInterval" value="24" />
    <add key="PhysicianPartnerAppointmentBookedReportDownloadTime" value="17:00:00" />
    <add key="BcbsMiAccountId" value="1043"/>
    <add key="BcbsMiResultReportDownloadPath" value="G:\SFTP\{0}\download"/>
    <add key="BcbsMiRiskPatientTags" value="BCBS-MI_Florida_2017_List-1,BCBS-MI_Indiana_2017_List-1,BCBS-MI_Arizona_2017_List-1"/>
    <add key="BcbsMiGapPatinetTags" value="BCBS-MI_Michigan_GAPS_2017_List-1"/>
    <add key="PcpDownloadCutOfDate" value="02/01/2015" />

    <add key="AnthemCustomTags" value="Anthem-CA_Assessments_2017_List-1,Anthem-CT_Assessments_2017_List-1,Anthem_GA_Assessments_2017_List-1,Anthem-OH_Assessments_2017_List-1,Anthem_NV_Assessments_2017_List-1,Anthem_VA_Assessments_2017_List-1,Anthem-ME_Assessments_2017_List-1"/>
    <add key="AnthemDownloadPath" value="G:\SFTP\Anthem\upload\{0}"/>
    <add key="AnthemCustomTagStates" value="Anthem-CA,Anthem-CT,Anthem_GA,Anthem-OH,Anthem_NV,Anthem_VA,Anthem-ME"/>

    <add key="WellmedSftpHost" value="" />
    <add key="WellmedSftpUserName" value="" />
    <add key="WellmedSftpPassword" value="" />
    <add key="SendReportToWellmedSftp" value="false"/>

    <add key="WellmedAccountId" value="1003"/>
    <add key="WellmedResultPdfDownloadSettings" value="D:\Jobs\hip.healthfair.com\PPExport.Job\Resource\ResultPdfDownloadSettings_{0}.xml"/>
    <add key="WellmedResultPdfDownloadPath" value="D:\SFTP\Prod-SFTP\Wellmed\download\Reports\pdf"/>
    <add key="WellmedSftpResultPdfDownloadPath" value="Inbound\Reports\pdf"/>

    <add key="WellCareToWellMedCustomTags" value="WellCare-FL_Assessments_2017_List-2"/>
    <add key="WellCareAccountIds" value="1048,1050,1051,1052,1053,1054,1056,1057,1058"/>

    <add key="WellmedAppointmentBookedReportDownloadSettings" value="d:\Jobs\hip.healthfair.com\PPExport.Job\Resource\AppointmentBookedReportDownloadSettings_{0}.xml"/>
    <add key="WellmedAppointmentBookedReportDownloadPath" value="D:\SFTP\Prod-SFTP\Wellmed\download\Reports\appointments\{0}\Daily"/>
    <add key="WellmedSftpAppointmentBookedReportDownloadPath" value="Inbound\Reports\appointments\{0}\Daily"/>

    <add key="WellmedWellCareAccountId" value="1080" />
    <add key="WellCareToWellmedAccountId" value="1048,1080"/>
    <add key="ResultFlowChangeDate" value="08/10/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="http://localhost:7060"/>
    <add key="MedicareApiUrl" value="api"  />
    <add key="SyncWithHra" value="true" />
    <add key="ClientSettingsProvider.ServiceUri"  value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>