<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=172.25.0.60;Initial Catalog=HealthfairProd;User ID=falconuser;Password=Screening!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Media Location-->
    <add key="MediaLocation" value="\\hqmediacifs\hqmediashare\media.healthfair.com" />
    <add key="MediaUrl" value="http://media2.healthfair.com" />
    <add key="ArchiveMediaUrl" value="https://media2.healthfair.com/Archive"/>
    <add key="ArchiveMediaLocation" value="E:\Archive\media.healthfair.com"/>

    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthfairProd" />

    <add key="FloridaBlueAccountId" value="1040,1062"/>

    <add key="ResponseVendorReportScheduleTime" value="07:25:00"/>
    <add key="ResponseVendorReportInterval" value="1"/>

    <add key="ConditionInboundReportScheduleTime" value="07:25:00"/>
    <add key="ConditionInboundReportInterval" value="1"/>

    <add key="BarrierInboundReportScheduleTime" value="07:25:00"/>
    <add key="BarrierInboundReportInterval" value="1"/>

    <add key="LabsInboundReportScheduleTime" value="07:25:00"/>
    <add key="LabsInboundReportInterval" value="1"/>

    <add key="InterviewInboundReportScheduleTime" value="07:25:00"/>
    <add key="InterviewInboundReportInterval" value="1"/>

    <add key="CrosswalkInboundReportScheduleTime" value="07:25:00"/>
    <add key="CrosswalkInboundReportInterval" value="1"/>

    <add key="FloridaBlueInboundReportPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download\Inbound\{1}"/>

    <add key="FloridaBlueSettingResourcePath" value="B:\Jobs\hip.healthfair.com\FloridaBlue.Job\Resource\ReportSettings_{0}.xml"/>
    <add key="FloridaBlueReportCutOfDate" value="06/01/2017" />

    <add key="CrosswalkLabInboundReportScheduleTime" value="07:25:00"/>
    <add key="CrosswalkLabInboundReportInterval" value="1"/>

    <add key="FloridaBlueReportsDayOfWeek" value="3"/>
    <add key="FloridaBlueMedicareCustomTags" value="FloridaBlue-MA_Mammo_2018_List-3,FloridaBlue-MA_Assessments_2018_List-3"/>
    <add key="FloridaBlueCommercialCustomTags" value="FloridaBlue-Comm_Mammo_2018_List-3,FloridaBlue-Comm_Assessments_2018_List-3"/>
    <add key="FloridaBlueCommercialId" value="1062"/>

    <add key="ResultPostedToPlanPath" value="B:\Jobs\hip.healthfair.com\FloridaBlue.Job\ResultPostedXML\"/>

    <add key="FloridaBlueMammoCustomTags" value="FloridaBlue-Mammo_GAPS_2018_List-1,FloridaBlue-Mammo_GAPS_2018_List-4"/>
    <add key="FloridaBlueMammoId" value="1076"/>

    <add key="FloridaBlueGapsCustomTags" value="FloridaBlue_GAPS_2018_List-5"/>
    <add key="FloridaBlueGapsId" value="1012"/>

    <add key="ResultFlowChangeDate" value="10/30/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="https://hra2.healthfair.com"/>
    <add key="MedicareApiUrl" value="api"/>

    <add key="FloridaBlueSftpHost" value="securefile.guidewellconnect.com"/>
    <add key="FloridaBlueSftpUserName" value="gw16exp008"/>
    <add key="FloridaBlueSftpPassword" value="1e7OlJgn3SGzCiHzYUA6"/>
    <add key="SendReportToFloridaBlueSftp" value="false"/>
    <add key="FloridaBlueSftpPath" value="\gw14bcxp1\inbox"/>

    <add key="AwvAaaFindingChangeDate" value="07/22/2015"/>
    <add key="ChangeLeadReadingDate" value="10/07/2016"/>
    <add key="UrineMicroalbuminChangeDate" value="07/28/2016"/>

    <add key="BloodTestChangeDate" value="02/09/2015"/>
    <add key="ShowHideRepeatStudyDate" value="02/24/2015" />
    <add key="BasicBiometricCutOfDate" value="03/25/2015"/>
    <add key="HemoglobinChangeDate" value="05/07/2015"/>

    <add key="QualityMeasuresChangeDate" value="11/10/2015"/>
    <add key="Phq9ChangeDate" value="11/10/2015"/>
    <add key="AwvEchoFindingChangeDate" value="11/20/2015"/>
    <add key="MammogramChangeDate" value="06/01/2016"/>

    <add key="IFobtChangeDate" value="07/28/2016"/>

    <add key="FluShotChangeDate" value="10/04/2016"/>
    <add key="AwvFluShotChangeDate" value="10/04/2016"/>
    <add key="PneumococcalChangeDate" value="10/04/2016"/>

    <add key="ChlamydiaChangeDate" value="11/23/2014" />
    <add key="DpnChangeDate" value="07/19/2017"  />

    <add key="StopSendingPdftoHealthPlanDate" value="01/01/2019" />
    <add key="SyncWithHra" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
