body {font-family: Arial; font-size: 12px; color: #4C4C4C;}
p, span {margin: 0px; padding: 0px;}
#maincontent {width: 748px; float: left; border: 0px solid #E8E8E8; background:url(images/bg_grey.gif) repeat-x left bottom #fff; padding:20px 11px 20px 11px;}
.couponcontentarea {width: 720px; float:left; margin-top: 20px;margin-left:5px;}
.coupon_outerarea {width: 720px; float: left; margin-top:15px;}
.coupon_maintitles {font-weight: bold; color: #EF810E; font-size: 16px; border-bottom: 1px solid #E8E8E8; padding-bottom: 5px; width: 720px;}
.couponlabel {font-weight: bold; float: left; width: 125px;}
.couponlabel_big {font-weight: bold; float: left; padding-right: 5px; width: 202px;}
.couponlabel_big2 {font-weight: bold; float: left; padding-right: 5px; width: 150px;}
.coupon_fieldarea {width: 212px; float:left;}
.couponbig_fieldarea {width: 500px; float:left;}
.coupon_fieldarea1 {float:left; width: 380px; float:left;}
.coupon_fieldareanowidth {float:left;}
.coupon1_fieldarea {width: 300px; float:left;}
.coupon_fieldarea2 {width: 115px; float:left;}
.coupon_txtfld {font: 12px Arial,  Helvetica, sans-serif; color:#403C3C; float:left; margin-right:5px; border: 1px solid #7B9EBD; 
padding:2px;}
select {font: 12px Arial,  Helvetica, sans-serif; color:#403C3C; height: 20px; margin-right:5px; border: 1px solid #7B9EBD; padding:2px;}
.txt_sm {font-size: 10px; float: left; font-weight: normal;}
.addtxt {float: left;}
.btn {float:left; width:auto;}
.buttons {width:760px; float: left;text-align: right; margin-top: 10px;}
.buttons p.btn{margin-right: 10px; float:right;}
.coupon_greyboxsmall {float:left; width:430px; background-color:#f5f5f5; border:solid 1px #eee; padding:10px;}
.coupon_ttextnowidth{ float:left; margin-right:5px; padding-top:3px; font-weight:bold; color:#4C4C4C;}
.coupon_greyboxsmall2 {float:left; width:580px; border:solid 1px #eee;}