.footerttxt{float:left;width:100%;font:normal 11px arial;color:#333;padding:13px 0 20px 0;text-align:center}
.footerttxt a:link{font:normal 11px arial;color:#333}
.footerttxt a:visited{font:normal 11px arial;color:#333}
.footerttxt a:hover{font:normal 11px arial;color:#0686b6}
.regtrademark{float:left;width:100%;font:normal 10px arial;color:#999;padding:13px 0 20px 0;text-align:center}