@using Falcon.App.UI.HtmlHelpers

@model dynamic


<div class="editor-label">
       @Html.LabelFor(m => m)  @Html.ValidationMessageFor(m => m)
</div>
<div class="editor-field">
    @Html.PasswordFor(m => m, new { autocomplete = "off", value=Model??""}) <span class="small-text">@Html.DescriptionForModel()</span>
</div>
