<div class="block-flat">
    <div class="header">
        <h4 style="color:black;">Invitation Code Verification</h4>
    </div>
    <hr />
    <div class="content"> 
       
        <div class="row">
            <div class="col-sm-12" >
                Invitation Code: <input type="text" ng-model="InvitationCode">
                <input type="button" ng-click="Verify();" value="Submit" class="pull-right btn">
                <input type="button" ng-click="Cancel()" class="pull-right btn right-buffer-10" value="Cancel" />
            </div>
             
        </div>
    </div>
</div>