<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=172.25.0.60;Initial Catalog=HealthfairProd;User ID=falconuser;Password=Screening!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MediaLocation" value="\\hqmediacifs\hqmediashare\media.healthfair.com" />
    <add key="MediaUrl" value="http://media2.healthfair.com" />
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthfairProd" />
    <add key="ArchiveMediaUrl" value="https://media2.healthfair.com/Archive"/>
    <add key="ArchiveMediaLocation" value="B:\Archive\media.healthfair.com"/>

    <add key="PcpResultPdfDownloadSettings" value="B:\Jobs\hip.healthfair.com\ResultExport.Job\Resource\ResultPdfDownloadSettings_{0}.xml"/>
    <add key="PcpResultPdfDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download\pdf"/>

    <add key="PhysicianPartnerResultPdfDownloadTime" value="23:40:00" />
    <add key="PhysicianPartnerResultPdfDownloadInterval" value="24" />

    <add key="PcpDownloadCutOfDate" value="07/01/2015" />

    <add key="BcbsScAccountId" value="1044" />
    <add key="BcbsScResultPdfDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}" />

    <add key="HealthNowAccountId" value="1038"/>
    <add key="HealthNowSftpHost" value="trading.nyhplans.org" />
    <add key="HealthNowSftpUserName" value="healthfair" />
    <add key="HealthNowSftpPassword" value="Login222$" />
    <add key="SendPdfToHealthNowSftp" value="true"/>
    <add key="HealthNowSftpPath" value="outbound\download\pdf"/>

    <add key="WellCareAccountIds" value="1048,1050,1051,1052,1053,1054,1056,1057,1058"/>
    <add key="WellCareSftpHost" value="edi.wellcare.com" />
    <add key="WellCareSftpUserName" value="Healthfair" />
    <add key="WellCareSftpPassword" value="sanrya@1" />
    <add key="SendPdfToWellCareSftp" value="true"/>
    <add key="WellCareSftpPath" value="To_WellCare"/>

    <add key="BloodTestChangeDate" value="02/09/2015"/>
    <add key="ShowHideRepeatStudyDate" value="02/24/2015" />
    <add key="BasicBiometricCutOfDate" value="03/25/2015"/>
    <add key="HemoglobinChangeDate" value="05/07/2015"/>
    <add key="AwvAaaFindingChangeDate" value="07/22/2015"/>
    <add key="QualityMeasuresChangeDate" value="11/10/2015"/>
    <add key="Phq9ChangeDate" value="11/10/2015"/>
    <add key="AwvEchoFindingChangeDate" value="11/20/2015"/>
    <add key="MammogramChangeDate" value="06/01/2016"/>

    <add key="IFobtChangeDate" value="07/28/2016"/>
    <add key="UrineMicroalbuminChangeDate" value="07/28/2016"/>
    <add key="FluShotChangeDate" value="10/04/2016"/>
    <add key="AwvFluShotChangeDate" value="10/04/2016"/>
    <add key="PneumococcalChangeDate" value="10/04/2016"/>

    <add key="ChangeLeadReadingDate" value="10/07/2016"/>

    <add key="ChlamydiaChangeDate" value="11/23/2014" />
    <add key="DpnChangeDate" value="07/19/2017"  />
    
    <add key="AnthemAccountId" value="1034" />
    <add key="AnthemDownloadCutOfDate" value="07/13/2015" />
    
    <add  key="BcbsMnAccountId" value="1059" />
    <add  key="BcbsMnSftpHost" value="move.bluecrossmn.com" />
    <add  key="BcbsMnSftpUserName" value="BC000108" />
    <add  key="BcbsMnSftpPassword" value="C01nY1hhRI&amp;a" />
    <add  key="SendReportToBcbsMn" value="false"/>
    <add key="BcbsMnSftpResultReportDownloadPath" value="in"/>

    <add key="MonarchAccountId" value="1060"/>
    <add key="SftpResouceFilePath" value="B:\Jobs\hip.healthfair.com\ResultExport.Job\sftpCridentials\"/>

    <add key="BcbsMiAccountId" value="1043" />
    <add key="BcbsMiResultReportDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download" />
    <add key="BcbsMiResultPdfDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\Taazaa\{0}\download" />
    <add key="BcbsMiRiskPatientTags" value="BCBS-MI_Florida_2017_List-1,BCBS-MI_Indiana_2017_List-1,BCBS-MI_Arizona_2017_List-1" />
    <add key="BcbsMiGapPatinetTags" value="BCBS-MI_Michigan_GAPS_2017_List-1" />
    <add key="PcpDownloadCutOfDate" value="07/01/2015" />

    <add key="MonarchAccountIds" value="1060,1065"/>
    <add key="MonarchWellmedPdfPath" value="\\172.25.0.30\sftp\Prod-SFTP\MonarchWellMedPdf" />
    <add key="MonarchWelledPdfSfptPath" value="Inbound" />
    <add key="CustomerWithNoGmpiPath" value="B:\Jobs\hip.healthfair.com\ResultExport.Job\Resource" />
    <add key="SendPdfToWellmed" value="false"/>

    <add key="AnthemCustomTags" value="Anthem-CA_Assessments_2017_List-1,Anthem-CT_Assessments_2017_List-1,Anthem_GA_Assessments_2017_List-1,Anthem-OH_Assessments_2017_List-1,Anthem_NV_Assessments_2017_List-1,Anthem_VA_Assessments_2017_List-1,Anthem-ME_Assessments_2017_List-1"/>
    <add key="AnthemDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\\Anthem\upload\"/>
    <add key="AnthemCustomTagStates" value="Anthem-CA,Anthem-CT,Anthem_GA,Anthem-OH,Anthem_NV,Anthem_VA,Anthem-ME"/>

    <add key="ResultPostedToPlanPath" value="B:\Jobs\hip.healthfair.com\ResultExport.Job\ResultPostedXML\"/>
    <add key="FromDateForGapPatient" value="09/01/2017"/>
    <add key="PdfLogFilePath" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\" />

    <add key="WellmedSftpHost" value="sftp2.wellmed.net" />
    <add key="WellmedSftpUserName" value="HF_User01" />
    <add key="WellmedSftpPassword" value="p9qTp3Kb" />
    <add key="SendReportToWellmedSftp" value="true"/>

    <add key="WellmedAccountId" value="1003"/>
    <add key="WellmedResultPdfDownloadSettings" value="B:\Jobs\hip.healthfair.com\ResultExport.Job\Resource\ResultPdfDownloadSettings_{0}.xml"/>
    <add key="WellmedResultPdfDownloadPath" value="\\172.25.0.30\sftp\Prod-SFTP\Wellmed\download\Reports\pdf"/>
    <add key="WellmedSftpResultPdfDownloadPath" value="Inbound\Reports\pdf"/>
    
    <add key="ResultNotPostedToPlanPath" value="B:\Jobs\hip.healthfair.com\ResultExport.Job\ResultNotPosted\"/>

    <add key="WellCareToWellMedCustomTags" value="WellCare-FL_Assessments_2017_List-2"/>
    <add key="WellmedWellCareAccountId" value="1080" />
    <add key="WellCareToWellmedAccountId" value="1048,1080" />
    <add key="AnthemAccountIds" value="1034,1068,1070,1071,1072,1073,1074"/>

    <add key="BcbsScAssessmentAccountId" value="1114" />
    <add key="BcbsScResultPdfAccountIds" value="1044,1114" />

    <add key="ResultFlowChangeDate" value="10/30/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="https://hra2.healthfair.com"/>
    <add key="MedicareApiUrl" value="api"/>
    <add key="BcbsMiResultPdfDownloadIntervalDay" value="1"/>
   
    <add key="StopSendingPdftoHealthPlanDate" value="01/01/2019" />
    <add key="SyncWithHra" value="true" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>