<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.25.72;Initial Catalog=HF;User ID=sa;Password=Pass@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MediaLocation" value="D:\Projects\Falcon\branches\dev\src\UI\media.falcon.com" />
    <add key="MediaUrl" value="http://localhost/Media.falcon.com" />
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HF" />
    <add key="ArchiveMediaUrl" value="http://localhost/Media.falcon.com/Archive"/>
    <add key="ArchiveMediaLocation" value="D:\Archive\media.healthfair.com"/>

    <add key="PcpResultPdfDownloadSettings" value="D:\Projects\Falcon\branches\dev\src\Jobs.PPExportService\bin\Debug\Resource\ResultPdfDownloadSettings_{0}.xml" />
    <add key="PcpResultPdfDownloadPath" value="D:\SFTP\{0}\download\pdf"/>
    
    <add key="PhysicianPartnerResultPdfDownloadTime" value="15:55:00" />
    <add key="PhysicianPartnerResultPdfDownloadInterval" value="24" />
    
    <add key="PcpDownloadCutOfDate" value="02/01/2015" />

    <add key="BcbsScAccountId" value="1044" />
    <add key="BcbsScResultPdfDownloadPath" value="D:\SFTP\{0}" />

    <add key="HealthNowAccountId" value="1038"/>
    <add key="HealthNowSftpHost" value="localhost" />
    <add key="HealthNowSftpUserName" value="TestHealthFair" />
    <add key="HealthNowSftpPassword" value="abc@1234" />
    <add key="SendPdfToHealthNowSftp" value="true"/>
    <add key="HealthNowSftpPath" value="TestHealthFair\pdf"/>

    <add key="WellCareAccountIds" value="1048,1050"/>
    <add key="WellCareSftpHost" value="localhost" />
    <add key="WellCareSftpUserName" value="TestHealthFair" />
    <add key="WellCareSftpPassword" value="abc@1234" />
    <add key="SendPdfToWellCareSftp" value="true"/>
    <add key="WellCareSftpPath" value="TestHealthFair\{0}\pdf"/>

    <add key="AnthemAccountId" value="1034" />
    <add key="AnthemDownloadCutOfDate" value="07/01/2015" />

    <add  key="BcbsMnAccountId" value="0" />
    <add  key="BcbsMnSftpHost" value="localhost" />
    <add  key="BcbsMnSftpUserName" value="TestHealthFair" />
    <add  key="BcbsMnSftpPassword" value="abc@1234" />
    <add  key="SendReportToBcbsMn" value="true"/>
    <add key="BcbsMnSftpResultReportDownloadPath" value="Inbound"/>

    <add key="MonarchAccountId" value="1003"/>
    <add key="SftpResouceFilePath" value="D:\Projects\Falcon\branches\dev\src\Jobs.PPExportService\bin\Debug\sftpCridentials\"/>

    <add key="BcbsMiAccountId" value="1043" />
    <add key="BcbsMiResultReportDownloadPath" value="D:\SFTP\{0}\download" />
    <add key="BcbsMiResultPdfDownloadPath" value="D:\SFTP\taazaa\{0}\download" />
    <add key="BcbsMiRiskPatientTags" value="BCBS-MI_Florida_2017_List-1,BCBS-MI_Indiana_2017_List-1,BCBS-MI_Arizona_2017_List-1" />
    <add key="BcbsMiGapPatinetTags" value="BCBS-MI_Michigan_GAPS_2017_List-1" />
    <add key="PcpDownloadCutOfDate" value="02/01/2015" />

    <add key="MonarchAccountIds" value="1060,1065"/>
    <add key="MonarchWellmedPdfPath" value="D:\SFTP\MonarchWellMedPdf" />
    <add key="MonarchWelledPdfSfptPath" value="To_Monarch" />
    <add key="CustomerWithNoGmpiPath" value="D:\Projects\Falcon\branches\dev\src\Jobs.PPExportService\bin\Debug\Resource" />
    <add key="SendPdfToWellmed" value="true"/>


    <add key="AnthemCustomTags" value="Anthem-CA_Assessments_2017_List-1,Anthem-CT_Assessments_2017_List-1,Anthem_GA_Assessments_2017_List-1,Anthem-OH_Assessments_2017_List-1,Anthem_NV_Assessments_2017_List-1,Anthem_VA_Assessments_2017_List-1,Anthem-ME_Assessments_2017_List-1"/>
    <add key="AnthemDownloadPath" value="D:\SFTP\Anthem\upload\"/>
    <add key="AnthemCustomTagStates" value="Anthem-CA,Anthem-CT,Anthem_GA,Anthem-OH,Anthem_NV,Anthem_VA,Anthem-ME"/>

    <add key="ResultPostedToPlanPath" value="D:\Projects\Falcon\branches\dev\src\Job.ResultExportService\bin\Debug\ResultPostedXML\"/>
    <add key="FromDateForGapPatient" value="09/01/2017"/>
    <add key="PdfLogFilePath" value="D:\SFTP\QA-SFTP\{0}\" />

    <add key="WellmedSftpHost" value="" />
    <add key="WellmedSftpUserName" value="" />
    <add key="WellmedSftpPassword" value="" />
    <add key="SendReportToWellmedSftp" value="false"/>

    <add key="WellmedAccountId" value="1003"/>
    <add key="WellmedResultPdfDownloadSettings" value="D:\Jobs\hip.healthfair.com\PPExport.Job\Resource\ResultPdfDownloadSettings_{0}.xml"/>
    <add key="WellmedResultPdfDownloadPath" value="D:\SFTP\Prod-SFTP\Wellmed\download\Reports\pdf"/>
    <add key="WellmedSftpResultPdfDownloadPath" value="Inbound\Reports\pdf"/>
    
    <add key="ResultNotPostedToPlanPath" value="D:\Projects\Falcon\branches\dev\src\Job.ResultExportService\bin\Debug\ResultNotPostedCSV\"/>

    <add key="WellCareToWellMedCustomTags" value="WellCare-FL_Assessments_2017_List-2"/>
    <add key="WellmedWellCareAccountId" value="1080" />
    <add key="WellCareToWellmedAccountId" value="1048,1080" />

    <add key="AnthemAccountIds" value="1034,1068,1070,1071,1072,1073,1074"/>

    <add key="BcbsScAssessmentAccountId" value="1114" />
    <add key="BcbsScResultPdfAccountIds" value="1044,1114" />

    <add key="ResultFlowChangeDate" value="07/08/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="http://localhost:7060"/>
    <add key="MedicareApiUrl" value="api"/>

    <add key="AnthemCutOfDateForSendingReport" value="01/01/2018"/>
    <add key="BatchPageSize" value="100"/>

    <add key="CrosswalkFilePath" value="D:\Jobs\hip.healthfair.com\PPExport.Job\CrosswalkFilePath\" />
    <add key="CrosswalkFileYear" value="2018" />

    <add key="StopSendingPdftoHealthPlanDate" value="01/01/2019" />
    <add key="SyncWithHra" value="true" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>