@using Falcon.App.DependencyResolution
@using Falcon.App.Core.Application
@using Falcon.App.Core.Extensions
@using Falcon.App.Core.Operations.ViewModels
@model IEnumerable<CdLabelViewModel>
@{
    Layout = null;
}
<html>
<head>
    <style type="text/css">
        html, body
        {
            padding: 0px;
            margin: 0px;
        }
        div.label
        {
            page-break-after: always;
            font-family: Tahoma, Arial, sans-serif;
            font-size: 11pt;
            width: 265px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            line-height: 22px;
            padding-top: 22px;
        }
    </style>
    <!--[if lte IE 7]>
        <style type="text/css">
            .label 
            {
              display: inline;
            }            
        </style>
    <![endif]-->
</head>
<body>
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var customer in Model)
        {<div class="label">
            PID: @customer.CustomerId
            <br />
            NAME: @customer.CustomerName.FullName.ToUpper()
            <br />
            Screening Date: @(customer.TestDate.ToString("MM/dd/yyyy"))
        </div>
        }
    }</body>
</html>
