<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Healthfair;User ID=falconuser;Password=Screening!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthFair" />

    <add key="MediaLocation" value="F:\Websites\qa-media.healthfair.com" />
    <add key="ArchiveMediaLocation" value="F:\Archive\qa-media.healthfair.com"/>
    <add key="MediaUrl" value="https://qa-media.healthfair.com"/>
    <add key="MedicareSyncUserId" value="1" />
    <add key="MedicareSyncRoleId" value="1" />
    <add key="MedicareSyncOrganizationId" value="1" />

    <add key="OrganizationNameForHraQuestioner" value="HealthFair"  />
    <add key="MedicareApiUrl" value="api"  />
    <add key="MedicareTokenKeyName" value="qa_penguin_token"  />
    
    <add key="CallUploadParserInterval" value="10"/>
    <add key="ApplyRulesOnLockedCustomersInterval" value="20"/>
    <add key="NoOfDaysAfterDeleteReports" value="1"/>
    <add key="EventStaffRole" value="AWV-NP"/>

    <add key="RapsUploadParserInterval" value="5"/>

    <add key="IsDevEnvironment" value="true" />
    <add key="StartYear" value="2015"/>

    <add key="PhoneNumberUpdateScheduleTime" value="23:00:00"/>
    <add key="PhoneNumberUpdateIntervalHours" value="24"/>


    <add key="RedisDatabaseKey" value="0" />
    <add key="RedisServerHost" value="qa-auth.corphealthfair.com" />
    <add key="RedisChannelQueuePrefix" value="qa"/>
    
    <add key="MergeCustomerInterval" value="15" />

    <add key="TwilioFilePath" value="\\hqmediacifs\HQMediaShare\qa-media.healthfair.com\twilio"/>

    <add key="EligibilityUploadIntervalMinutes" value="10"/>

    <add key="MedicationFileParserIntervalMinute" value="10"/>
    <add key="CustomerForMedicationSyncCutoffDays" value="7"/>
    <add key="ResultFlowChangeDate" value="08/28/2018"/>
    <add key="MedicareAppUrl" value="https://qa-hra.healthfair.com"/>

    <add key="CustomerActivityTypeUploadIntervalMinutes" value="10"/>
    <add key="SyncWithHra" value="true" />
    <!--Mail Basic info-->
    <add key="CompanySupportEmailDomain" value="matrixmedicalnetwork.com"/>
    <add key="CompanySupportEmailAddress" value="info"/>
    <add key="EmailNotificationIssuedFromDomain" value="healthfairmail.com"/>
    <add key="EmailNotificationIssuedFromAddress" value="support"/>
    <add key="NameNotificationissuedFrom" value="Matrix Medical Network Team"/>
    <add key="PhoneTollFree" value="855-755-8378"/>
    <add key="BusinessName" value="Matrix Medical Network"/>
    <add key="FullBusinessName" value="Matrix Medical Network"/>
    <add key="ProductName" value="HIP"/>
    <add key="Address1" value="9201 E. Mountain View Road"/>
    <add key="Address2" value="Suite 220"/>
    <add key="City" value="Scottsdale"/>
    <add key="State" value="Arizona"/>
    <add key="ZipCode" value="85258"/>
    <add key="SiteUrl" value="http://www.HealthFair.com"/>
    <add key="AppUrl" value="https://qa-hip.HealthFair.com"/>
    <add key="LoginUrl" value="https://qa-hip.healthfair.com/login"/>
    <add key="PrivacyStatement" value="http://www.healthfair.com/PrivacyPolicy.aspx"/>
    <add key="TermsAndConditions" value="http://www.healthfair.com/PrivacyPolicy.aspx"/>
    <add key="TestPreparationURL" value="http://www.healthfair.com/TestPreparation.aspx"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>