<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Healthfair;User ID=falconuser;Password=Screening!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Media Location-->
    <add key="MediaLocation" value="F:\Websites\qa-media.healthfair.com" />
    <add key="MediaUrl" value="https://qa-media.healthfair.com" />
    <add key="CatalogNameUsageSetting" value="2"/>
    <add key="CatalogNameToUse" value="HealthfairProd"/>
    <add key="SiteConfigurableContentPath" value="F:\Websites\qa-hip.healthfair.com\www\Config\Content" />
    <add key="SiteUrl" value="http://qa-hip.HealthFair.com"/>
    <add key="Address1" value="9201 E. Mountain View Road"/>
    <add key="Address2" value="Suite 220"/>
    <add key="City" value="Scottsdale"/>
    <add key="State" value="Arizona"/>
    <add key="ZipCode" value="85258"/>
    <add key="FullBusinessName" value="Matrix Medical Network"/>
    <add key="PhoneTollFree" value="855-305-8378"/>
    <add key="HealthAssesmentFormUrl" value="https://qa-hip.healthfair.com/Medical/Results/HealthAssessment"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="HiptoAcesCrossWalkReportFilePath" value="F:\SFTP\QA-SFTP\HiptoAcesCrossWalkReport\" />
    <add key="HiptoAcesCrossWalkReportInterval" value="24" />
    <add key="HiptoAcesCrossWalkReportScheduleTime" value="21:19:00" />
    <add key="AcesClientIds" value="194,202,203,195" />

    <add key="MemberUploadbyAcesSourceFolderPath" value="F:\SFTP\QA-SFTP\AcesIntake\" />
    <add key="MemberUploadbyAcesDestinationFolderPath" value="F:\Websites\qa-media.healthfair.com\AcesMemberUpload\" />
    <add key="MemberUploadbyAcesReportInterval" value="1" />
    <add key="MemberUploadbyAcesReportScheduleTime" value="07:26:00" />

    <add key="CustomerEligibilityUploadSftpPath" value="F:\SFTP\QA-SFTP\AcesIntake\"/>
    <add key="CustomerEligibilityUploadScheduleTime" value="10:32:00"/>
    <add key="CustomerEligibilityUploadIntervalHours" value="1"/>

    <add key="RedisDatabaseKey" value="0" />
    <add key="RedisServerHost" value="qa-auth.corphealthfair.com"/>
    <add key="RedisChannelQueuePrefix" value="qa" />
    <add key="ResultFlowChangeDate" value="08/28/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="https://qa-hra.healthfair.com"/>

    <add key="StopCustomerEligibilityUpload" value="false"/>
    <add key="StopMemberUploadbyAces" value="false"/>

    <add key="ClientSftpPathForHipToAces" value="F:\SFTP\QA-SFTP\AcesMemberUpload"/>
    
    <add key="RedisDatabaseKey" value="0" />
    <add key="RedisServerHost" value="qa-auth.corphealthfair.com"/>
    <add key="RedisChannelQueuePrefix" value="qa" />

    <add key="MemberUploadParseIntervalMinutes" value="30"/>
    <add key="SyncWithHra" value="true" />

    <add key="WellmedFlGiftCertificateReportPath" value="\\jobs.corphealthfair.com\HIP_Report_Outtake\WellmedFL\GiftCard\" />
    <add key="WellmedTxGiftCertificateReportPath" value="\\jobs.corphealthfair.com\HIP_Report_Outtake\WellmedTX\GiftCard\" />
    <add key="WellmedGiftCertificateDayOfWeek" value="1" />
    <add key="WellmedGiftCertificateScheduleTime" value="01:00:00" />
    <add key="WellmedGiftCertificateIntervalHours" value="24" />
    <add key="WellmedTxAccountId" value="1123" />
    <add key="WellmedAccountId" value="1003" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>