<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=TZIN-L-TZL015\MSSQLSERVER17;Initial Catalog=HF_01282019;User ID=sa;Password=Pass@123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Media Location-->
    <add key="MediaLocation" value="E:\Projects\Falcon\branches\Dev\src\UI\media.falcon.com" />
    
    <add key="MediaUrl" value="http://localhost/Media.falcon.com" />
    <add key="CatalogNameUsageSetting" value="2"/>
    <add key="CatalogNameToUse" value="Prod_Hf_0611"/>
    <add key="SiteConfigurableContentPath" value="D:\Projects\Falcon\branches\QA\src\UI\Config\Content"/>
    <add key="SiteUrl" value="http://localhost/"/>
    <add key="Address1" value="9201 E. Mountain View Road"/>
    <add key="Address2" value="Suite 220"/>
    <add key="City" value="Scottsdale"/>
    <add key="State" value="Arizona"/>
    <add key="ZipCode" value="85258"/>
    <add key="FullBusinessName" value="ABC Screening Company Inc."/>
    <add key="PhoneTollFree" value="1-800-111-5555"/>
    <add key="HealthAssesmentFormUrl" value="http://localhost/Medical/Results/HealthAssessment"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="HiptoAcesCrossWalkReportFilePath" value="D:\SFTP\HiptoAcesCrossWalkReport\" />
    <add key="HiptoAcesCrossWalkReportInterval" value="24" />
    <add key="HiptoAcesCrossWalkReportScheduleTime" value="21:19:00" />
    <add key="AcesClientIds" value="194,202,203,195" />


    <add key="MemberUploadbyAcesSourceFolderPath" value="F:\SFTP\MemberUploadbyAcesSource\" />
    <add key="MemberUploadbyAcesDestinationFolderPath" value="F:\SFTP\MemberUploadbyAcesDestinationFolderPath\" />
    <add key="MemberUploadbyAcesReportInterval" value="24" />
    <add key="MemberUploadbyAcesReportScheduleTime" value="21:19:00" />


    <add key="CustomerEligibilityUploadSftpPath" value="D:\SFTP\CustomerEligibilityIntakeSetting"/>
    <add key="CustomerEligibilityUploadScheduleTime" value="01:00:00"/>
    <add key="CustomerEligibilityUploadIntervalHours" value="24"/>

    <add key="RedisDatabaseKey" value="0" />
    <add key="RedisServerHost" value="localhost"/>
    <add key="RedisChannelQueuePrefix" value="local" />
    <add key="ResultFlowChangeDate" value="08/10/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="http://localhost:7060"/>

    <add key="StopCustomerEligibilityUpload" value="false"/>
    <add key="StopMemberUploadbyAces" value="false"/>

    <add key="RedisDatabaseKey" value="0" />
    <add key="RedisServerHost" value="localhost"/>
    <add key="RedisChannelQueuePrefix" value="local" />
    
	  <add key="ClientSftpPathForHipToAces" value="D:\SFTP\MemberUploadbyAcesSource"/>
    <add key="MemberUploadParseIntervalMinutes" value="30"/>
    <add key="SyncWithHra" value="true" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
