<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=HealthfairProd;User ID=falconuser;Password=Screening!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Media Location-->
    <add key="MediaLocation" value="F:\dev-media.healthfair.com" />
    <add key="MediaUrl" value="https://dev-media.healthfair.com" />
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthfairProd" />
    <add key="SiteConfigurableContentPath" value="D:\Websites\dev-hip.healthfair.com\www\Config\Content" />
    <add key="SiteUrl" value="http://dev-hip.HealthFair.com"/>
    <add key="Address1" value="9201 E. Mountain View Road"/>
    <add key="Address2" value="Suite 220"/>
    <add key="City" value="Scottsdale"/>
    <add key="State" value="Arizona"/>
    <add key="ZipCode" value="85258"/>
    <add key="FullBusinessName" value="Matrix Medical Network"/>
    <add key="PhoneTollFree" value="855-305-8378"/>
    <add key="HealthAssesmentFormUrl" value="https://dev-hip.healthfair.com/Medical/Results/HealthAssessment"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="HiptoAcesCrossWalkReportFilePath" value="F:\SFTP\QA-SFTP\HiptoAcesCrossWalkReport\" />
    <add key="HiptoAcesCrossWalkReportInterval" value="24" />
    <add key="HiptoAcesCrossWalkReportScheduleTime" value="06:53:00" />
    <add key="AcesClientIds" value="220" />

    <add key="MemberUploadbyAcesSourceFolderPath" value="F:\SFTP\QA-SFTP\AcesMemberUpload\" />
    <add key="MemberUploadbyAcesDestinationFolderPath" value="F:\dev-media.healthfair.com\AcesMemberUpload\" />
    <add key="MemberUploadbyAcesReportInterval" value="1" />
    <add key="MemberUploadbyAcesReportScheduleTime" value="08:30:00" />

    <add key="CustomerEligibilityUploadSftpPath" value="F:\SFTP\QA-SFTP\AcesMemberUpload\"/>
    <add key="CustomerEligibilityUploadScheduleTime" value="08:30:00"/>
    <add key="CustomerEligibilityUploadIntervalHours" value="1"/>

    <add key="RedisDatabaseKey" value="0" />
    <add key="RedisServerHost" value="dev-auth.corphealthfair.com"/>
    <add key="RedisChannelQueuePrefix" value="dev" />
    <add key="ResultFlowChangeDate" value="08/10/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="https://dev-hra.healthfair.com"/>

    <add key="StopCustomerEligibilityUpload" value="false"/>
    <add key="StopMemberUploadbyAces" value="false"/>

    <add key="ClientSftpPathForHipToAces" value="F:\SFTP\QA-SFTP\AcesMemberUpload"/>
    
    <add key="RedisDatabaseKey" value="0" />
    <add key="RedisServerHost" value="dev-auth.corphealthfair.com"/>
    <add key="RedisChannelQueuePrefix" value="dev" />

    <add key="MemberUploadParseIntervalMinutes" value="30"/>
    <add key="SyncWithHra" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>