<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Healthfair;User ID=falconuser;Password=Screening!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Media Location-->
    <add key="MediaLocation" value="F:\Websites\qa-media.healthfair.com" />
    <add key="MediaUrl" value="https://qa-media.healthfair.com" />
    <add key="ArchiveMediaUrl" value="https://qa-media.healthfair.com/Archive"/>
    <add key="ArchiveMediaLocation" value="F:\Archive\qa-media.healthfair.com"/>

    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthFair" />

    <add key="FloridaBlueAccountId" value="1040"/>

    <add key="OutboundFileImportScheduleTime" value="16:00:00"/>
    <add key="OutboundFileImportIntervalHours" value="1"/>
    <add key="OutboundSourceFileLocation" value="F:\SFTP\QA-SFTP\{0}\download\Outbound"/>

    <add key="OutboundChaseParseScheduleTime" value="16:10:00"/>
    <add key="OutboundChaseParseIntervalHours" value="1"/>

    <add key="OutboundCareCodingParseScheduleTime" value="16:30:00"/>
    <add key="OutboundCareCodingParseIntervalHours" value="1"/>

    <add key="PatientDetailParseScheduleTime" value="17:00:00"/>
    <add key="PatientDetailParseIntervalHours" value="1"/>

    <add key="DiagnosisReportParseScheduleTime" value="17:10:00"/>
    <add key="DiagnosisReportParseIntervalHours" value="1"/>

    <add key="LoincLabDataPath" value="F:\SFTP\QA-SFTP\Outbound\Loinc_Lab_Data\"/>
    <add key="LoincLabDataParseScheduleTime" value="18:45:00"/>

    <add key="LoincCrosswalkPath" value="F:\SFTP\QA-SFTP\Outbound\Loinc_Crosswalk\"/>
    <add key="LoincCrosswalkParseScheduleTime" value="18:45:00"/>

    <add key="RedisDatabaseKey" value="0" />
    <add key="RedisServerHost" value="qa-auth.corphealthfair.com"/>
    <add key="RedisChannelQueuePrefix" value="qa" />
    <add key="ResultFlowChangeDate" value="08/28/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="https://qa-hra.healthfair.com"/>
    <add key="MedicareApiUrl" value="api"/>
    <add key="SyncWithHra" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
