<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=172.25.0.60;Initial Catalog=HealthfairProd;User ID=falconuser;Password=Screening!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Media Location-->
    <add key="MediaLocation" value="\\hqmediacifs\hqmediashare\media.healthfair.com" />
    <add key="MediaUrl" value="https://media2.healthfair.com" />
    <add key="ArchiveMediaUrl" value="https://media2.healthfair.com/Archive"/>
    <add key="ArchiveMediaLocation" value="B:\Archive\media.healthfair.com"/>

    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthfairProd" />

    <add key="FloridaBlueAccountId" value="1040,1062"/>

    <add key="OutboundFileImportScheduleTime" value="22:10:00"/>
    <add key="OutboundFileImportIntervalHours" value="24"/>
    <add key="OutboundSourceFileLocation" value="\\172.25.0.30\sftp\Prod-SFTP\{0}\download\Outbound"/>

    <add key="OutboundChaseParseScheduleTime" value="22:20:00"/>
    <add key="OutboundChaseParseIntervalHours" value="24"/>

    <add key="OutboundCareCodingParseScheduleTime" value="23:20:00"/>
    <add key="OutboundCareCodingParseIntervalHours" value="24"/>

    <add key="PatientDetailParseScheduleTime" value="22:10:00"/>
    <add key="PatientDetailParseIntervalHours" value="24"/>

    <add key="DiagnosisReportParseScheduleTime" value="23:00:00"/>
    <add key="DiagnosisReportParseIntervalHours" value="24"/>

    <add key="LoincLabDataPath" value="\\172.25.0.30\sftp\Prod-SFTP\Outbound\Loinc_Lab_Data\"/>
    <add key="LoincLabDataParseScheduleTime" value="18:45:00"/>

    <add key="LoincCrosswalkPath" value="\\172.25.0.30\sftp\Prod-SFTP\Outbound\Loinc_Crosswalk\"/>
    <add key="LoincCrosswalkParseScheduleTime" value="18:45:00"/>

    <add key="RedisDatabaseKey" value="1" />
    <add key="RedisServerHost" value="live-auth.corphealthfair.com"/>
    <add key="RedisChannelQueuePrefix" value="prod" />
    <add key="ResultFlowChangeDate" value="10/30/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="https://hra2.healthfair.com"/>
    <add key="MedicareApiUrl" value="api"/>
    <add key="SyncWithHra" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
