<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=TZIN-D-TZC002\MSSQLSERVER2017;Initial Catalog=HealthFairProd;User ID=sa;Password=Pass@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthFairProd" />
    <add key="NoPastAppointmentInDays" value="180" />
    <add key="HealthPlanCallQueueGenerationInterval" value="24" />
    <add key="HealthPlanCallQueueGenerationScheduleTime" value="15:53:00" />
    <add key="HealthPlanFillEventCallQueueGenerationScheduleTime" value="21:00:00" />
    <add key="NeverBeenCalledInDays" value="365" />
    <add key="NoPastAppointmentInDaysUncontactedCustomers" value="90" />
    <add key="HealthPlanUncontactedCustomersGenerationScheduleTime" value="15:30:00" />
    <add key="HealthPlanCriteriaForDeletionScheduleTime" value="15:30:00" />
    <add key="HealthPlanCriteriaForDeletionInterval" value="24" />
    <add key="HealthPlanLanguageBarrierScheduleTime" value="15:20:00" />
    <add key="CustomerReturnInCallQueue" value="5" />
    <add key="ZipRangeInMiles" value="60" />
    <add key="HealthPlanEventZipScheduleTime" value="06:00:00" />
    <add key="HealthPlanEventZipInterval" value="24" />
    <add key="HealthPlanEventZipQueueNotGeneratedScheduleTime" value="06:00:00" />
    <add key="HealthPlanEventZipQueueNotGeneratedInterval" value="24" />
    <add key="HealthPlanConfirmationCallQueueGenerationScheduleTime" value="06:00:00" />
    
    <add key="AccountZipSubstituteRegenerationScheduleTime" value="07:00:00"/>
    <add key="AccountZipSubstituteRegenerationInterval" value="30"/>
    <add key="AccountZipSubstituteStartTime" value="9"/>
    <add key="AccountZipSubstituteEndTime" value="20"/>
    <add key="RegenerateAccountEventZip" value="true"/>
    <add key="AccountZipRegenerationResourcePath" value="D:\Projects\Falcon\branches\dev\src\Jobs.CallQueueService\bin\Debug"/>
    <add key="FillEventZipRadius" value="60"/>
    <add key="ResultFlowChangeDate" value="08/10/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="http://localhost:7060"/>
    <add key="MedicareApiUrl" value="api"/>
    <add key="SyncWithHra" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="EventZipProductTypePollingAgentRegenerationScheduleTime" value="00:00:00"/>
    <add key="EventZipProductTypePollingAgentRegenerationInterval" value="30"/>
    <add key="EventZipProductTypeSubstitutePollingAgentRegenerationScheduleTime" value="12:00:00"/>
    <add key="EventZipProductTypeSubstitutePollingAgentRegenerationInterval" value="30"/>

    <add key="IsDevEnvironment" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>