@model string
@{
    ViewBag.Title = "Error Occurred";
}
<fieldset style="height: 500px; width: 97%;">
    <h1 style="text-align: center; vertical-align: middle; line-height: 500px;">@Model</h1>
</fieldset>