<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=HealthfairProd;User ID=falconuser;Password=Screening!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--Media Location-->
    <add key="MediaLocation" value="F:\dev-media.healthfair.com" />
    <add key="MediaUrl" value="https://dev-media.healthfair.com" />
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthfairProd" />
    <add key="ReportDestinationPath" value="F:\SFTP\QA-SFTP\Taazaa\TestPerformed\{0}\" />
    <add key="DayOfMonthServiceRun" value="8" />
    <add key="TestPerformReportScheduleTime" value="08:50:00" />
    <add key="TestPerformReportInterval" value="1" />

    <add key="DailyPatientRecapReportDownloadAccountIds" value="1003"/>
    <add key="DailyPatientRecapReportDestinationPath" value="F:\SFTP\QA-SFTP\{0}\download"/>
    <add key="DaysOfWeekToRunDailyPatientRecapReport" value="0,3" />
    <add key="DailyPatientRecapReportScheduleTime" value="03:25:00" />
    <add key="DailyPatientRecapReportInterval" value="24" />

    <add key="ServiceReportSettingPath" value="D:\Jobs\dev-hip.healthfair.com\ReportingService.Job\Resource\\ServiceReportSettings_{0}.xml" />
    <add key="BcbsMiServiceReportScheduleTime" value="09:35:00"/>
    <add key="BcbsMiServiceReportIntervalHours" value="24"/>

    <add key="BcbsMiAccountId" value="1043" />
    <add key="BcbsMiResultReportDownloadPath" value="F:\SFTP\QA-SFTP\{0}\download" />
    <add key="BcbsMiResultPdfDownloadPath" value="F:\SFTP\QA-SFTP\taazaa\{0}\download" />
    <add key="BcbsMiRiskPatientTags" value="BCBS MI 19august 17,BCBS MI 18august 17,BCBS-MI_Florida_2017_List-1,BCBS-MI_Indiana_2017_List-1,BCBS-MI_Arizona_2017_List-1" />
    <add key="BcbsMiGapPatinetTags" value="BCBS_Michigan-GAPS_ONLY-JAN2017,BCBS-MI_Michigan_GAPS_2017_List-1" />
    <add key="PcpDownloadCutOfDate" value="02/01/2015" />
    <add key="BcbsMiReportingServiceDayOfWeek" value="2" />

    <add key="BcbsMiIncorrectPhoneExportDay" value="1"/>
    <add key="IncorrectPhoneExportDownloadTime" value="09:23:00"/>

    <add key="BcbsMiHomeVisitExportDay" value="1"/>
    <add key="HomeVisitExportDownloadTime" value="08:02:00"/>

    <add key="BcbsMiPcpResultMailedReportSettingPath" value="D:\Jobs\dev-hip.healthfair.com\ReportingService.Job\Resource\PcpResultMailedReportSettings_{0}.xml" />
    <add key="BcbsMiPcpResultMailedReportScheduleTime" value="09:35:00"/>
    <add key="BcbsMiPcpResultMailedReportIntervalHours" value="24"/>
    <add key="BcbsMiPcpResultMailedReportDayOfWeek" value="2" />

    <add key="BcbsMiMemberResultMailedReportSettingPath" value="D:\Jobs\dev-hip.healthfair.com\ReportingService.Job\Resource\MemberResultMailedReportSettings_{0}.xml" />
    <add key="BcbsMiMemberResultMailedReportScheduleTime" value="09:35:00"/>
    <add key="BcbsMiMemberResultMailedReportIntervalHours" value="24"/>
    <add key="BcbsMiMemberResultMailedReportDayOfWeek" value="2" />

    <add key="BcbsmiHomeVisitRequestedSettingPath" value="D:\Jobs\dev-hip.healthfair.com\ReportingService.Job\Resource\HomeVisitRequestedSettings_{0}.xml" />
    <add key="BcbsmiIncorrectPhoneNumberSettingPath" value="D:\Jobs\dev-hip.healthfair.com\ReportingService.Job\Resource\IncorrectPhoneNumberSettings_{0}.xml" />

    <!--Start - Well Care PCP Summary Log Settings Key-->
    <add key="WellCarePcpSummaryLogDownloadPath" value="F:\SFTP\QA-SFTP\taazaa\PCPSummaryLogs" />
    <add key="WellCarePcpSummaryLogReportSettingPath" value="D:\Jobs\dev-hip.healthfair.com\ReportingService.Job\Resource\PcpSummaryLogReportSettings_{0}.xml" />
    <add key="WellCarePcpSummaryLogReportScheduleTime" value="05:54:00"/>
    <add key="WellCarePcpSummaryLogReportIntervalHours" value="24"/>
    <add key="WellCarePcpSummaryLogReportDayOfWeek" value="2" />
    <add key="WellCarePcpSummaryLogCutOfDate" value="01/01/2017" />

    <add key="WellCareEasyChoiceAccountIds" value="1043"/>
    <add key="WellCareAccountIds" value="1048,1050,1051,1052,1053,1056,1057,1058"/>
    <add key="WellCareSftpHost" value="" />
    <add key="WellCareSftpUserName" value="" />
    <add key="WellCareSftpPassword" value="" />
    <add key="SendPdfToWellCareSftp" value="false"/>
    <add key="WellCareSftpPath" value="To_WellCare"/>

    <add key="GiftCertificateReportDownloadAccountIds" value="1003"/>
    <add key="GiftCertificateReportCutOffDate" value="07/07/2017"/>
    <add key="GiftCertificateReportDaysOfWeek" value="1,2"/>
    <add key="GiftCertificateReportDownloadPath" value="F:\SFTP\QA-SFTP\{0}\Download\GiftCertificate"/>
    <add key="GiftCertificateReportScheduleTime" value="10:14:00"/>

    <add key="HealthPlanCustomerListExportScheduleInterval" value="24"/>
    <add key="HealthPlanCustomerExportCutoffDate" value="01/01/2016"/>
    <add key="PageSizeHealthPlanExport" value="500"/>
    <add key="HealthPlanCustomerExportIntervalDay" value="2"/>

    <add key="AnthemCustomTags" value="Wellmed_FL-ASSESSMENT-MAMMO-2017-Group 1,Wellmed_CA_Assessments_2017_List-1"/>
    <add key="AnthemDownloadPath" value="F:\SFTP\QA-SFTP\Anthem\upload\{0}"/>
    <add key="AnthemCustomTagStates" value="Wellmed_FL,Wellmed_CA"/>

    <add key="HourlyAppointmentBookedDownloadPath" value="F:\SFTP\QA-SFTP\All Departments\Appointments Booked"/>
    <add key="HourlyAppointmentBookedScheduleTime" value="03:58:00"/>
    <add key="HourlyAppointmentBookedIntervalHours" value="3"/>
    <add key="HourlyAppointmentBookedStartTime" value="3"/>

    <add key="HourlyOutreachCallReportDownloadPath" value="F:\SFTP\QA-SFTP\All Departments\OutreachCallReport"/>
    <add key="HourlyOutreachCallReportScheduleTime" value="03:58:00"/>
    <add key="HourlyOutreachCallReportIntervalHours" value="1"/>
    <add key="HourlyOutreachCallReportStartTime" value="3"/>

    <add key="GiftCertificateSettingResourcePath" value="D:\Jobs\dev-hip.healthfair.com\ReportingService.Job\Resource\GiftCertificateReportSettings_{0}.xml"/>

    <add key="DailyVolumeReportPath" value="F:\SFTP\QA-SFTP\Matrix\DailyVolume\"/>
    <add key="DailyVolumeReportScheduleTime" value="17:35:00"/>
    <add key="DailyVolumeReportIntervalInHour" value="24"/>

    <add key="GmsAccountIds" value="1003"/>
    <add key="GmsCustomerReportPath" value="F:\SFTP\QA-SFTP\GmsReport"/>
    <add key="GmsEventReportScheduleTime" value="06:50:00"/>
    <add key="GmsEventReportIntervalMinutes" value="60"/>
    <add key="GmsCustomerReportScheduleTime" value="06:50:00"/>
    <add key="GmsCustomerReportIntervalHours" value="24"/>
    <add key="GmsMaxCustomerCount" value="1000"/>
    <add key="GmsSftpHost" value="localhost" />
    <add key="GmsSftpUserName" value="test" />
    <add key="GmsSftpPassword" value="test@123" />
    <add key="SendReportToGmsSftp" value="false"/>
    <add key="GmsSftpPath" value="Inbox"/>
    <add key="EventListGmsReportPath" value="F:\SFTP\QA-SFTP\GmsReport"/>
    <add key="GmsEventStartTime" value="6"/>
    <add key="GmsEventEndTime" value="20"/>

    <add key="GmsDialerFilePath" value="F:\SFTP\QA-SFTP\GmsReport\Inbound\"/>
    <add key="GmsDialerFileParsingScheduleTime" value="23:00:00"/>
    <add key="GmsDialerFileParsingIntervalHours" value="24"/>
    <add key="GmsUserName" value="ydrabu"/>

    <add key="EventScheduleAccountIds" value="1003"/>
    <add key="EventScheduleAccountInterval" value="24"/>
    <add key="EventScheduleAccountScheduleTime" value="11:00:00"/>
    <add key="EventScheduleReportPath" value="F:\SFTP\QA-SFTP\Matrix\EventSchedule\"/>

    <add key="MailRoundCustomersReportDestinantionPath" value="F:\SFTP\MailRoundCustomersReport"/>
    <add key="MailRoundCustomersReportScheduleTime" value="06:50:00"/>
    <add key="MailRoundCustomersReportIntervalHours" value="24"/>

    <add key="WellmedAccountId" value="1003"/>
    <add key="BiWeeklyMicroAlbuminFobtCutoffDate" value="01/01/2018"/>
    <add key="WellmedSftpHost" value="192.168.0.37" />
    <add key="WellmedSftpUserName" value="wellmedtest" />
    <add key="WellmedSftpPassword" value="Pass@123" />
    <add key="SendBiWeeklyMicroAlbuminFobtReportToSftp" value="false"/>
    <add key="BiWeeklyMicroAlbuminFobtSftpPath" value="Inbound\Reports\Lab Kit Disbursement\{0}"/>
    <add key="BiWeeklyMicroAlbuminFobtReportRunDates" value="1,15"/>
    <add key="BiWeeklyMicroAlbuminFobtReportPath" value="F:\SFTP\QA-SFTP\{0}\Lab Kit Disbursement"/>
    <add key="BiWeeklyMicroAlbuminFobtScheduleTime" value="11:30:00"/>
    <add key="BiWeeklyMicroAlbuminFobtIntervalHours" value="24"/>

    <add key="EventScheduleReportSftpPath" value="Inbound\Reports\EventScheduled\{0}"/>

    <add key="NonTargetableCutoffDate" value="01/01/2017"/>
    <add key="SendNonTargetableReportToSftp" value="false"/>
    <add key="NonTargetableReportSftpPath" value="Inbound\Reports\Non-Targetable Membership\{0}"/>
    <add key="NonTargetableReportRunDate" value="1"/>
    <add key="NonTargetableReportPath" value="F:\SFTP\QA-SFTP\{0}\Non-Targetable Membership"/>
    <add key="NonTargetableReportScheduleTime" value="11:50:00"/>
    <add key="NonTargetableReportIntervalHours" value="24"/>

    <add key="SendPcpChangeReportToSftp" value="false"/>
    <add key="PcpChangeReportSftpPath" value="Inbound\Reports\PCP Change Report\{0}"/>
    <add key="PcpChangeReportRunDate" value="6"/>
    <add key="PcpChangeReportPath" value="F:\SFTP\QA-SFTP\{0}\PCP Change Report"/>
    <add key="PcpChangeReportScheduleTime" value="11:50:00"/>
    <add key="PcpChangeReportIntervalHours" value="24"/>
    <add key="PcpChangeReportSettings" value="D:\Jobs\dev-hip.healthfair.com\ReportingService.Job\PotentialPCPchangeReport.xml"/>
    <add key="PcpChangeReportCutoffDate" value="01/01/2018"/>

    <add key="HousecallOutreachReportExportDownloadPath" value="F:\SFTP\QA-SFTP\{0}\download\OutreachReport\{1}"/>
    <add key="HousecallOutreachReportExportScheduleInterval" value="24"/>
    <add key="HousecallOutreachReportExportScheduleTime" value="7:00:00"/>
    <add key="HousecallOutreachReportCutOfDate" value="01/01/2018"/>
    <add key="HousecallPlanOutreachReportAccountIds" value="1081" />
    <add key="HousecallOutreachSettings" value="D:\Jobs\dev-hip.healthfair.com\ReportingService.Job\Resource\OutreachSettings_{0}.xml"/>

    <add key="HousecallHafResultReportDownloadSettings" value="D:\Jobs\dev-hip.healthfair.com\ReportingService.Job\Resource\HafResultReportDownloadSettings_{0}.xml"/>
    <add key="HousecallHafResultReportDownloadPath" value="F:\SFTP\QA-SFTP\{0}\download\results"/>
    <add key="HousecallHafResultReportDownloadTime" value="23:00:00"/>
    <add key="HousecallHafResultReportDownloadInterval" value="24"/>

    <add key="WellmedMemberStatusReportPath" value="F:\SFTP\QA-SFTP\HealthFair\Inbound\Reports\Disposition_Reports"/>
    <add key="WellmedMemberStatusReportScheduleTime" value="01:00:00"/>
    <add key="WellmedMemberStatusReportScheduleInterval" value="24"/>
    <add key="WellmedMemberStatusReportDayOfMonth" value="1"/>
    <add key="WellmedMemberStatusReportSftpPath" value="\HealthFair\Inbound\Reports\Disposition_Reports"/>
    <add key="WellmedMemberStatusReportSendToSftp" value="false"/>

    <add key="GmsCampaignIds" value=""/>
    <add key="OptumUtCustomTagsForGms" value="Optum-UT_Assessments_2018_List-1"/>
    <add key="OptumUtAccountId" value="1014"/>

    <add key="UniversalMemberFilePath" value="F:\SFTP\QA-SFTP\UniversalMemberReport\"/>
    <add key="UniversalMemberReportInterval" value="24"/>
    <add key="UniversalMemberReportScheduleTime" value="22:00:00"/>

    <add key="UniversalProviderFilePath" value="F:\SFTP\QA-SFTP\UniversalProviderReport\"/>
    <add key="UniversalProviderReportInterval" value="24"/>
    <add key="UniversalProviderReportScheduleTime" value="22:00:00"/>

    <add key="CustomerConsentDataFilePath" value="F:\SFTP\QA-SFTP\HealthFair\CustomerConsentDataReport\"/>
    <add key="CustomerConsentDataReportInterval" value="24"/>
    <add key="CustomerConsentDataReportScheduleTime" value="23:00:00"/>
    <add key="CustomerConsentDataReportSftpPath" value="\HealthFair\CustomerConsentDataReport"/>
    <add key="CustomerConsentDataReportSendToSftp" value="false"/>
    <add key="CustomerConsentDataReportSettingPath" value="D:\Jobs\dev-hip.healthfair.com\ReportingService.Job\Resource\CustomerConsentDataReportSettings_{0}.xml" />
    <add key="MatrixSftpHost" value="localhost" />
    <add key="MatrixSftpUserName" value="test" />
    <add key="MatrixSftpPassword" value="test@123" />

    <add key="GmsExcludeCustomerReportDownloadTime" value=""/>
    <add key="GmsExcludeReportDownloadCustomerIntervalInHours" value=""/>

    <add key="RedisDatabaseKey" value="0" />
    <add key="RedisServerHost" value="dev-auth.corphealthfair.com"/>
    <add key="RedisChannelQueuePrefix" value="dev" />

    <add key="UniversalMemberFileSftpPath" value="F:\SFTP\QA-SFTP\Matrix\BPA\"/>
    <add key="UniversalProviderFileSftpPath" value="F:\SFTP\QA-SFTP\Matrix\BPA\"/>

    <add key="BcbsmiDateAddedIncorrectPhoneNumberSettingPath" value="D:\Jobs\dev-hip.healthfair.com\ReportingService.Job\Resource\DateAddedIncorrectPhoneNumberSettings_{0}_{1}.xml" />

    <add key="UniversalMemberArchivedFilePath" value="F:\SFTP\QA-SFTP\UniversalMemberReportArchived\" />
    
    <add key="UniversalProviderArchivedFilePath" value="F:\SFTP\QA-SFTP\UniversalProviderArchivedFilePath\" />

    <add key="ConnecticareAccountId" value="1063"/>
    <add key="ConnecticareMaAccountId" value="1075"/>

    <add key="ConnecticareEventScheduleExportDay" value="0"/>
    <add key="ResultFlowChangeDate" value="08/10/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="https://dev-hra.healthfair.com"/>

    <add key="HealthPlanExportRootPath" value="F:\SFTP\QA-SFTP\{0}"/>

    <add key="AppleCareGiftCertificateDayOfWeek" value="0"/>
    <add key="AppleCareAccountId" value="1078"/>

    <add key="GiftCertificateReportInternalLocation" value="F:\SFTP\QA-SFTP\Taazaa\{0}\GiftCertificate\"/>
    <add key="SyncWithHra" value="true" />
    <add key="IsDevEnvironment" value="true" />
    <!--Mail Basic info-->
    <add key="CompanySupportEmailDomain" value="matrixmedicalnetwork.com"/>
    <add key="CompanySupportEmailAddress" value="info"/>
    <add key="EmailNotificationIssuedFromDomain" value="healthfairmail.com"/>
    <add key="EmailNotificationIssuedFromAddress" value="support"/>
    <add key="NameNotificationissuedFrom" value="Matrix Medical Network Team"/>
    <add key="PhoneTollFree" value="855-305-8378"/>
    <add key="BusinessName" value="Matrix Medical Network"/>
    <add key="FullBusinessName" value="Matrix Medical Network"/>
    <add key="ProductName" value="HIP"/>
    <add key="Address1" value="9201 E. Mountain View Road"/>
    <add key="Address2" value="Suite 220"/>
    <add key="City" value="Scottsdale"/>
    <add key="State" value="Arizona"/>
    <add key="ZipCode" value="85258"/>
    <add key="SiteUrl" value="http://www.HealthFair.com"/>
    <add key="AppUrl" value="https://dev-hip.HealthFair.com"/>
    <add key="LoginUrl" value="https://dev-hip.healthfair.com/login"/>
    <add key="PrivacyStatement" value="http://www.healthfair.com/PrivacyPolicy.aspx"/>
    <add key="TermsAndConditions" value="http://www.healthfair.com/PrivacyPolicy.aspx"/>
    <add key="TestPreparationURL" value="http://www.healthfair.com/TestPreparation.aspx"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>