<div class="row-flat">
    <div class="pad-o-8">
        Showing list of all customer been marked as No Show<span ng-hide="model.EndDate==null || typeof(model.EndDate)=='undefined' || model.EndDate==''"> between</span> <span ng-show="model.EndDate==null || typeof(model.EndDate)=='undefined' || model.EndDate==''"> from</span> {{model.StartDate | date : 'MM/dd/yyyy'}}<span ng-hide="model.EndDate==null || typeof(model.EndDate)=='undefined' || model.EndDate==''"> and {{model.EndDate | date : 'MM/dd/yyyy'}}</span>.
    </div>
</div>
<div class="row">

</div>