<style>
    th {
        white-space: nowrap;
    }

    .modal-lg {
        width: 1250px;
        max-height:500px;
        overflow-y:auto;
    }
</style>

<div class="block-flat">
    <div class="header">
        <h4 style="color:black;">Medications</h4>
    </div>
    <hr style="margin:0;" />
    <div class="content" style="margin: 0;">
        <div class="clearfix small-section-inner" style="padding-right: 0px;padding-left: 0px;">
            <div style="margin-bottom: 10px;">

                <div class="card-box">
                    <div class="no-fix-input">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Dose</th>
                                    <th>Unit</th>
                                    <th>Frequency</th>
                                    <th>Prescription</th>
                                    <th>O-T-C</th>
                                    <th>Indication</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="medication in PatientCurrentMedications">

                                    <td>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group-material">
                                                    <input type="text" class="form-control" ng-model="medication.ProprietaryName" autocomplete="off" auto-complete="Application/Dropdown/GetMedicineByPrefixText" ng-change="updateAnsweredCounter()">
                                                    <i class="bar"></i>
                                                </div>

                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="form-group-material">
                                            <input type="text" class="form-control" ng-model="medication.Dose" only-dose dmin="0" dmax="9999" ng-change="updateAnsweredCounter()">
                                            <i class="bar"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group-material">
                                            <select class="form-control" ng-model="medication.Unit" ng-options="item.value as item.text for item in medicationUnits" ng-change="updateAnsweredCounter()">
                                                <!--<option value="">-- Select Unit --</option>-->
                                            </select>
                                            <i class="bar"></i>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group-material">
                                            <select class="form-control" ng-model="medication.Frequency" ng-options="item.value as item.text for item in medicationFrequency" ng-change="updateAnsweredCounter()">
                                                <!--<option value="">-- Select Frequency --</option>-->
                                            </select>
                                            <i class="bar"></i>
                                        </div>

                                    </td>
                                    <td>
                                        <input type="checkbox" ng-model="medication.IsPrescribed" ng-click="medication.IsOtc = medication.IsOtc == true?false:medication.IsOtc" ng-change="updateAnsweredCounter()">
                                    </td>
                                    <td>
                                        <input type="checkbox" ng-model="medication.IsOtc" ng-click="medication.IsPrescribed = medication.IsPrescribed == true?false:medication.IsPrescribed" ng-change="updateAnsweredCounter()">
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div>
                                                    <textarea maxlength="2000" cols="20" rows="2" ng-model="medication.Indication" ng-change="updateAnsweredCounter()"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button ng-click="removeCurrentMedication($index)">-</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div>
                            <button ng-click="addCurrentMedication()">+</button>
                        </div>
                    </div>
                </div>

            </div>
            <div style="background: #fff;float: right;">
                <button type="button" class="pull-right" ng-click="Save();">Save</button>
                <button type="button" class="pull-right margin-right-10" ng-click="Cancel();">Cancel</button>
            </div>
        </div>
    </div>
</div>