<?xml version="1.0"?>
<appSettings>
  <add key="BusinessName" value="Matrix Medical Network"/>
  <add key="FullBusinessName" value="Matrix Medical Network"/>
  <add key="SiteUrl" value="http://localhost"/>
  <add key="PhoneTollFree" value="1-800-111-5555"/>
  <add key="CompanySupportEmailDomain" value="matrixmedicalnetwork.com"/>
  <add key="CompanySupportEmailAddress" value="hfservicedesk"/>
  <add key="EmailNotificationIssuedFromDomain" value="taazaa.com"/>
  <add key="EmailNotificationIssuedFromAddress" value="test"/>
  <add key="NameNotificationissuedFrom" value="Falcon Team"/>
  <add key="Address1" value="9201 E. Mountain View Road"/>
  <add key="Address2" value="Suite 220"/>
  <add key="City" value="Scottsdale"/>
  <add key="State" value="Arizona"/>
  <add key="ZipCode" value="85258"/>
  <add key="ProductName" value="Business Management System"/>
  <add key="PrivacyPolicyUrl" value="http://www.Google.com"/>
  <add key="TermsConditionsUrl" value="http://www.Yahoo.com"/>
  <add key="TestPreparationURL" value="http://falcon.taazaa.com/TestPrep"/>
  <add key="IsAuthorizationRequired" value="false"/>
  <add key="BusinessTaxId" value="ABCDEFG1234"/>
  <add key="DefaultPageSizeForReports" value="25"/>
  <add key="IsRefundQueueEnabled" value="true" />
  <add key="PrePayPercentage" value="0.5" />
  <add key="EnableCallPop" value="true" />
  <add key="GiftCertificateImagePath" value="/Config/Content/Images/GC.gif"   />
  <add key="GiftCertificateThumbnailPath" value="/Config/Content/Images/GC_Thumbnail.gif"   />
  <add key="CapturePrimaryCarePhysician" value="true"   />
  <add key="EnableSurveyForCorporateEvents" value="true"   />
  <add key="IsEccEnabled" value="false"/>
  <add key="EnableMassRegistration" value="true"/>
  <add key="ShowPartnerRelease" value="true"/>
  <add key="BloodWorksAccountDetails" value="&lt;b>Account Name :&lt;/b> DPN USA, LLC &lt;br />&lt;b>Account Phone Number :&lt;/b> (407)672-9090 &lt;br /> &lt;b>AccountId :&lt;/b> 1161"/>
  <add key="CustomerPortalPhoneTollFree" value="855-486-2874"/>
  <add key="AnnualReminderPhoneTollFree" value="1-855-885-8378"/>
  <add key="AnnualReminderSourceCode" value="SCREENME" />
  <add key="DaysBeforeScreeningReminder" value="1" />
  <add key="HoursBeforeAppointmentReminder" value="15" />
  <add key="HideEkgSection" value="true"/>
  <add key="StrokeFindingChangeDate" value="03/25/2013"/>
  <add key="CaptureEmployeeId" value="false"/>
  <add key="CaptureInsuranceId" value="true"/>
  <add key="HideShippingOption" value="false"/>
  <add key="SelectFreeShippingByDefault" value="true"/>
  <add key="HideResultPurchase" value="true"/>
  <add key="HideProductPurchase" value="true"/>
  <add key="OsteoChangeDate" value="01/19/2014"/>
  <add key="minimumAgeForScreening" value="18"/>
  <add key="PhysicianPartnerAccountId" value="929"/>
  <add key="CaptureBloodTest" value="true"/>
  <add key="BloodTestChangeDate" value="02/09/2015"/>
  <add key="ShowHideRepeatStudyDate" value="02/20/2015" />
  <add key="BasicBiometricCutOfDate" value="04/01/2015"/>
  <add key="DynamicSchedulingMaximumScreeningTime" value="85"/>
  <add key="DynamicSchedulingMinimumScreeningTime" value="5"/>
  <add key="HemoglobinChangeDate" value="05/08/2015"/>
  <add key="ShowHideRepeatVisionConfrontationDate" value="07/07/2015" />
  <add key="AwvAaaFindingChangeDate" value="07/22/2015"/>
  <add key="QualityMeasuresChangeDate" value="11/10/2015"/>
  <add key="Phq9ChangeDate" value="11/10/2015"/>
  <add key="AwvEchoFindingChangeDate" value="11/18/2015"/>
  <add key="MammogramChangeDate" value="05/31/2016"/>
  <add key="IFobtChangeDate" value="07/28/2016"/>
  <add key="UrineMicroalbuminChangeDate" value="07/28/2016"/>
  <add key="SendCancelRescheduleNotificationBeforeDays" value="1"/>
  <add key="FluShotChangeDate" value="09/09/2016"/>
  <add key="AwvFluShotChangeDate" value="09/09/2016"/>
  <add key="PneumococcalChangeDate" value="09/09/2016"/>
  <add key="EventStaffRole" value="AWV-NP"/>
  
</appSettings>
