@using Falcon.App.UI.HtmlHelpers
@{
    ViewBag.Title = "Password Expiration";
}


@{Html.BeginForm();}
<style type="text/css">
    .login-password {
        background: url("/Content/Images/Backgrounds/login-bg.png") repeat-x scroll 0 0 transparent;
        border: 1px solid #838383;
        border-radius: 10px;
        float: left;
        width: 435px;
        padding: 10px;
        margin: 10px;
    }
</style>
<div class="login-password" style="margin-left: 150px;">
    <h2>Consider changing your password</h2>
    Your password will expire in @(ViewBag.PasswordExpireInDays) day(s). To change password now click on "Change Password".
    <div class="submit-button-row">
        <input type="button" value="Change password" onclick="ChangePassword()" />
        @Html.SubmitButton("OK, I'll do it later")
    </div>
</div>

<script type="text/javascript">
    function ChangePassword() {
        window.location.href = "/App/FirstTimeLoginStep.aspx?FirstTimeLogin=Y&PwdExpire=Y&returnUrl=" + '@ViewBag.ReturnUrl';
    }
</script>
@{ Html.EndForm(); }