@model Falcon.App.Core.Users.ViewModels.CorporateAccountEditModel
@{
    ViewBag.Title = "Edit Corporate Account";
}
<h1>
    Edit Corporate Account
</h1>
<script type="text/javascript" src="/App/JavascriptFiles/tiny_mce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.js"></script>

<div class="option-links">
    <a href="/Users/CorporateAccount/Index">+ Manage Corporate Accounts </a>
</div>
<div id="edit-Model">
    @Html.Partial("EditModel")
</div>