@using Falcon.App.Core.Users.ViewModels
@model RegistrationConfigEditModel

@using (Ajax.BeginForm("RegistrationConfigModel", "CorporateAccount", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "registration-model", OnComplete = "registrationToggle" }))
{
    <script type="text/javascript" src="/App/jquery/js/jquery.maskedinput-1.2.2.js"></script>
    <div style="margin:10px;">

        <div id="registration-model">@Html.Partial("RegistrationConfigModel")</div>
        <div class="btnrow">
            <input type="submit" class="btn registration-model-btn" style="float: right;margin-right: 10px;display: block" value="Save & Next" /> <a href="/Users/CorporateAccount" style="float: right;padding-right: 10px;padding-top: 6px">Close</a>
        </div>
        <div class="registration-model-btn" style="display: none; text-align: right;">
            <img src="/App/Images/loading.gif" alt="" />Saving
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            $("input[type=submit]").click(function () {
              
                        setPhoneNumber();
                        registrationToggle();
                   
            });
        });
        function registrationToggle() {
            $(".registration-model-btn").toggle();
        }
        function setPhoneNumber() {
            //var number = $(".checkout-phone-number").val().replace(/[^0-9]/gi, '');
            var number = $("#txtDefaultPhoneNumber").val().replace(/[^0-9]/gi, '');
            if (number.length < 10)
                return true;
            var areacode = number.substring(0, 3);
            var phone = number.substring(3);
            var phoneNumber = new Object();
            phoneNumber.AreaCode = areacode;
            phoneNumber.Number = phone;
            $("#checkoutPhoneNumber").tmpl(phoneNumber).appendTo(".checkout-PhoneNumber");

        }

        $(".registration-model-btn").click(function (e) {
            if ($("#IsHealthPlan").is(":checked")) {
                var isNoOfDaysValid = true;
                var isMaxAttemptValid = true;
                $(".txtNoOfDays").each(function () {
                    var noOfDays = $(this).val();
                    if (noOfDays == '0' || noOfDays.trim() == '' || Number(noOfDays) <= 0 || Number(noOfDays) >= 100) {
                        $(this).css({ 'border': '1px solid #ffaaaa', 'background-color': '#ffeeee' });
                        $(this).focus();
                        isNoOfDaysValid = false;
                    }
                });

                if (!($("input[name='IsMaxAttemptPerHealthPlan']:checked").val() == '@Boolean.TrueString.ToLower()')) {
                    $(".max-attempt").each(function () {
                        var maxAttempt = $(this).val();
                        if (maxAttempt == '0' || maxAttempt.trim() == '' || Number(maxAttempt) <= 0 || Number(maxAttempt) >= 100) {
                            $(this).css({ 'border': '1px solid #ffaaaa', 'background-color': '#ffeeee' });
                            $(this).focus();
                            isMaxAttemptValid = false;
                        }
                    });
                }

                var isPhoneNumberValid = true;
                $(".txtCheckoutPhoneNumber").each(function () {
                    var phoneNumber = $(this).val();
                    if (phoneNumber.trim() == '') {
                        $(this).css({ 'border': '1px solid #ffaaaa', 'background-color': '#ffeeee' });
                        $(this).focus();
                        isPhoneNumberValid = false;
                    }
                });

                if (!isPhoneNumberValid) {
                    alert("Please enter valid phone number.");
                    e.preventDefault();
                    registrationToggle();
                    return false;
                } else if (!isNoOfDaysValid) {
                    alert("No. of days should be greater than 0 and less than 100");
                    e.preventDefault();
                    registrationToggle();
                    return false;
                } else if (!isMaxAttemptValid) {
                    alert("Max attempt should be greater than 0 and less than 100.");
                    e.preventDefault();
                    registrationToggle();
                    return false;
                }
            }
        });
</script>
}
<style type="text/css">
    .btnrow {
        width: 100%;
        height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>
