<div data-ng-controller="TestController" class="container no-padding bg-default" us-spinner spinner-key="online-spinner">
    <quantcast name1="Healthfair" name2="Test"></quantcast>
    <div class="sub-header bg-success relative">
        <div class="header-right">
            <progressbar-view></progressbar-view>
            <order-summary></order-summary>
        </div>
        <div class="header-left">
            <h2 class="no-margin">Additional Screenings/Tests</h2>
        </div>
    </div>
    <div class="main-container border-default">
        <div class="col-md-9 bottom-buffer-16 test-block-wrap no-padding">
            <div class="col-md-12">
               <!-- <h4>Based on your personal risk factors you may benefit from the following screenings/tests:</h4>
                <div>
                    <div ng-repeat="testdetail in UpsellTests" class="row">
                        <div ng-if="!testdetail.NotAvailable" class="col-md-12">
                            <div class="upsale-block border-default clearfix spec-pac  bottom-buffer-10">
                                <div class="col-md-12">
                                    <div class="col-md-1 small-block no-padding-small" ng-if="testdetail.TestId !=TestTypes.Echocardiogram && testdetail.TestId != MensBloodPanelTestId && testdetail.TestId != WomensBloodPanelTestId && testdetail.TestId!=TestTypes.KYN">
                                        <a class="test-block-add pull-left" href="javascript:void(0)">&nbsp;</a>
                                    </div>
                                    <div class="table-cell small-block col-md-1 no-padding-left" ng-if="testdetail.TestId===TestTypes.Echocardiogram">
                                        <img class="echo-image" src="Images/small-ultrasound.gif" />
                                    </div>
                                    <div class="table-cell small-block col-md-1 no-padding-left" ng-if="testdetail.TestId === MensBloodPanelTestId || testdetail.TestId === WomensBloodPanelTestId">
                                        <img class="img-height-width" src="Images/bloodpanal_test.jpg" />
                                    </div>
                                    <div class="table-cell small-block col-md-1 no-padding-left" ng-if="testdetail.TestId===TestTypes.KYN">
                                        <img class="img-height-width" src="Images/kyn_test.jpg" />
                                    </div>
                                    <div class="col-md-11 no-padding-small">
                                        <h4 class="semibold no-margin">
                                            {{testdetail.Name}}
                                        </h4>
                                    </div>
                                    <div class="no-padding-small col-md-11 clearfix top-buffer-6">
                                        <p class="text-justify clearfix word-wrap:break-word;" ng-if="testdetail.TestId===TestTypes.Echocardiogram">
                                            {{ testdetail.Description | limitTo: 355 }}
                                            <a href="javascript:void(0);" class="pull-right text-danger text-underline" ng-click="learnMore(testdetail)" >Learn More</a>
                                        </p>
                                        <p class="text-justify clearfix word-wrap:break-word;" ng-if="testdetail.TestId!==TestTypes.Echocardiogram">
                                            {{ ::testdetail.Description | limitTo: 355 }} {{testdetail.Description.length < 355 ? '' : '...'}}
                                            <a href="javascript:void(0);" class="pull-right text-danger text-underline" ng-click="learnMore(testdetail)" ng-hide="testdetail.Description.length < 355">Learn More</a>
                                        </p>
                                        <div ng-if="testdetail.TestId == MensBloodPanelTestId || testdetail.TestId == WomensBloodPanelTestId">
                                            <div class="table-look">
                                                <div class="table-row">
                                                    <div class="table-cell package-info">
                                                        <div class="pull-left col-md-6" ng-repeat="prop in testdetail.Tests">
                                                            <ul>
                                                                <li><a href="javascript:void(0);" ng-click="learnMoreAboutTest(prop)">{{ prop.Name }}</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <strong>
                                                Price: <span class="price-text" ng-if="testdetail.TestId===TestTypes.KYN || testdetail.TestId===TestTypes.Echocardiogram || testdetail.TestId===TestTypes.MenBloodPanel || testdetail.TestId===TestTypes.WomenBloodPanel">&nbsp;{{testdetail.WithPackageprice | currency }}</span>
                                                <span class="price-text" ng-if="testdetail.TestId != TestTypes.KYN && testdetail.TestId != TestTypes.Echocardiogram && testdetail.TestId != TestTypes.MenBloodPanel && testdetail.TestId != TestTypes.MenBloodPanel && testdetail.TestId != TestTypes.WomenBloodPanel">&nbsp;{{testdetail.Price | currency }}</span>
                                                <span class="pull-right"> <input type="checkbox" ng-checked="testdetail.isChecked" ng-click="UpsellItemChecked(testdetail)" ng-model="testdetail.isChecked" /> <b>Add to Cart</b></span>
                                            </strong>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12 bottom-buffer-10">
                                    <div class="top-buffer-10 no-padding-x" ng-if="testdetail.TestId===TestTypes.Echocardiogram"><a href="https://www.youtube.com/watch?v=UAQ0-bNUcGQ&feature=youtu.be" target="_blank"  class="text-danger text-underline">Click here to watch video</a></div>
                                </div>

                                <div class="col-md-12 bottom-buffer-10">
                                    <div class="top-buffer-10 no-padding-x" ng-if="testdetail.TestId===TestTypes.KYN"><a href="javascript:void(0);" class="text-danger text-underline" ng-click="openKynSampleReport()">Show Sample Report</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-repeat="productdetail in AllProducts" ng-show="EnableImageUpsell" class="col-md-12 top-buffer-10 upsale-block">
                        <div class="col-md-1 small-block no-padding-small ng-scope">
                            <img class="img-height-width" src="Images/small-ultrasound.gif" />
                            <a class="test-block-add pull-left" href="javascript:void(0)">&nbsp;</a>
                        </div>
                        <div class="col-md-11 no-padding-small">
                            <div class="text-justify left-buffer-10 right-buffer-10">
                                <h4 class="semibold no-margin ng-binding">Want to receive images of Ultrasound screening?</h4>
                                <div class="top-buffer-10" ng-bind="productdetail.ShortDescription"> </div>
                                <div class="clearfix top-buffer-10 bottom-buffer-10">
                                    <strong>
                                        Price: <span class="price-text" ng-bind="productdetail.Price | currency"></span>
                                        <span class="pull-right"><input type="checkbox" ng-model="productdetail.isChecked" ng-check="productdetail.isChecked" ng-click="productOptionChanged()" /> Add to Cart</span>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>-->
            </div>
            <div class="col-md-12 hidden-xs hidden-md hidden-sm">
                <!--<h4 class="semibold top-buffer-20 bottom-buffer-0">Additional tests:</h4>-->
                <div ng-repeat="testdetail in AllTests" ng-switch on="$index % 2" class="row">
                    <div ng-if="!testdetail.NotAvailable" class="col-md-6 pad-right-5" ng-switch-when="0">
                        <div class="test-block border-default clearfix test-block-new">
                            <div class="pull-left col-md-12">
                                <div class="col-md-1 no-padding-x" ng-if="testdetail.TestId !=TestTypes.Echocardiogram">
                                    <a class="test-block-add pull-left" href="javascript:void(0)">&nbsp;</a>
                                </div>
                                <div class="col-md-3 no-padding-left" ng-if="testdetail.TestId===TestTypes.Echocardiogram">
                                    <img class="echo-image" src="Images/small-ultrasound.gif" />
                                </div>
                                <div class="col-md-9">
                                    <h4>
                                        {{testdetail.Name}}
                                    </h4>
                                    <div class="pull-right;">
                                        <a href="javascript:void(0);" class="pull-left right-buffer-10" ng-click="learnMore(testdetail)">Learn More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="top-buffer-14 col-md-12">
                                <div class="col-md-6 no-padding-left">
                                    Price: <span class="price-text">&nbsp;{{testdetail.Price | currency }}</span>
                                </div>
                                <div class="col-md-6 no-padding-x">
                                    <div class="pull-right clearfix"> <input type="checkbox" ng-checked="testdetail.isChecked" ng-click="alacarteStatusChanged(testdetail)" ng-model="testdetail.isChecked" /> <label><b>Add to Cart</b></label></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="AllTests[$index+1]">
                        <div ng-if="!AllTests[$index+1].NotAvailable" class="col-md-6 pad-left-5" ng-switch-when="0">
                            <div class="test-block border-default clearfix test-block-new">
                                <div class="pull-left col-md-12">
                                    <div class="col-md-1 no-padding-x"><a class="test-block-add pull-left" href="javascript:void(0)">&nbsp;</a></div>
                                    <div class="col-md-11">
                                        <h4>
                                            {{AllTests[$index+1].Name}}
                                        </h4>
                                    </div>
                                    <div class="col-md-11 pull-right;"><a href="javascript:void(0);" class="pull-left right-buffer-10" ng-click="learnMore(AllTests[$index+1])">Learn More</a></div>
                                </div>
                                <div class="top-buffer-14 col-md-12">
                                    <div class="col-md-6 no-padding-left">
                                        Price: <span class="price-text">&nbsp;{{AllTests[$index+1].Price | currency }}</span>
                                    </div>
                                    <div class="col-md-6 no-padding-x">
                                        <span class="pull-right"> <input type="checkbox" ng-checked="AllTests[$index+1].isChecked" ng-click="alacarteStatusChanged(AllTests[$index+1])" ng-model="AllTests[$index+1].isChecked" /> <label><b>Add to Cart</b></label></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="top-buffer-16 hidden-lg col-md-12 no-padding-xs">
                <div ng-repeat="testdetail in AllTests">
                    <div class="" ng-if="!testdetail.NotAvailable">
                        <div class="test-block border-default clearfix">
                            <div class="clearfix">
                                <div class="single-event">
                                    <div class="table-look">
                                        <div class="table-row">
                                            <div class="table-cell test-block-cell1">
                                                <a class="test-block-add pull-left" href="javascript:void(0)">&nbsp;</a>
                                            </div>
                                            <div class="">
                                                <h4>
                                                    {{testdetail.Name}}<span class="price-text" ng-if="testdetail.TestId===TestTypes.KYN || testdetail.TestId===TestTypes.Echocardiogram || testdetail.TestId===TestTypes.MenBloodPanel || testdetail.TestId===TestTypes.WomenBloodPanel">({{testdetail.WithPackageprice | currency }})</span>
                                                    <span class="price-text" ng-if="testdetail.TestId != TestTypes.KYN && testdetail.TestId != TestTypes.Echocardiogram && testdetail.TestId != TestTypes.MenBloodPanel && testdetail.TestId != TestTypes.MenBloodPanel && testdetail.TestId != TestTypes.WomenBloodPanel">({{testdetail.Price | currency }})</span>
                                                </h4>
                                                <a href="javascript:void(0);" ng-click="learnMore(testdetail)" class="pull-left right-buffer-10">Learn More</a>
                                            </div>
                                            <div class="pull-right">
                                                <div class="styled-radio small">
                                                    <input type="radio" name="test_{{testdetail.TestId}}" ng-checked="testdetail.isChecked===true" ng-click="alacarteStatusChanged(testdetail)" ng-model="testdetail.isChecked" ng-value="true" /> <label>Yes</label>
                                                </div>
                                                <div class="styled-radio small">
                                                    <input type="radio" name="test_{{testdetail.TestId}}" ng-checked="testdetail.isChecked!=true" ng-click="alacarteStatusChanged(testdetail)" ng-model="testdetail.isChecked" ng-value="false" /> <label>No</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 hidden-xs hidden-md hidden-sm no-padding-right top-buffer-7">
            <order-summary-right-pannel></order-summary-right-pannel>
        </div>
        <div class="clearfix lower-btns">
            <div class="col-sm-12">
                <button class="btn btn-primary pull-left" ng-click="goToPreviousStep()" ng-disabled="isPosted"><span ng-hide="loader_back">&#60;</span> Back <i class="glyphicon glyphicon-refresh glyphicon-spin" ng-show="loader_back"></i></button>
                <button class="btn btn-primary btn-solid pull-right" ng-click="goToNextStep()" ng-disabled="isPosted">Continue <span ng-hide="loader_next">&#62;</span><i class="glyphicon glyphicon-refresh glyphicon-spin" ng-show="loader_next"></i></button>
            </div>
        </div>
    </div>
</div>
