<a title="Click for the Business Review of HealthFair, a Medical Testing Companies in Winter Park FL" href="javascript:void(0);"
	onclick="window.open('http://www.bbb.org/central-florida/business-reviews/medical-testing-companies/healthfair-in-winter-park-fl-185350435#sealclick', '', 'width=700, height=540, resizable=1, scrollbars=1');">
    <img alt="Click for the BBB Business Review of this Medical Testing Companies in Winter Park FL" src="https://seal-centralflorida.bbb.org/seals/blue-seal-120-61-healthfair-185350435.png" width="111" height="60" align="texttop" />
</a>