<p>
    We at HealthFair encourage you to take prevention to the next level.
    With proper nutrition, excersies and continued health screenings you can live a
    longer, healthier and more active life style
</p>
<p>
    We value your opinion and welcome your comments about your HealthFair
    screening experience. Please feel free to share them with us at <a href="surveylink.com"
        target="_blank">surveylink.com </a>
</p>
<p>
    In Addition, we will follow up with you from time to time to share information and
    tips about nutrition, fitness and overall health and wellness. We will also let
    you know when you are due for your next screening. In the meantime, we invite you
    to follow us on <a href="http://facebook.com/healthfairusa" target="_blank">facebook</a>
    or <a href="http://twitter.com/healthfairusa" target="_blank">twitter</a>
</p>
