@using Falcon.App.Core.Application
@model Falcon.App.Core.Operations.ViewModels.StaffEventScheduleUploadViewModel
@{
    ViewBag.Title = "Staff Schedule Upload";
}

<h2>Staff Schedule Upload (*.csv)</h2>

@if (Model != null)
{
    @Html.Partial("Message", new ViewDataDictionary(Model.FeedbackMessage))
}

@{ Html.BeginForm("ScheduleUpload", "Schedule", FormMethod.Post, new { enctype = "multipart/form-data" }); }

<div class="editor-row account-detail" id="upload-div" style="margin-top: 20px;">
    Upload file:
    <input type="file" name="scheduleUploadFile" />
    <input type="submit" id="FileSubmit" value="Upload" onclick=" fileUploadOperations() "/>
    <a style="margin-left: 20px;" target="_blank" href='@Model.SampleCsvMediaUrl'>Sample CSV</a>
    <a style="margin-left: 20px;" target="_blank" href='@Model.SampleRoleUrl'>Role Alias</a>
    <h4 style="width:250px; padding-top: 5px; "> Please upload a csv file! </h4>
</div>
<div id="parse-in-progress-div" style="display: none;">
    <br /><h4 style="width:250px;"> Upload in progress </h4><br />
    <img src="/Content/Images/pbar-ani.gif" style="width:400px; height: 40px;" />
</div>

<script type="text/javascript">
    function fileUploadOperations() {
        $("#parse-in-progress-div").show();
        $("#upload-div").hide();
    }
</script>

@{ Html.EndForm(); }
