@model IEnumerable<KeyValuePair<string,string>>

        @{
            var elements = Model.ToArray();
            <div class="editor-row" style="border: 1px solid #ddd; padding: 10px;">
                <div class="editor-column-twoinrow">

                    @for (int i = 0; i <= elements.Count() / 2; i++)
                    {
                        <div class="editor-row">

                            @elements[i].Key : <b>@elements[i].Value</b>

                        </div>
                    }

                </div>
                <div class="editor-column-twoinrow">
                    @for (int i = (elements.Count() / 2) + 1; i < elements.Count(); i++)
                    {
                        <div class="editor-row">

                            @elements[i].Key : <b>@elements[i].Value</b>

                        </div>
                    }
                </div>
            </div>

        }
