@using Falcon.App.UI.HtmlHelpers
@model Falcon.App.Core.CallQueues.ViewModels.CallQueueReportModelFilter
<h2>
    Search Records 
</h2>
<div style="padding-left: 5px; overflow: hidden;">
    <div class="editor-column" style="width: 40%">
        <div class="small-text">
            Agent:
        </div>
        @Html.DropDownListFor(m => m.AssignedToOrgRoleUserId, DropDownHelper.GetCallCenterRep(), new { @style = "width: 85%" })
    </div>
    <div class="editor-column" style="width: 40%">
        <div class="small-text">
            Queue:
        </div>
        @Html.DropDownListFor(m => m.CallQueueId, DropDownHelper.GetCallQueue(), new { @style = "width: 85%" })
    </div>
    <div class="editor-column" style="padding-top: 10px; width: 18%; float: right; text-align:right;">
        @Html.ActionLink("Clear", "CallQueueReport", "Reports") | @Html.SubmitButton("Search")
    </div>
</div>