@using Falcon.App.UI.HtmlHelpers
@model Falcon.App.Core.CallCenter.ViewModels.CallCenterTeamListModelFilter
<h2>
    Search Records 
</h2>
<div style="padding-left: 5px; overflow: hidden;">
    <div class="editor-column" style="width: 35%">
        <div class="small-text">
            Name:
        </div>
        @Html.TextBoxFor(m => m.Name)
    </div>
    
</div>
<div style="padding-left: 5px; margin-top:5px; overflow: hidden;">
    <div class="editor-column" style="padding-top: 10px; width: 20%; float: right; text-align: right;">
        @Html.ActionLink("Clear", "ManageCallCenterTeam", "HealthPlanCallQueueCriteria") | @Html.SubmitButton("Search")
    </div>
</div>
