<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=phx01-hf001.corphealthfair.com;Initial Catalog=HealthfairProd;User ID=falconuser;Password=Screening!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="MediaLocation" value="\\sdl02-file01.matrixhealth.net\media.healthfair.com" />
    <add key="MediaUrl" value="https://media.healthfair.com" />
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthFairProd" />
    <add key="SiteConfigurableContentPath" value="B:\Websites\hip.healthfair.com\www\Config\Content" />
    <add key="TemplatePremiumVersionFileName" value="Template_PremiumVersion.htm" />
    <add key="TemplateClinicalFormFileName" value="Template_ClinicalForm.htm" />
    <add key="TemplateIndexPageFileName" value="Template_IndexPage.htm" />
    <add key="TemplateCoverLetterLocation" value="CoverLetter.htm" />
    <add key="CompanyCustomizedLetter" value="CompanyCustomizedLetter.Pdf" />
    <add key="ContentPages" value="" />
    <add key="SiteUrl" value="http://hip.HealthFair.com"/>
    <add key="Address1" value="9201 E. Mountain View Road"/>
    <add key="Address2" value="Suite 220"/>
    <add key="City" value="Scottsdale"/>
    <add key="State" value="Arizona"/>
    <add key="ZipCode" value="85258"/>
    <add key="FullBusinessName" value="Matrix Medical Network"/>
    <add key="PhoneTollFree" value="855-305-8378"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="IntervalinMinutesforPdfGeneration" value="1" />
    <add key="CopyOverMediainPremiumResultReport" value="false" />
    <add key="IncludeHealthAssesmentForm" value="false" />
    <add key="IncludeCustomerSectioninPremiumResultReport" value="false" />
    <add key="HealthAssesmentFormUrl" value="https://hip.healthfair.com/Medical/Results/HealthAssessment"/>
    <add key="ResultArchiveWaitDays" value="2" />
    <add key="ResultArchiveSharedDrivePath" value="\\sdl02-file01.matrixhealth.net\media.healthfair.com\HIP Result Archive\" />
    <add key="IsStrokeInferenceForPHS" value="false" />
    <add key="EKGParserFolderRepresentation" value="schiller" />
    <add key="EKGParsertoUse" value="EkgFileParser" />
    <add key="AaaParsertoUse" value="BioSoundAaaParser" />
    <add key="CleanUpHtmlFiles" value="true" />
    <add key="TemplateBloodLetterLocation" value="BloodLetter.pdf"/>
    <add key="DoctorLetter" value="DoctorLetter.pdf"/>
    <add key="TemplateCorporateCoverLetterLocation" value="Template_CorporateCoverLetter.htm"/>
    <add key="StrokeFindingChangeDate" value="04/04/2013"/>
    <add key="CheckShippingPurchase" value="false"/>
    <add key="kynData" value="kynData.xml"/>
    <add key="GenerateKynXmlInterval" value="15"/>
    <add key="FaxResultNotificationQueueTime" value="07:00:00" />
    <!--should be same in job/app.config-->
    <add key="TemplatePPCoverLetterLocation" value="PPCoverLetter.htm"/>
    <add key="KynXmlIntervalInMinutes" value="0"/>
    <add key="KynXmlIntervalInHours" value="1"/>

    <add key="PhysicianPartnerAccountId" value="929"/>
    <add key="TemplatePcpCoverLetterLocation" value="PCPCoverLetter.htm"/>
    <add key="BusinessName" value="Matrix Medical Network"/>

    <add key="CaptureBloodTest" value="true"/>
    <add key="BloodTestFolderLocation" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\BWAH\"/>
    <add key="BloodTestArchiveFolderLocation" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\archive\"/>
    <add key="BloodTestResultParserInterval" value="60"/>
    <!--Blood Test Result parser interval in min-->
    <add key="BloodTestChangeDate" value="02/09/2015"/>
    <add key="ShowHideRepeatStudyDate" value="02/24/2015" />
    <add key="BasicBiometricCutOfDate" value="03/25/2015"/>
    <add key="HemoglobinChangeDate" value="05/07/2015"/>

    <add key="BloodLabFolderLocation" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\BloodLab\"/>
    <add key="BloodLabArchiveFolderLocation" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\BloodLab\archive\"/>
    <add key="AwvAaaFindingChangeDate" value="07/22/2015"/>

    <add key="AppUrl" value="https://hip.HealthFair.com"/>

    <add key="DiabeticRetinopathyFolderLocation" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\IRIS\Reports\"/>
    <add key="DiabeticRetinopathyArchiveFolderLocation" value="\\sdl02-vm173.dmzmatrix.local\Prod-SFTP\IRIS\Reports\Archive\"/>
    <add key="DiabeticRetinopathyNoOfDaysToCheckForEvent" value="30"/>
    <!--Diabetic Retinopathy parser interval in min-->
    <add key="DiabeticRetinopathyResultParserInterval" value="60"/>

    <add key="ArchiveMediaUrl" value="https://media.healthfair.com/Archive"/>
    <add key="ArchiveMediaLocation" value="G:\Archive\media.healthfair.com"/>
    <add key="QualityMeasuresChangeDate" value="11/10/2015"/>
    <add key="Phq9ChangeDate" value="11/10/2015"/>
    <add key="AwvEchoFindingChangeDate" value="11/20/2015"/>
    <add key="WellmedAccountId" value="1003"/>
    <add key="MolinaAccountId" value="1031"/>
    <add key="AttachAttestationFormDate" value="03/31/2016"/>
    <add key="RedisDatabaseKey" value="1" />
    <add key="RedisServerHost" value="live-auth.corphealthfair.com"/>
    <add key="RedisChannelQueuePrefix" value="prod" />

    <add key="MammogramChangeDate" value="06/01/2016"/>

    <add key="IFobtChangeDate" value="07/28/2016"/>
    <add key="UrineMicroalbuminChangeDate" value="07/28/2016"/>
    <add key="TemplateTestNotPerformedLocation" value="Template_TestNoPerformed.htm"/>

    <add key="FluShotChangeDate" value="10/04/2016"/>
    <add key="AwvFluShotChangeDate" value="10/04/2016"/>
    <add key="PneumococcalChangeDate" value="10/04/2016"/>

    <add key="ChangeLeadReadingDate" value="10/07/2016"/>

    <add key="ChlamydiaChangeDate" value="11/23/2014" />
    <add key="DpnChangeDate" value="07/19/2017"  />
    <add key="HkynGenerationDate" value="10/15/2017" />

    <add key="HkynParsePdfPath" value="\\sdl02-file01.matrixhealth.net\media.healthfair.com\HkynRawDataRepository\Output\"/>
    <add key="HkynParsePdfIntervalInMinutes" value="15"/>

    <add key="NewHkynEventDate" value="01/10/2018"/>
    <add key="TraleUrl" value="https://webservices.trale.com/healthfair/"/>
    <add key="TraleApiKey" value="F105CFCE-D367-463D-B20B-E9EAB341506E"/>
    <add key="ProfileId" value="E875FF57-3221-4D8C-ACBD-79B784D3F940"/>
    <add key="TraleKey" value="8EDFGzDgYNosOty~^5fcwL?wMub2~cD@"/>
    <add key="TraleIv" value="oQ2es~utuYt+1Tar"/>
    <add key="BioCheckAssessmentFailedListPath" value="B:\Jobs\hip.healthfair.com\ResultPdfJob\FailedCustomerRecords"/>
    <add key="StopTrailService" value="false"/>
    <add key="ResultFlowChangeDate" value="10/30/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="https://hra.healthfair.com"/>
    <add key="MedicareApiUrl" value="api"/>
    <add key="AppleCareAccountId" value="1078"/>
    <add key="IpResultSftpFolderLocation" value="\\sdl01-vm12.matrixhealth.net\ScreenShareRoot\Screening\prod\"/>
    <add key="IpResultPdfIntervalInMinutes" value="5"/>

    <add key="NammAccountId" value="1122" />

    <add key="IpSendMediaFilesForTestIds" value="2,9,29,36,52,53,60,73,88,92,94,97"/>
    <add key="SendTestMediaFilesClientLocation" value="\\sdl01-vm12.matrixhealth.net\ScreenShareRoot\Screening\prod\{0}\Inbound"/>
    <add key="AdditionalTestIdToSendMediaFiles" value="73"/>
    <add key="ChaperoneFormUrl" value="https://hip.healthfair.com/Medical/Results/ChaperoneForm" />

    <add key="StopSendingMediaFileDate" value="01/01/2019"/>
    
    <add key="IsDevEnvironment" value="false" />
    <add key="SyncWithHra" value="true" />
    <add key="WellmedTxFocPath" value="\\sdl01-vm12.matrixhealth.net\ScreenShareRoot\FOC\prod"/>
    <add key="WellmedFlFocPath" value="\\sdl01-vm12.matrixhealth.net\ScreenShareRoot\FOC\prod"/>
    <add key="WellmedTxAccountId" value="1123" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>