<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=HealthFairProd;User ID=falconuser;Password=Screening!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="MediaLocation" value="F:\dev-media.healthfair.com" />
    <add key="MediaUrl" value="http://dev-media.healthfair.com" />
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HealthFairProd" />
    <add key="SiteConfigurableContentPath" value="D:\Websites\dev-hip.healthfair.com\www\Config\Content" />
    <add key="TemplatePremiumVersionFileName" value="Template_PremiumVersion.htm" />
    <add key="TemplateClinicalFormFileName" value="Template_ClinicalForm.htm" />
    <add key="TemplateIndexPageFileName" value="Template_IndexPage.htm" />
    <add key="TemplateCoverLetterLocation" value="CoverLetter.htm" />
    <add key="CompanyCustomizedLetter" value="CompanyCustomizedLetter.Pdf" />
    <add key="ContentPages" value="" />
    <add key="SiteUrl" value="http://dev-hip.HealthFair.com"/>
    <add key="Address1" value="9201 E. Mountain View Road"/>
    <add key="Address2" value="Suite 220"/>
    <add key="City" value="Scottsdale"/>
    <add key="State" value="Arizona"/>
    <add key="ZipCode" value="85258"/>
    <add key="FullBusinessName" value="Matrix Medical Network"/>
    <add key="PhoneTollFree" value="855-305-8378"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="IntervalinMinutesforPdfGeneration" value="1" />
    <add key="CopyOverMediainPremiumResultReport" value="false" />
    <add key="IncludeHealthAssesmentForm" value="false" />
    <add key="IncludeCustomerSectioninPremiumResultReport" value="false" />
    <add key="HealthAssesmentFormUrl" value="https://dev-hip.healthfair.com/Medical/Results/HealthAssessment"/>
    <add key="ResultArchiveWaitDays" value="15" />
    <add key="ResultArchiveSharedDrivePath" value="\\backupnas2\HIPARCHIVES\QA HIP Result Archive\" />
    <add key="IsStrokeInferenceForPHS" value="false" />
    <add key="EKGParserFolderRepresentation" value="schiller" />
    <add key="EKGParsertoUse" value="EkgFileParser" />
    <add key="AaaParsertoUse" value="BioSoundAaaParser" />
    <add key="CleanUpHtmlFiles" value="false" />
    <add key="TemplateBloodLetterLocation" value="BloodLetter.pdf"/>
    <add key="DoctorLetter" value="DoctorLetter.pdf"/>
    <add key="TemplateCorporateCoverLetterLocation" value="Template_CorporateCoverLetter.htm"/>
    <add key="StrokeFindingChangeDate" value="03/26/2013"/>
    <add key="CheckShippingPurchase" value="false"/>
    <add key="kynData" value="kynData.xml"/>
    <add key="GenerateKynXmlInterval" value="15"/>
    <add key="FaxResultNotificationQueueTime" value="04:40:00" />
    <!--should be same in job/app.config-->
    <add key="TemplatePPCoverLetterLocation" value="PPCoverLetter.htm"/>
    <add key="KynXmlIntervalInMinutes" value="0"/>
    <add key="KynXmlIntervalInHours" value="1"/>

    <add key="PhysicianPartnerAccountId" value="929"/>
    <add key="TemplatePcpCoverLetterLocation" value="PCPCoverLetter.htm"/>
    <add key="BusinessName" value="Matrix Medical Network"/>

    <add key="CaptureBloodTest" value="true"/>
    <add key="BloodTestFolderLocation" value="F:\SFTP\QA-SFTP\BWAH\"/>
    <add key="BloodTestArchiveFolderLocation" value="F:\SFTP\QA-SFTP\BWAH\archive\"/>
    <add key="BloodTestResultParserInterval" value="60"/>
    <add key="BloodTestChangeDate" value="02/09/2015"/>
    <add key="ShowHideRepeatStudyDate" value="02/24/2015" />
    <add key="BasicBiometricCutOfDate" value="03/22/2015"/>
    <add key="HemoglobinChangeDate" value="05/07/2015"/>

    <add key="BloodLabFolderLocation" value="F:\SFTP\QA-SFTP\BloodLab\"/>
    <add key="BloodLabArchiveFolderLocation" value="F:\SFTP\QA-SFTP\BloodLab\archive\"/>
    <add key="AwvAaaFindingChangeDate" value="07/22/2015"/>

    <add key="AppUrl" value="http://dev-hip.HealthFair.com"/>

    <add key="DiabeticRetinopathyFolderLocation" value="F:\SFTP\QA-SFTP\iris\reports\"/>
    <add key="DiabeticRetinopathyArchiveFolderLocation" value="F:\SFTP\QA-SFTP\iris\reports\Archive\"/>
    <add key="DiabeticRetinopathyNoOfDaysToCheckForEvent" value="15"/>
    <!--Diabetic Retinopathy parser interval in min-->
    <add key="DiabeticRetinopathyResultParserInterval" value="60"/>

    <add key="ArchiveMediaUrl" value="https://dev-media.healthfair.com/Archive"/>
    <add key="ArchiveMediaLocation" value="F:\Archive\dev-media.healthfair.com"/>
    <add key="QualityMeasuresChangeDate" value="11/10/2015"/>
    <add key="Phq9ChangeDate" value="11/10/2015"/>
    <add key="AwvEchoFindingChangeDate" value="11/18/2015"/>
    <add key="WellmedAccountId" value="1003"/>
    <add key="MolinaAccountId" value="1013"/>
    <add key="AttachAttestationFormDate" value="03/31/2016"/>
    <add key="RedisDatabaseKey" value="0" />
    <add key="RedisServerHost" value="dev-auth.corphealthfair.com"/>
    <add key="RedisChannelQueuePrefix" value="qa" />

    <add key="MammogramChangeDate" value="05/31/2016"/>

    <add key="IFobtChangeDate" value="07/28/2016"/>
    <add key="UrineMicroalbuminChangeDate" value="07/28/2016"/>
    <add key="TemplateTestNotPerformedLocation" value="Template_TestNoPerformed.htm"/>

    <add key="FluShotChangeDate" value="09/30/2016"/>
    <add key="AwvFluShotChangeDate" value="09/30/2016"/>
    <add key="PneumococcalChangeDate" value="09/30/2016"/>

    <add key="ChangeLeadReadingDate" value="10/05/2016"/>

    <add key="ChlamydiaChangeDate" value="11/18/2016" />
    <add key="DpnChangeDate" value="07/13/2017"  />
    <add key="HkynGenerationDate" value="10/20/2017" />

    <add key="HkynParsePdfPath" value="F:\dev-media.healthfair.com\HkynRawDataRepository\Output\"/>
    <add key="HkynParsePdfIntervalInMinutes" value="15"/>
    <add key="TraleUrl" value="http://qasurvey.corphealthfair.com/"/>
    <add key="TraleApiKey" value="35234B0D-2864-4567-B671-5EA945233069"/>
    <add key="ProfileId" value="E875FF57-3221-4D8C-ACBD-79B784D3F940"/>
    <add key="TraleKey" value="r+Dpu3z+rPS@~MK=4n!3H@?s+yA!5*_O"/>
    <add key="TraleIv" value="hYu#?z#5WG!6*gzs"/>
    <add key="IsDevEnvironment" value="true" />
    <add key="BioCheckAssessmentFailedListPath" value="D:\Jobs\dev-hip.healthfair.com\ResultPdf.Job\FailedCustomerRecords"/>
    <add key="StopTrailService" value="true"/>
    <add key="ResultFlowChangeDate" value="08/10/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="https://dev-hra.healthfair.com"/>
    <add key="MedicareApiUrl" value="api"/>

    <add key="AppleCareAccountId" value="1078"/>
    <add key="IpResultSftpFolderLocation" value="E:\SFTP\IpResultPdf\"/>
    <add key="IpResultPdfIntervalInMinutes" value="15"/>

    <add key="NammAccountId" value="1003" />

    <add key="IpSendMediaFilesForTestIds" value="2,9,29,36,52,53,60,73,88,92,94,97"/>
    <add key="SendTestMediaFilesClientLocation" value="E:\BPAHub\Clinical\{0}\Inbound"/>
    <add key="AdditionalTestIdToSendMediaFiles" value="73"/>
    <add key="ChaperoneFormUrl" value="https://dev-hip.healthfair.com/Medical/Results/ChaperoneForm" />
    
    <add key="StopSendingMediaFileDate" value="01/01/2019"/>
    <add key="SyncWithHra" value="true" />
    <add key="WellmedTxFocPath" value="D:\SFTP\Extracts\CHAT\WELLMEDTX\Outbound\PreInvoice"/>
    <add key="WellmedFlFocPath" value="D:\SFTP\Extracts\CHAT\WELLMEDFL\Outbound\PreInvoice"/>
    <add key="WellmedTxAccountId" value="1123" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>