<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=TZIN-D-TZC011;Initial Catalog=HF_01282019;User ID=sa;Password=Pass@123" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <!--Media Location-->
    <add key="MediaLocation" value="E:\Projects\Falcon\branches\dev\src\UI\media.falcon.com" />
    <add key="MediaUrl" value="http://localhost/Media.falcon.com" />
    <add key="CatalogNameUsageSetting" value="2" />
    <add key="CatalogNameToUse" value="HF_01282019" />
    <!-- Configurable Part for Result Packet Generation -->
    <add key="SiteConfigurableContentPath" value="E:\Projects\Falcon\branches\dev\src\UI\Config\Content" />
    <add key="TemplatePremiumVersionFileName" value="Template_PremiumVersion.htm" />
    <add key="TemplateClinicalFormFileName" value="Template_ClinicalForm.htm" />
    <add key="TemplateIndexPageFileName" value="Template_IndexPage.htm" />
    <add key="TemplateCoverLetterLocation" value="CoverLetter.htm" />
    <add key="TemplatePaperBackPremiumVersionLocation" value="" />
    <add key="TemplatePremiumVersionWithImagesLocation" value="" />
    <add key="TemplateBloodLetterLocation" value="BloodLetter.pdf" />
    <add key="DoctorLetter" value="DoctorLetter.pdf" />
    <add key="TemplateCorporateCoverLetterLocation" value="Template_CorporateCoverLetter.htm" />
    <add key="CompanyCustomizedLetter" value="CompanyCustomizedLetter.Pdf" />
    <add key="ContentPages" value="" />
    <add key="SiteUrl" value="http://localhost/" />
    <add key="Address1" value="9201 E. Mountain View Road"/>
    <add key="Address2" value="Suite 220"/>
    <add key="City" value="Scottsdale"/>
    <add key="State" value="Arizona"/>
    <add key="ZipCode" value="85258"/>
    <add key="FullBusinessName" value="Matrix Medical Network" />
    <add key="PhoneTollFree" value="1-800-111-5555" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="IntervalinMinutesforPdfGeneration" value="2" />
    <add key="CopyOverMediainPremiumResultReport" value="true" />
    <add key="IncludeHealthAssesmentForm" value="false" />
    <add key="IncludeCustomerSectioninPremiumResultReport" value="true" />
    <add key="HealthAssesmentFormUrl" value="http://localhost/Medical/Results/HealthAssessment" />
    <add key="ResultArchiveWaitDays" value="0" />
    <add key="ResultArchiveSharedDrivePath" value="" />
    <add key="IsStrokeInferenceForPHS" value="false" />
    <add key="EKGParserFolderRepresentation" value="schiller" />
    <add key="EKGParsertoUse" value="EkgFileParser" />
    <add key="AaaParsertoUse" value="BioSoundAaaParser" />
    <add key="CleanUpHtmlFiles" value="false" />
    <add key="HideEkgSection" value="true" />
    <add key="StrokeFindingChangeDate" value="03/02/2013" />
    <add key="CheckShippingPurchase" value="false" />
    <add key="kynData" value="kynData.xml" />
    <add key="GenerateKynXmlInterval" value="15" />
    <add key="FaxResultNotificationQueueTime" value="23:00:00" />
    <!--should be same in job/app.config-->
    <add key="TemplatePPCoverLetterLocation" value="PPCoverLetter.htm" />
    <add key="KynXmlIntervalInMinutes" value="0" />
    <add key="KynXmlIntervalInHours" value="24" />
    <add key="PhysicianPartnerAccountId" value="929" />
    <add key="TemplatePcpCoverLetterLocation" value="PCPCoverLetter.htm" />
    <add key="BusinessName" value="Matrix Medical Network" />
    <add key="CaptureBloodTest" value="true" />
    <add key="BloodTestFolderLocation" value="f:\SFTP\BloodTests\" />
    <add key="BloodTestArchiveFolderLocation" value="f:\SFTP\BloodTests\BloodTestArchived\" />
    <add key="BloodTestResultParserInterval" value="60" />
    <!--Blood Test Result parser interval in min-->
    <add key="BloodTestChangeDate" value="02/09/2015" />
    <add key="ShowHideRepeatStudyDate" value="02/02/2015" />
    <add key="HemoglobinChangeDate" value="05/07/2015" />
    <add key="BloodLabFolderLocation" value="f:\SFTP\BloodLab\" />
    <add key="BloodLabArchiveFolderLocation" value="f:\SFTP\BloodLab\Archive\" />
    <add key="AwvAaaFindingChangeDate" value="07/02/2015" />
    <add key="AppUrl" value="http://localhost" />
    <add key="DiabeticRetinopathyFolderLocation" value="f:\SFTP\iris\reports\" />
    <add key="DiabeticRetinopathyArchiveFolderLocation" value="f:\SFTP\iris\reports\Archive\" />
    <add key="DiabeticRetinopathyNoOfDaysToCheckForEvent" value="7" />
    <!--Diabetic Retinopathy parser interval in min-->
    <add key="DiabeticRetinopathyResultParserInterval" value="60" />
    <add key="ArchiveMediaUrl" value="http://localhost/Media.falcon.com/Archive" />
    <add key="ArchiveMediaLocation" value="f:\Archive\media.healthfair.com" />
    <add key="QualityMeasuresChangeDate" value="11/10/2015" />
    <add key="Phq9ChangeDate" value="11/10/2015" />
    <add key="AwvEchoFindingChangeDate" value="11/10/2015" />
    <add key="WellmedAccountId" value="1003" />
    <add key="MolinaAccountId" value="1031" />
    <add key="AttachAttestationFormDate" value="03/03/2016" />
    <add key="RedisDatabaseKey" value="0" />
    <add key="RedisServerHost" value="localhost" />
    <add key="RedisChannelQueuePrefix" value="local" />
    <add key="MammogramChangeDate" value="31/05/2016" />
    <add key="IFobtChangeDate" value="28/07/2016" />
    <add key="UrineMicroalbuminChangeDate" value="28/07/2016" />
    <add key="TemplateTestNotPerformedLocation" value="Template_TestNoPerformed.htm" />
    <add key="FluShotChangeDate" value="09/09/2016" />
    <add key="AwvFluShotChangeDate" value="09/09/2016" />
    <add key="PneumococcalChangeDate" value="09/09/2016" />
    <add key="ChangeLeadReadingDate" value="10/05/2016" />
    <add key="ChlamydiaChangeDate" value="11/16/2016" />
    <add key="DpnChangeDate" value="13/07/2017"  />
    <add key="HkynGenerationDate" value="12/10/2017" />
    <add key="HkynParsePdfPath" value="f:\official\docs\outreach\"/>
    <add key="HkynParsePdfIntervalInMinutes" value="15"/>
    <add key="NewHkynEventDate" value="10/01/2018"/>
    <add key="IsDevEnvironment" value="true" />
    <add key="TraleUrl" value="https://webservices.trale.com/healthfairsandbox/"/>
    <add key="TraleApiKey" value="35234B0D-2864-4567-B671-5EA945233069"/>
    <add key="ProfileId" value="E875FF57-3221-4D8C-ACBD-79B784D3F940"/>
    <add key="TraleKey" value="r+Dpu3z+rPS@~MK=4n!3H@?s+yA!5*_O"/>
    <add key="TraleIv" value="hYu#?z#5WG!6*gzs"/>
    <add key="BioCheckAssessmentFailedListPath" value="f:\Projects\tags\Prod_HF_20180412\src\Jobs.ResultPdfService\bin\Debug\FailedCustomerRecords"/>
    <add key="StopTrailService" value="false"/>
    <add key="ResultFlowChangeDate" value="08/10/2018"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"/>
    <add key="MedicareAppUrl" value="http://localhost:7060"/>
    <add key="MedicareApiUrl" value="api"/>

    <add key="AppleCareAccountId" value="1078"/>
    <add key="IpResultSftpFolderLocation" value="D:\SFTP\IpResultPdf\"/>
    <add key="IpResultPdfIntervalInMinutes" value="15"/>

    <add key="NammAccountId" value="1003" />

    <add key="IpSendMediaFilesForTestIds" value="2,9,36,52,53,60,73,88,92,94,97"/>
    <add key="SendTestMediaFilesClientLocation" value="D:\SFTP\SendTestMediaFilesClientLocation\{0}\Inbound"/>
    <add key="AdditionalTestIdToSendMediaFiles" value="73"/>
    <add key="ChaperoneFormUrl" value="http://localhost/Medical/Results/ChaperoneForm" />
    <add key="SyncWithHra" value="true" />
    <add key="WellmedTxFocPath" value="D:\SFTP\Extracts\CHAT\WELLMEDTX\Outbound\PreInvoice"/>
    <add key="WellmedFlFocPath" value="D:\SFTP\Extracts\CHAT\WELLMEDFL\Outbound\PreInvoice"/>
    <add key="WellmedTxAccountId" value="1123" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>