<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="logs/${shortdate}"/>
  <targets>
    <target name="file" xsi:type="File" fileName="${logDirectory}/${logger}.txt" layout="${date:format=yyyyMMddHHmmss} ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>