<?xml version="1.0"?>

<securitySwitch   xmlns="http://SecuritySwitch-v4.xsd" mode="RemoteOnly" ignoreAjaxRequests="true" bypassSecurityWarning="true">
  <paths>
    <!-- Secure the root Login.aspx page, as well as the Admin and Manage sub-directories (and anything under them). -->
    <add path="~/"/>
    <!--<add path="~/Public/Customer/"/>
    <add path="~/Public/Account/"/>
    <add path="Public/AutoCompleteService.asmx/GetMatchingCityByStateName"/>
    <add path="~/Public/LoginManagement/Login.aspx"/>
    <add path="~/App/Customer" />
    <add path="~/Config/Content/Controls/SmallPrintReciept.aspx" />
    <add path="~/Communication/AppointmentConfirmation" />
    <add path="~/Users/Profile/Edit" />
    <add path="~/DigitalDelivery.aspx" />
    <add path="~/App/Common/Results.aspx" />
    <add path="~/App/Common/ChangePassword.aspx" />
    <add path="~/Users/Role/Switch" />
    <add path="~/Users/Dashboard/Customer" />

    <add path="~/App/Franchisee/Technician/AcceptPayment.aspx"/>
    <add path="~/App/CallCenter/CallCenterRep/ExistingCustomer/BillingInformationExisting.aspx"/>
    <add path="~/App/Common/RegisterCustomer/BillingInformationRegister.aspx"/>
    <add path="~/login"/>
    <add path="~/Scheduling/Online/LocationAndAppointmentSlot" />
    <add path="~/Scheduling/Online/Info" />
    <add path="~/Scheduling/Online/Package" />
    <add path="~/Scheduling/Online/Payment"/>
    <add path="~/Scheduling/Online/ThankYou"/>

    <add path="~/Users/Dashboard/HospitalPartnerCoordinator" />
    <add path="~/Users/Dashboard/ResultSummaryChart" />
    <add path="~/Users/Dashboard/HospitalPartnerStatusChart" />
    <add path="~/Users/Dashboard/HospitalPartnerScheduledOutcomeChart" />
    <add path="~/Users/Dashboard/HospitalPartnerNotScheduledOutcomeChart" />
    <add path="~/Sales/HospitalPartner/" />
    <add path="~/App/MedicalVendor/MedicalHistory.aspx" />-->
    <!--
    <add path="~/Medical/Results/ResultStatusList" />    
    <add path="~/App/Franchisee/Technician/AuditResultEntry.aspx" />
    <add path="~/App/Common/EditResult.aspx" />
    <add path="~/App/MedicalVendor/Evaluation.aspx" />
    <add path="~/App/Common/PostAudit.aspx" />
    <add path="~/App/Franchisee/Technician/EventCustomerList.aspx" />
    <add path="~/App/Franchisor/FranchisorCustomerDetails.aspx" />
    <add path="~/App/Franchisee/FranchiseeCustomerDetails.aspx" />
    <add path="~/App/Franchisee/Technician/TechnicianCustomerDetails.aspx" />
    <add path="~/App/CallCenter/CallCenterRep/CallCenterRepCustomerDetails.aspx" />
      -->
    <!--<add path="~/medical/medicareQuestion/" security="Ignore" />
    <add path="~/Scripts/" security="Ignore" />
    <add path="~/Content/" security="Ignore" />
    <add path="~/App/Images/" security="Ignore" />
    <add path="~/App/Templates/" security="Ignore" />
    <add path="~/App/jquery/" security="Ignore" />
    <add path="~/App/JavascriptFiles/" security="Ignore" />
    <add path="~/App/StyleSheets/" security="Ignore" />
    <add path="~/Config/" security="Ignore" />-->
    
  </paths>
</securitySwitch>