<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" fileName="D:/Websites/dev-hip.healthfair.com/${logDirectory}/log.txt" xdt:Transform="Replace" xdt:Locator="Match(name)"  />
      <target name="EMRErrors" xsi:type="File" fileName="D:/Websites/dev-hip.healthfair.com/${logDirectory}/${logger}.txt" xdt:Transform="Replace" xdt:Locator="Match(name)"  />
    </targets>
  </nlog>

  <appSettings>
    <add key="LoginUrl" value="https://dev-hip.healthfair.com/login" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AppUrl" value="https://dev-hip.healthfair.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- LLBLGen Settings -->
    <add key="CatalogNameToUse" value="HealthFairProd" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!--Media Location-->
    <add key="MediaLocation" value="F:\dev-media.healthfair.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MediaUrl" value="https://dev-media.healthfair.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="UseTestUrl" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TransactionTestMode" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AuothorizeNetTransactionKey" value="9f9sH564E68vSLg9" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="APILogin" value="5Xx92Wxf" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="EligibilityTestMode" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EligibilityApiKey" value="4C5_69qnDntElCv2zNaRvd_3Nonvvyh-BNCv" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EligibilityProviderFirstName" value="Specialty Diagnostic" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EligibilityProviderLastName" value="Services LLC" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EligibilityProviderNpi" value="1316261969" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="SiteConfigurableContentPath" value="D:\Websites\dev-hip.healthfair.com\www\Config\Content" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ApplicationIdentity" value="OnlineCheckout" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ApplicatoinDomainUrl" value="/checkout/"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ShowScannedDocumentHospitalPartnerIds" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ArchiveMediaUrl" value="https://dev-media.healthfair.com/Archive" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ArchiveMediaLocation" value="F:\Archive\dev-media.healthfair.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="AuditEnabled" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MongoDbConnectionString" value="mongodb://dev-auth.corphealthfair.com:27017/?safe=true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DefaultMongoDatabase" value="QAAudit" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DefaultMongoDatabaseCollection" value="entities" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="SMSSystemIdentification" value="AC5565f9672a84ddb815df891627d1927f" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SMSAuthorizationToken" value="8967521ef4a2e76b0c69f3dc2f888e77" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SMSFromNumber" value="+12016251526" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RedisDatabaseKey" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="NoPastAppointmentInDays" value="180" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="WellmedAccountId" value="1003" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MolinaAccountId" value="1013" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RedisServerHost" value="dev-auth.corphealthfair.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RedisChannelQueuePrefix" value="dev" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="NeverBeenCalledInDays" value="365" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="NoPastAppointmentInDaysUncontactedCustomers" value="90" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ChangeLeadReadingDate" value="10/05/2016" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ChlamydiaChangeDate" value="11/18/2014"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <add key="HraQuestionerAppUrl" value="ehrauthentication"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MedicareApiUrl" value="api"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MedicareTokenKeyName" value="dev_penguin_token"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="FastingStatusDate" value="01/16/2017" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DashboardEventListingPageSize" value="10" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MonarchAccountId" value="1003" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <add key="DpnChangeDate" value="07/13/2017"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="StartYear" value="2015" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="HideQuantaFloAbiSection" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CustomerReturnInCallQueue" value="3" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="HkynGenerationDate" value="10/15/2017" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ZipRangeInMiles" value="25" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RefusedCustomerReturnInCallQueue" value="14" xdt:Transform="Replace" xdt:Locator="Match(key) "/>
    <add key="MailRoundLeftVoiceMailDefault" value="3" xdt:Transform="Replace" xdt:Locator="Match(key) "/>
    <add key="MailRoundAllCallDefault" value="5" xdt:Transform="Replace" xdt:Locator="Match(key) "/>
    <add key="FillEventAllCallDefault" value="3" xdt:Transform="Replace" xdt:Locator="Match(key) "/>
    <add key="FillEventRefusedCustomerDefault" value="3" xdt:Transform="Replace" xdt:Locator="Match(key) "/>
    <add key="CallQueueMaxAttemptDefault" value="10" xdt:Transform="Replace" xdt:Locator="Match(key) "/>
    <add key="NewHkynEventDate" value="01/10/2018" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="EventSuspentionCutoffDays" value="60" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EodGcCutoffDate" value="05/03/2018" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ChecklistChangeDate" value="12/31/2022" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CustomerForMedicationSyncCutoffDays" value="7" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <add key="GmsAccountIds" value="1003" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ResultFlowChangeDate" value="08/10/2018" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MedicareAppUrl" value="https://dev-hra.healthfair.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MedicareSessionValidityDuration" value="12" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ChatQuestionerAppUrl" value="http://phx01-vm170.matrixhealth.net:3030" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ChatAssessmentPdfUrl" value="http://phx01-vm124.matrixhealth.net:8181/cb-rs/getAssessmentPdf" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ChatAssessmentPdfUserName" value="matrix-chatwebsrv" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ChatAssessmentPdfPassword" value="P&#42;&#43;BG&#36;FJ&#37;F&#91;3Mpu&#34;&#33;&#42;ds&#33;sj&#62;&#126;&#96;a&#43;&#60;w" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SyncWithHra" value="true" />
  </appSettings>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=HealthFairProd;User ID=falconuser;Password=Screening!" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <authentication mode="Forms">
      <forms timeout="180" loginUrl="/login" cookieless="UseCookies" requireSSL="true" slidingExpiration="true" xdt:Transform="Replace" />
    </authentication>
    <httpCookies httpOnlyCookies="true" requireSSL="true" xdt:Transform="Replace" />
  </system.web>
</configuration>