<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" fileName="F:/Websites/hip-dr.healthfair.com/${logDirectory}/log.txt" xdt:Transform="Replace" xdt:Locator="Match(name)"  />
      <target name="EMRErrors" xsi:type="File" fileName="F:/Websites/hip-dr.healthfair.com/${logDirectory}/${logger}.txt" xdt:Transform="Replace" xdt:Locator="Match(name)"  />
    </targets>
  </nlog>

  <appSettings>
    <add key="LoginUrl" value="https://hip-dr.healthfair.com/login" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AppUrl" value="https://hip-dr.healthfair.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- LLBLGen Settings -->
    <add key="CatalogNameToUse" value="HealthFairDr" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!--Media Location-->
    <add key="MediaLocation" value="F:\Websites\media-dr.healthfair.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MediaUrl" value="https://media-dr.healthfair.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="UseTestUrl" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TransactionTestMode" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AuothorizeNetTransactionKey" value="9f9sH564E68vSLg9" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="APILogin" value="5Xx92Wxf" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="EligibilityTestMode" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EligibilityApiKey" value="4C5_69qnDntElCv2zNaRvd_3Nonvvyh-BNCv" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EligibilityProviderFirstName" value="Specialty Diagnostic" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EligibilityProviderLastName" value="Services LLC" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EligibilityProviderNpi" value="1316261969" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="SiteConfigurableContentPath" value="F:\Websites\hip-dr.healthfair.com\www\Config\Content" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ApplicationIdentity" value="OnlineCheckout" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ApplicatoinDomainUrl" value="/checkout/"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ShowScannedDocumentHospitalPartnerIds" value="967" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ArchiveMediaUrl" value="https://media.healthfair.com/Archive" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ArchiveMediaLocation" value="F:\Websites\Archive\media-dr.healthfair.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="AuditEnabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MongoDbConnectionString" value="mongodb://127.0.0.1:27017/?safe=true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DefaultMongoDatabase" value="HipAudit" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DefaultMongoDatabaseCollection" value="entities" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="SMSSystemIdentification" value="AC5a410236e27e8ad7af0b3aa71570db04" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SMSAuthorizationToken" value="8938d2aff74a02ae7eb17a473b5c0a5a" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SMSFromNumber" value="+14072552477" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="RedisDatabaseKey" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="NoPastAppointmentInDays" value="180" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="WellmedAccountId" value="1003" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MolinaAccountId" value="1013" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RedisServerHost" value="127.0.0.1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RedisChannelQueuePrefix" value="dr" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="NeverBeenCalledInDays" value="365" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="NoPastAppointmentInDaysUncontactedCustomers" value="90" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ChangeLeadReadingDate" value="10/07/2016" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MonarchAccountId" value="1065" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="HideQuantaFloAbiSection" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="EventSuspentionCutoffDays" value="60" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EodGcCutoffDate" value="05/03/2018" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CustomerForMedicationSyncCutoffDays" value="7" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ChatQuestionerAppUrl" value="http://phx01-vm170.matrixhealth.net:3030" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
  </appSettings>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.100.119;Initial Catalog=HealthFairDr;User ID=falconuser;Password=Screening!" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <authentication mode="Forms">
      <forms timeout="180" loginUrl="/login" cookieless="UseCookies" requireSSL="true" slidingExpiration="true" xdt:Transform="Replace" />
    </authentication>
    <httpCookies httpOnlyCookies="true" requireSSL="true" xdt:Transform="Replace" />
  </system.web>
</configuration>