<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" fileName="E:/Websites/hip.healthfair.com/${logDirectory}/log.txt" xdt:Transform="Replace" xdt:Locator="Match(name)"  />
      <target name="EMRErrors" xsi:type="File" fileName="E:/Websites/hip.healthfair.com/${logDirectory}/${logger}.txt" xdt:Transform="Replace" xdt:Locator="Match(name)"  />
    </targets>
  </nlog>

  <appSettings>
    <add key="LoginUrl" value="https://hip4.healthfair.com/login" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AppUrl" value="https://hip4.healthFair.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- LLBLGen Settings -->
    <add key="CatalogNameToUse" value="HealthFairProd" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!--Media Location-->
    <add key="MediaLocation" value="\\HIPAPP3\Media\media.healthfair.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MediaUrl" value="https://media4.healthfair.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="UseTestUrl" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TransactionTestMode" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AuothorizeNetTransactionKey" value="9f9sH564E68vSLg9" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="APILogin" value="5Xx92Wxf" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="EligibilityTestMode" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EligibilityApiKey" value="4C5_69qnDntElCv2zNaRvd_3Nonvvyh-BNCv" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EligibilityProviderFirstName" value="Specialty Diagnostic" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EligibilityProviderLastName" value="Services LLC" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EligibilityProviderNpi" value="1316261969" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="SiteConfigurableContentPath" value="E:\Websites\hip.healthfair.com\www\Config\Content" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ApplicationIdentity" value="OnlineCheckout" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ApplicatoinDomainUrl" value="/checkout/"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ShowScannedDocumentHospitalPartnerIds" value="967" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ArchiveMediaUrl" value="https://media4.healthfair.com/Archive" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ArchiveMediaLocation" value="\\HIPAPP3\Media\Archive\media.healthfair.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="AuditEnabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MongoDbConnectionString" value="mongodb://192.168.110.7:27017,192.168.110.9:27017,192.168.110.12:27017/?replicaSet=HIPMONGO3&amp;readPreference=primaryPreferred&amp;safe=true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DefaultMongoDatabase" value="HipAudit" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DefaultMongoDatabaseCollection" value="entities" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="SMSSystemIdentification" value="AC5a410236e27e8ad7af0b3aa71570db04" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SMSAuthorizationToken" value="8938d2aff74a02ae7eb17a473b5c0a5a" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SMSFromNumber" value="+14072552477" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="RedisDatabaseKey" value="2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="NoPastAppointmentInDays" value="180" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="WellmedAccountId" value="1003" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MolinaAccountId" value="1013" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RedisServerHost" value="192.168.110.12:6378" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RedisChannelQueuePrefix" value="prod" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="NeverBeenCalledInDays" value="365" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="NoPastAppointmentInDaysUncontactedCustomers" value="90" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ChangeLeadReadingDate" value="10/07/2016" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ChlamydiaChangeDate" value="11/23/2014"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="HraQuestionerAppUrl" value="ehrauthentication"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OrganizationNameForHraQuestioner" value="HealthFair"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MedicareApiUrl" value="api"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MedicareTokenKeyName" value="prod_penguin_token"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="FastingStatusDate" value="01/17/2017" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DashboardEventListingPageSize" value="10" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MonarchAccountId" value="1060" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DpnChangeDate" value="07/19/2017"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="UseSentinel" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="StartYear" value="2015" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="HideQuantaFloAbiSection" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CustomerReturnInCallQueue" value="3" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="HkynGenerationDate" value="10/15/2017" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ZipRangeInMiles" value="25" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="RefusedCustomerReturnInCallQueue" value="14" xdt:Transform="Replace" xdt:Locator="Match(key) "/>
    <add key="MailRoundLeftVoiceMailDefault" value="3" xdt:Transform="Replace" xdt:Locator="Match(key) "/>
    <add key="MailRoundAllCallDefault" value="5" xdt:Transform="Replace" xdt:Locator="Match(key) "/>
    <add key="FillEventAllCallDefault" value="3" xdt:Transform="Replace" xdt:Locator="Match(key) "/>
    <add key="FillEventRefusedCustomerDefault" value="3" xdt:Transform="Replace" xdt:Locator="Match(key) "/>
    <add key="CallQueueMaxAttemptDefault" value="10" xdt:Transform="Replace" xdt:Locator="Match(key) "/>
    <add key="NewHkynEventDate" value="01/10/2018" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="EventSuspentionCutoffDays" value="60" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EodGcCutoffDate" value="05/03/2018" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ChecklistChangeDate" value="12/31/2022" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CustomerForMedicationSyncCutoffDays" value="7" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="GmsAccountIds" value="1082,1086,1014" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ResultFlowChangeDate" value="10/30/2018" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MedicareAppUrl" value="https://hra3.healthfair.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MedicareSessionValidityDuration" value="12" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ChatQuestionerAppUrl" value="https://chatmobile.matrixhealth.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ChatAssessmentPdfUrl" value="http://phx01-vm124.matrixhealth.net:8181/cb-rs/getAssessmentPdf" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ChatAssessmentPdfUserName" value="matrix-chatwebsrv" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ChatAssessmentPdfPassword" value="P&#42;&#43;BG&#36;FJ&#37;F&#91;3Mpu&#34;&#33;&#42;ds&#33;sj&#62;&#126;&#96;a&#43;&#60;w" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    
  </appSettings>

  <connectionStrings>
    <!--
    <add name="ConnectionString" connectionString="Data Source=192.168.110.3;Initial Catalog=HealthFairProd;User ID=falconuser;Password=Screening!" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    
    <add name="ConnectionString" connectionString="Server=tcp: 192.168.110.11,1433;Database=HealthFairProd;User ID=sa;Password=Hip3@Taazaa@2017!!!" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    -->
    <add name="ConnectionString" connectionString="Server=tcp: HIP3_LISTENER,1433;Database=HealthFairProd;Integrated Security=SSPI" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <authentication mode="Forms" xdt:Transform="Replace">
      <forms timeout="180" loginUrl="/login" cookieless="UseCookies" requireSSL="true" slidingExpiration="true" />
    </authentication>
    <sessionState mode="Custom" cookieless="UseCookies" timeout="90" customProvider="MySessionStateStore" xdt:Transform="Replace">
      <providers>
        <!--
          <add name="MySessionStateStore"
           host = "127.0.0.1" [String]
            port = "" [number]
            accessKey = "" [String]
            ssl = "false" [true|false]
            throwOnError = "true" [true|false]
            retryTimeoutInMilliseconds = "0" [number]
          />
        -->
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="192.168.110.12" port="6378" accessKey="" ssl="false" 
             retryTimeoutInMilliseconds="1000" databaseId = "2" throwOnError = "true"  />
      </providers>
    </sessionState>
    <httpCookies httpOnlyCookies="true" requireSSL="true" xdt:Transform="Replace" />
  </system.web>
</configuration>