<main class="main" view-load-completed>
    <div class="container no-padding bg-default" us-spinner spinner-key="online-spinner">
        <section data-ng-controller="RequestEventController as event">
            <quantcast name1="Location" name2="Request"></quantcast>
            <form name="eventRequestForm" data-ng-submit="requestForEvents(eventRequestForm)" novalidate>
                <div class="sub-header bg-success">
                    <div class="header-right">
                        <div class="pull-left progress-wrap">
                            <p class="no-margin text-center">Checking Progress (0%)</p>
                            <div class="clearfix top-buffer-4">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0">
                                    </div>
                                </div>
                                <div class="top-buffer-6 text-center">
                                    <i class="glyphicon glyphicon-menu-down"></i>
                                </div>
                            </div>
                            <div class="hidden-lg hidden-md">
                                <percent-display percent="0" side="40" colors="#FFFFFF #55a651"></percent-display>
                                <div class="top-buffer-6 text-center">
                                    <i ng-class="{'glyphicon glyphicon-menu-down': !$root.showProgressBar, 'glyphicon glyphicon-menu-up': $root.showProgressBar}"></i>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-summary pull-right">Summary <br /><i class="glyphicon glyphicon-menu-down"></i></button>
                    </div>
                    <div class="header-left">
                        <h2 class="no-margin">Request for a Screening in My Area</h2>
                    </div>
                </div>
                <div class="main-container border-default">
                    <div class="event-search-wrap request-event-wrap">
                        <h4 class="text-center no-margin">Dear Valued Matrix Medical Network Customer,</h4>
                        <p class="text-center top-buffer-12">we are constantly updating our locations and would be happy to contact you by email or phone when our next event will be in your area. Please enter your First name, Last name, e-mail address, and/or your phone number below. You may also contact our customer service department at 855-755-8378.</p>
                        <div class="top-buffer-10 clearfix">
                            <div class="col-sm-10 col-sm-offset-1 no-padding-xs">
                                <div class="clearfix top-buffer-20">
                                    <div class="col-md-6 required-field no-padding-xs" ng-class="{'error-message' : eventRequestForm.submitted != undefined && eventRequestForm.submitted && eventRequestForm.firstName.$error.required}">
                                        <input type="text" class="form-control" name="firstName" placeholder="First Name" ng-model="firstName" required />
                                    </div>
                                    <div class="col-md-6 required-field no-padding-xs top-buffer-16-sm" ng-class="{'error-message' : eventRequestForm.submitted != undefined && eventRequestForm.submitted && eventRequestForm.lastName.$error.required}">
                                        <input type="text" class="form-control" name="lastName" placeholder="Last Name" ng-model="lastName" required />
                                    </div>
                                </div>
                                <div class="clearfix top-buffer-16">
                                    <div class="col-md-6 required-field no-padding-xs" ng-class="{'error-message' : eventRequestForm.submitted != undefined && eventRequestForm.submitted && eventRequestForm.phone.$error.required}">
                                        <input type="tel" class="form-control" name="phone" placeholder="Your Phone" ng-model="phone" mask-format="phone" required ng-blur="pcblur=true;" ng-focus="pcblur=false;" ng-class="{'placeholder2': pcblur && (phone ==null || phone =='') }" />
                                    </div>
                                    <div class="col-md-6 no-padding-xs top-buffer-16-sm" ng-class="{'error-message' : eventRequestForm.submitted != undefined && eventRequestForm.submitted && eventRequestForm.custEmail.$error.email}">
                                        <input type="email" class="form-control" name="custEmail" placeholder="Your Email" ng-model="email" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix text-center top-buffer-20">
                            <button type="submit" class="btn btn-primary top-buffer-20 flat-xs">Request for a Screening in My Area</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</main>


