@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Prospect Customer Abandoned Report</title>
</head>
<body>
    <div>
        <h2>No Records Found! There might be an issue encountered! Please contact the system administrator at support@taazaa.com!</h2>
    </div>
</body>
</html>
