<ul style="margin:0px 7px;padding:0px 7px;list-style:decimal;">
    <li class="MsoNormal">
        <div style="width:auto;float:right;padding-left:20px;"><table cellpadding="0" cellspacing="0" border="0">
            <tr style="font:12px Arial;">
                <td width="80" align="right"><strong><u>Retail</u></strong><br />$59.00</td>
                <td width="80" align="right"><strong><u>Savings</u></strong><br />($21.00)</td>
                <td width="90" align="right"><strong><u>Your Cost</u></strong><br />$38.00</td>
            </tr>	
        </table></div>
        <span class="MsoNormal_hd">Stroke / Carotid Artery Disease</span><br />
        Studies show that 80-85% of strokes result from clots that break off and travel to smaller arteries in the brain.  Carotid Artery Disease is a leading cause of these clots.  Ultrasound is used to visualize inside the carotid arteries in the neck for dangerous blockages that could lead to a stroke.
    </li>
    
    <li class="MsoNormal">
        <div style="width:auto;float:right;padding-left:20px;"><table cellpadding="0" cellspacing="0" border="0">
            <tr style="font:12px Arial;">
                <td width="80" align="right"><strong><u>Retail</u></strong><br />$49.00</td>
                <td width="80" align="right"><strong><u>Savings</u></strong><br />($17.00)</td>
                <td width="90" align="right"><strong><u>Your Cost</u></strong><br />$32.00</td>
            </tr>	
        </table></div>
        <span class="MsoNormal_hd">Abdominal Aortic Aneurysm (AAA)</span><br />
        AAAs rarely display symptoms, but are fatal in 80-90% of cases when a rupture occurs. Ultrasound is used to visualize the aortic artery in the abdomen for an aneurysm (a balloon-like enlargement of the arterial wall).
    </li>
    
    <li class="MsoNormal">
        <div style="width:auto;float:right;padding-left:20px;"><table cellpadding="0" cellspacing="0" border="0">
            <tr style="font:12px Arial;">
                <td width="80" align="right"><strong><u>Retail</u></strong><br />$45.00</td>
                <td width="80" align="right"><strong><u>Savings</u></strong><br />($16.00)</td>
                <td width="90" align="right"><strong><u>Your Cost</u></strong><br />$29.00</td>
            </tr>	
        </table></div>
        <span class="MsoNormal_hd">Peripheral Artery Disease (PAD)</span><br />
        It is estimated that 10 million Americans have PAD. PAD can cause leg pain and poor circulation, and those affected are 4-5 times more likely to die from heart disease. We use ultrasound and computer oscillometry to detect plaque buildup in the lower extremities.
    </li>
</ul>

