{#param name=rank value=1}
{#param name=callCenterCallCenterUserId}
<h4 id="ClosingPercentageGlobalMetricsHeader" title="Closing Percentage|Percentage of customers that prepay as follows [prepaid customers/customers = closing percentage].  This metric demonstrates your effectiveness in getting customers with a screening appoointment to prepay.">&nbsp;Closing Percentage (<a href="#">?</a>)</h4>
<table id="ClosingPercentageGlobalMetricsTable" class="divgrid_clnew" cellspacing="0" cellpadding="0" width="100%" style="font-size: xx-small">
    <tr class="trhead">
        <th>
            <b>Call Center Rep</b>
        </th>
        <th>
            <b>Rank</b>
        </th>
        <th style="text-align:right;width:50px">
            <b>Closing %</b>
        </th>
    </tr>
    {#foreach $T as CallCenterRepMetricPair}
    {#if $T.CallCenterRepMetricPair.FirstValue.CallCenterRepId == $P.callCenterCallCenterUserId}
    <tr style="color: Red;font-weight: bold;" class="trheight">
    {#else}
    <tr class="trheight">
    {#/if}
        <td>
            {$T.CallCenterRepMetricPair.FirstValue.NameAsString}
        </td>
        <td>
            {$P.rank}
            {#param name=rank value=$P.rank+1}
        </td>
        <td style="text-align: right">            
            <span style="float:right; text-align: right;" class="ccrep-amount"> {($T.CallCenterRepMetricPair.SecondValue.ClosingPercentage * 100).toFixed(2)}% </span>
            <span style="float:right; display:none; text-align: right;" class="ccrep-amount">
                <a href="#" class="detail-anchor"> {($T.CallCenterRepMetricPair.SecondValue.ClosingPercentage * 100).toFixed(2)}%  </a>
                <input type="hidden" class='ccrepid-input-hidden' value={$T.CallCenterRepMetricPair.FirstValue.CallCenterRepId} />
            </span> 
            <br />
            <span style="float:right; text-align: right;"><i>{$T.CallCenterRepMetricPair.SecondValue.ClosingCallCount} / {$T.CallCenterRepMetricPair.SecondValue.BookingCallCount}</i></span>
        </td>
    </tr>
    {#/for}
</table>

{#literal}
<script type="text/javascript">
    $(function()
    {
        $('#ClosingPercentageGlobalMetricsHeader').cluetip(
        {
            splitTitle: '|',
            positionBy: 'mouse',
            tracking: true
        });
    });
</script>
{#/literal}