<ul style="margin:0px 7px;padding:0px 7px;list-style:none;">
    <li class="MsoNormal">
        <div style="width:auto;float:right;padding-left:20px;"><table cellpadding="0" cellspacing="0" border="0">
            <tr style="font:12px Arial;">
                <td width="80" align="right"><strong><u>Retail</u></strong><br />$29.00</td>
                <td width="80" align="right"><strong><u>Savings</u></strong><br />($0.00)</td>
                <td width="90" align="right"><strong><u>Your Cost</u></strong><br />$29.00</td>
            </tr>	
        </table></div>
        <span class="MsoNormal_hd">Colorectal Cancer</span><br />
        To identify your risk for Colorectal Cancer, the 2nd leading cause of cancer death in the US, we offer the iFOBT test. The iFOBT test increases your chances of early detection of colon cancer when it is most curable by detecting blood in your stool. It also increases your chances of detection of growths, called polyps, which can turn into cancer. This test is done in the privacy of your own home.
    </li>
</ul>
