<ul style="margin:0px 7px;padding:0px 7px;list-style:decimal;">
    <li class="MsoNormal">
        <div style="width:auto;float:right;padding-left:20px;"><table cellpadding="0" cellspacing="0" border="0">
            <tr style="font:12px Arial;">
                <td width="80" align="right"><strong><u>Retail</u></strong><br />$59.00</td>
                <td width="80" align="right"><strong><u>Savings</u></strong><br />($21.00)</td>
                <td width="90" align="right"><strong><u>Your Cost</u></strong><br />$38.00</td>
            </tr>	
        </table></div>
        <span class="MsoNormal_hd">Stroke / Carotid Artery Disease</span><br />
        Studies show that 80-85% of strokes result from clots that break off and travel to smaller arteries in the brain.  Carotid Artery Disease is a leading cause of these clots.  Ultrasound is used to visualize inside the carotid arteries in the neck for dangerous blockages that could lead to a stroke.
    </li>
    
    <li class="MsoNormal">
        <div style="width:auto;float:right;padding-left:20px;"><table cellpadding="0" cellspacing="0" border="0">
            <tr style="font:12px Arial;">
                <td width="80" align="right"><strong><u>Retail</u></strong><br />$49.00</td>
                <td width="80" align="right"><strong><u>Savings</u></strong><br />($17.00)</td>
                <td width="90" align="right"><strong><u>Your Cost</u></strong><br />$32.00</td>
            </tr>	
        </table></div>
        <span class="MsoNormal_hd">Abdominal Aortic Aneurysm (AAA)</span><br />
        AAAs rarely display symptoms, but are fatal in 80-90% of cases when a rupture occurs. Ultrasound is used to visualize the aortic artery in the abdomen for an aneurysm (a balloon-like enlargement of the arterial wall).
    </li>
    
    <li class="MsoNormal">
        <div style="width:auto;float:right;padding-left:20px;"><table cellpadding="0" cellspacing="0" border="0">
            <tr style="font:12px Arial;">
                <td width="80" align="right"><strong><u>Retail</u></strong><br />$45.00</td>
                <td width="80" align="right"><strong><u>Savings</u></strong><br />($16.00)</td>
                <td width="90" align="right"><strong><u>Your Cost</u></strong><br />$29.00</td>
            </tr>	
        </table></div>
        <span class="MsoNormal_hd">Peripheral Artery Disease (PAD)</span><br />
        It is estimated that 10 million Americans have PAD. PAD can cause leg pain and poor circulation, and those affected are 4-5 times more likely to die from heart disease. We use ultrasound and computer oscillometry to detect plaque buildup in the lower extremities.
    </li>
    
    <li class="MsoNormal">
        <div style="width:auto;float:right;padding-left:20px;"><table cellpadding="0" cellspacing="0" border="0">
            <tr style="font:12px Arial;">
                <td width="80" align="right"><strong><u>Retail</u></strong><br />$45.00</td>
                <td width="80" align="right"><strong><u>Savings</u></strong><br />($5.00)</td>
                <td width="90" align="right"><strong><u>Your Cost</u></strong><br />$40.00</td>
            </tr>	
        </table></div>
        <span class="MsoNormal_hd">Electrocardiogram (EKG)</span><br />
        Atrial fibrillation increases your stroke risk 5-fold. EKG may detect ischemia, silent heart attack, and irregular heartbeats (atrial fibrillation). A painless, 6 lead EKG is used to monitor the electrical activity and “rhythm” of your heart.
    </li>
    
     <li class="MsoNormal">
        <div style="width:auto;float:right;padding-left:20px;"><table cellpadding="0" cellspacing="0" border="0">
            <tr style="font:12px Arial;">
                <td width="80" align="right"><strong><u>Retail</u></strong><br />$39.00</td>
                <td width="80" align="right"><strong><u>Savings</u></strong><br />($19.00)</td>
                <td width="90" align="right"><strong><u>Your Cost</u></strong><br />$20.00</td>
            </tr>	
        </table></div>
        <span class="MsoNormal_hd">Arterial Stiffness Index (ASI)</span><br />
        The Arterial Stiffness Index (ASI) can identify hardening of the arteries, missed heartbeats, and arrhythmias. Hardened arteries cause your heart to work much harder when pushing blood through partially blocked arteries. These blockages, and the resulting strain on your heart, are a root cause of cardiovascular disease.
    </li>
    
    <li class="MsoNormal">
        <div style="width:auto;float:right;padding-left:20px;"><table cellpadding="0" cellspacing="0" border="0">
            <tr style="font:12px Arial;">
                <td width="80" align="right"><strong><u>Retail</u></strong><br />$59.00</td>
                <td width="80" align="right"><strong><u>Savings</u></strong><br />($39.00)</td>
                <td width="90" align="right"><strong><u>Your Cost</u></strong><br />$20.00</td>
            </tr>	
        </table></div>
        <span class="MsoNormal_hd">Lipid Panel + Glucose</span><br />
        The Lipid Panel measures known risk factors for heart disease and stroke including:  Total Cholesterol, HDL (good cholesterol), LDL (bad cholesterol), and Triglycerides (bad fat).  Glucose levels are measured to identify your risk of Diabetes.
    </li>
    
    <li class="MsoNormal">
        <div style="width:auto;float:right;padding-left:20px;"><table cellpadding="0" cellspacing="0" border="0">
            <tr style="font:12px Arial;">
                <td width="80" align="right"><strong><u>Retail</u></strong><br />$29.00</td>
                <td width="80" align="right"><strong><u>Savings</u></strong><br />($29.00)</td>
                <td width="90" align="right"><strong><u>Your Cost</u></strong><br />FREE</td>
            </tr>	
        </table></div>
        <span class="MsoNormal_hd">Framingham Risk Score*</span><br />
        The Framingham Risk Score measures your risk of a cardiovascular event (Heart Attack & Coronary Death) over the next 10 years.
        <br /><span style="font-size:11px;color:#666">*Only available with the purchase of the Lipid Panel + Glucose.</span>
    </li>
</ul>