<?xml version="1.0" encoding="utf-8" ?> 
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=HF;User ID=sa;Password=sa@123" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="CatalogNameUsageSetting" value="2"/>
    <add key="CatalogNameToUse" value="Healthfair"/>
    <add key="MedicareSyncUserId" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MedicareSyncRoleId" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MedicareSyncOrganizationId" value="1" xdt:Transform="Replace" xdt:Locator="Match(key)"/> 

    <add key="OrganizationNameForHraQuestioner" value="HealthFair"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MedicareApiUrl" value="api"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MedicareTokenKeyName" value="qa_penguin_token"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MedicareSyncCustomSettingsPath" value="F:\Jobs\qa-hip.healthfair.com\MedicareService.Job\Resource\"/>

    <add  key="MedicareCustomerIntervalHour" value="24" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="MedicareCustomerIntervalMinute" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="MedicareCustomerScheduleTime" value="05:00:00" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="MedicareHealthPlanScheduleTime" value="05:00:00" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="NoOfDaysToPickWhenWithoutSetting" value="15" xdt:Transform="Replace" xdt:Locator="Match(key)"/>


    <add  key="MedicareResultIntervalHour" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="MedicareResultIntervalMinute" value="15" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="MedicareResultScheduleTime" value="13:41:10" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add  key="MedicareCredentialIntervalHour" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="MedicareCredentialIntervalMinute" value="5" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add  key="MedicareCredentialScheduleTime" value="19:00:20" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add  key="MedicareMedicationSyncIntervalMinute" value="60" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CustomerForMedicationSyncCutoffDays" value="7" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="MedicareSuspectConditionSyncIntervalHour" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MedicareSuspectConditionSyncIntervalMinute" value="15" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MedicareSuspectConditionSyncScheduleTime" value="19:00:20" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CustomerForSuspectSyncCutoffDays" value="7" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ResultFlowChangeDate" value="08/28/2018" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MedicareAppUrl" value="https://qa-hra.healthfair.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SyncResultsReadyForCodingInterval" value="10" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SyncWithHra" value="true" />
    
    <add key="IsDevEnvironment" value="true" />
  </appSettings>
</configuration>